<nav class="navigation-mob">
  <ul class="navigation-mob__list">
    <li class="navigation-mob__item navigation-mob__item--active">
      <a class="navigation-mob__link" href="index.html">
        <svg class="navigation-mob__icon" width="45" height="45">
          <use xlink:href="img/sprite.svg#icon-home"></use>
        </svg>
        <span class="navigation-mob__name">Главная</span>
      </a>
    </li>
    <li class="navigation-mob__item">
      <a class="navigation-mob__link" href="catalog.html">
        <svg class="navigation-mob__icon" width="45" height="45">
          <use xlink:href="img/sprite.svg#icon-layer"></use>
        </svg>
        <span class="navigation-mob__name">Каталог</span>
      </a>
    </li>
    <li class="navigation-mob__item">
      <a class="navigation-mob__link" href="cart.html">
        <svg class="navigation-mob__icon" width="45" height="45">
          <use xlink:href="img/sprite.svg#icon-cart"></use>
        </svg>
        <span class="navigation-mob__name">Корзина</span>
      </a>
    </li>
    <li class="navigation-mob__item">
      <a class="navigation-mob__link" href="cabinet.html">
        <svg class="navigation-mob__icon" width="45" height="45">
          <use xlink:href="img/sprite.svg#icon-007-user"></use>
        </svg>
        <span class="navigation-mob__name">Профиль</span>
      </a>
    </li>
  </ul>
</nav>
