<div class="popup-overlay">
  <section class="popup popup-order">
    <div class="popup__wrapper">
      <div class="popup__header">
        <header class="mobile-header">
          <div class="mobile-header__inner">
            <a class="mobile-header__link" href="index.html">
              <svg class="mobile-header__icon" width="20" height="20">
                <use xlink:href="img/sprite.svg#icon-023-arrow-point-to-right"></use>
              </svg>
              <span class="visually-hidden">ссылка назад</span>
            </a>
            <div class="mobile-header__title">Реквизиты ООО Авалон</div>
          </div>
          <div class="mobile-header__buttons">
            <a class="button" href="add-company.html" aria-label="Редактировать компанию" data-id="js-popup-btn-mob">
              <svg class="button__icon" width="20" height="20">
                <use xlink:href="img/sprite.svg#icon-018-pencil-edit-button"></use>
              </svg>
            </a>
            <button class="button" type="button" aria-label="Удалить компанию">
              <svg class="button__icon" width="20" height="20">
                <use xlink:href="img/sprite.svg#icon-019-garbage"></use>
              </svg>
            </button>
          </div>
        </header>
      </div>
      <div class="popup__inner">
        <h3 class="popup__title">Реквизиты ООО Авалон</h3>
        <div class="requisites">
          <div class="requisites__warning">Общество с ограниченной ответственностью «Авалон»</div>
          <p>Сокращенное наименование: <span class="requisites__warning">ООО «Авалон»</span></p>
          <ul class="requisites__list">
            <li class="requisites__item">
              <div class="requisites__name">ИНН:</div>
              <div class="requisites__val">7804507731</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">КПП:</div>
              <div class="requisites__val">780401001</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">Р/с:</div>
              <div class="requisites__val">40702810006000003787 в Ст.-Петербургском ф-ле ПАО «Промсвязьбанк»,
                г.Санкт-Петербург</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">БИК:</div>
              <div class="requisites__val">044030920</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">К/с:</div>
              <div class="requisites__val">30101810000000000920</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">ОГРН:</div>
              <div class="requisites__val">1137847168678</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">Юридический адрес</div>
              <div class="requisites__val">195269, г. Санкт-Петербург, ул. Учительская, д. 18, к.1, 1
                этаж,
                офис 100-Н</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">Телефон</div>
              <div class="requisites__val">+7 (812) 643-346-0</div>
            </li>
            <li class="requisites__item">
              <div class="requisites__name">Генеральный директор:</div>
              <div class="requisites__val">Ермолаев Дмитрий Сергеевич</div>
            </li>
          </ul>
        </div>
        <div class="popup__bottom popup__bottom--hidden-sm">
          <a class="link-button popup__button" href="add-company.html">Редактировать</a>
          <button class="button popup-close" type="button" aria-label="Закрыть окно">Отмена</button>
        </div>
      </div>
    </div>
  </section>
</div>
