<div class="popup-overlay">
  <section class="popup popup-order">
    <div class="popup-order__wrapper">
      <!-- <button class="button popup-close" aria-label="Закрыть окно"></button> -->
      <h3 class="popup-order__title">Бесплатная установка модуля на сайт</h3>
      <form class="popup-order__form" action="https://echo.htmlacademy.ru" method="post">
        <ul class="popup-order__list">
          <li class="popup-order__item">
            <label class="visually-hidden" for="select-1">Выберите модуль</label>
            <div class="popup-order__select" id="select-1">
              <select class="search-form__select custom-select js-size select select-1">
                <option value="Все категории">Выберите модуль</option>
                <option value="Дизайн и Арт">Дизайн и Арт</option>
                <option value="Разработка сайтов">Разработка сайтов</option>
                <option value="Программирование">Программирование</option>
                <option value="Реклама и продвижение">Реклама и продвижение</option>
                <option value="Полиграфия">Полиграфия</option>
                <option value="Мобильные приложения">Мобильные приложения</option>
                <option value="Автоматизация бизнеса">Автоматизация бизнеса</option>
                <option value="Производство видео">Производство видео</option>
              </select>
            </div>
          </li>
          <li class="popup-order__item">
            <label class="visually-hidden" for="select-2">Выберите сайт для установки</label>
            <div class="popup-order__select" id="select-2">
              <select class="search-form__select custom-select js-size select select-2">
                <option value="Все категории">Выберите сайт для установки</option>
                <option value="Дизайн и Арт">Дизайн и Арт</option>
                <option value="Разработка сайтов">Разработка сайтов</option>
                <option value="Программирование">Программирование</option>
                <option value="Реклама и продвижение">Реклама и продвижение</option>
                <option value="Полиграфия">Полиграфия</option>
                <option value="Мобильные приложения">Мобильные приложения</option>
                <option value="Автоматизация бизнеса">Автоматизация бизнеса</option>
                <option value="Производство видео">Производство видео</option>
              </select>
            </div>
          </li>
        </ul>
        <div class="popup-order__bottom">
          <button class="button link-button popup-order__button" type="submit">Получить</button>
          <button class="button popup-close" type="button" aria-label="Закрыть окно">Отмена</button>
        </div>
      </form>
    </div>
  </section>
</div>
