<div class="wrapper">
<div class="promo-inner bl bl--br-bm">
  <div class="promo-inner__nav">
    <nav class="navigation-promo">
      <ul class="navigation-promo__list">
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="cat-1.html">
            <svg class="navigation-promo__icon navigation-promo__icon--pink" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-015-paintbrush"></use>
            </svg>
            <span class="navigation-promo__name">Дизайн и Арт</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-website"></use>
            </svg>
            <span class="navigation-promo__name">Разработка сайтов</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--orange" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-014-code"></use>
            </svg>
            <span class="navigation-promo__name">Программирование</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--blue" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-016-megaphone"></use>
            </svg>
            <span class="navigation-promo__name">Реклама и продвижение</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--green" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-011-picture"></use>
            </svg>
            <span class="navigation-promo__name">Полиграфия</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--blue-2" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-006-smartphone"></use>
            </svg>
            <span class="navigation-promo__name">Мобильные приложения</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--pink-2" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-briefcase"></use>
            </svg>
            <span class="navigation-promo__name">Автоматизация бизнеса</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link" href="#">
            <svg class="navigation-promo__icon navigation-promo__icon--purple" width="20" height="20">
              <use xlink:href="img/sprite.svg#icon-play"></use>
            </svg>
            <span class="navigation-promo__name">Производство видео</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <section class="promo-inner__info">
    <div class="breadcrumbs">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link">О проекте</a>
    </div>
    <h1 class="promo-inner__title title-inner">О проекте</h1>
    <p class="promo-inner__warning">Покупай результат, а не услугу!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
      amet
      lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
      parturient
      montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
      rhoncus
      sapien
      nunc eget odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
      amet
      lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
      parturient
      montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
      rhoncus
      sapien
      nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
      gravida
      dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
      penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
      mollis orci,
      sed rhoncus sapien nunc eget odio.</p>
  </section>
</div>
</div>
