<section class="promo">
  <div class="promo__wrapper wrapper">
    <nav class="promo__nav navigation-promo">
      <ul class="navigation-promo__list">
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-1" href="#">
            <span class="navigation-promo__name">Дизайн и Арт</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-2" href="#">
            <span class="navigation-promo__name">разработка сайтов</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-3" href="#">
            <span class="navigation-promo__name">Программирование</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-4" href="#">
            <span class="navigation-promo__name">реклама и продвижение</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-5" href="#">
            <span class="navigation-promo__name">Полиграфия</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-6" href="#">
            <span class="navigation-promo__name">Мобильные приложения</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-7" href="#">
            <span class="navigation-promo__name">Автоматизация бизнеса</span>
          </a>
        </li>
        <li class="navigation-promo__item">
          <a class="navigation-promo__link navigation-promo__link--icon-8" href="#">
            <span class="navigation-promo__name">Производство видео</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="promo__info">
      <img class="promo__pic" src="../img/promo/promo-men.png" alt="pic">
      <div class="promo__inner">
        <div class="promo__title">Покупай результат, а не услугу</div>
        <div class="promo__text">
          <div class="promo__sale-text promo__sale-text--icon">Бонус за регистрацию - первая услуга половина стоимости</div>
          <button class="promo__button button button--blue">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
</section>
