<section class="reviews">
  <div class="wrapper">
    <div class="reviews__inner">
      <div class="reviews__item">
        <blockquote class="review">
          <div class="review__top">
            <div class="review__icon">
              <img class="review__pic picture" src="../img/icons/icon-ava_2.png" alt="icon" />
            </div>
            <div class="review__name">Злой Рекламодатель</div>
            <div class="review__stars">
              <ul class="rating">
                <li class="rating__item rating__item--active" data-rate="5">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="4">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="3">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="2">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="1">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="review__date">02.03.2019</div>
          </div>
          <div class="review__text">
            Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
            выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
            Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
            нервы в порядке, времени больше. Работы кстати тоже очень
            качественные!
          </div>
        </blockquote>
      </div>
      <div class="reviews__item">
        <blockquote class="review">
          <div class="review__top">
            <div class="review__icon">
              <img class="review__pic picture" src="../img/icons/icon-ava_2.png" alt="icon" />
            </div>
            <div class="review__name">Злой Рекламодатель</div>
            <div class="review__stars">
              <ul class="rating">
                <li class="rating__item rating__item--active" data-rate="5">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="4">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="3">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="2">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="1">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="review__date">02.03.2019</div>
          </div>
          <div class="review__text">
            Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
            выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
            Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
            нервы в порядке, времени больше. Работы кстати тоже очень
            качественные!
          </div>
        </blockquote>
      </div>
      <div class="reviews__item">
        <blockquote class="review">
          <div class="review__top">
            <div class="review__icon">
              <img class="review__pic picture" src="../img/icons/icon-ava_3.png" alt="icon" />
            </div>
            <div class="review__name">Злой Рекламодатель</div>
            <div class="review__stars">
              <ul class="rating">
                <li class="rating__item rating__item--active" data-rate="5">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="4">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="3">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="2">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="1">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="review__date">02.03.2019</div>
          </div>
          <div class="review__text">
            Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
            выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
            Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
            нервы в порядке, времени больше. Работы кстати тоже очень
            качественные!
          </div>
        </blockquote>
      </div>
      <div class="reviews__item">
        <blockquote class="review">
          <div class="review__top">
            <div class="review__icon">
              <img class="review__pic picture" src="../img/icons/icon-ava_4.png" alt="icon" />
            </div>
            <div class="review__name">Злой Рекламодатель</div>
            <div class="review__stars">
              <ul class="rating">
                <li class="rating__item rating__item--active" data-rate="5">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="4">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="3">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="2">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="rating__item" data-rate="1">
                  <svg class="rating__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="review__date">02.03.2019</div>
          </div>
          <div class="review__text">
            Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
            выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
            Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
            нервы в порядке, времени больше. Работы кстати тоже очень
            качественные!
          </div>
        </blockquote>
      </div>
    </div>
    <a class="reviews__link link-button link-button--orange" href="#">смотреть все отзывы</a>
  </div>
</section>
