<div class="tabs-2">
  <ul class="tabs-2__list">
    <li class="tabs-2__item active">
      <a class="tabs-2__link" href="">
        Описание
      </a>
    </li>
    <li class="tabs-2__item">
      <a class="tabs-2__link" href="">
        Отзывы
      </a>
    </li>
    <li class="tabs-2__item">
      <a class="tabs-2__link" href="">
        Способы оплаты
      </a>
    </li>
    <li class="tabs-2__item">
      <a class="tabs-2__link" href="">
        Порядок работы
      </a>
    </li>
    <li class="tabs-2__item">
      <a class="tabs-2__link" href="">
        Гарантия продавца
      </a>
    </li>
  </ul>
  <div class="tabs-2__content">
    <div class="tabs-2__panel active" data-index="0">
      <div class="item__descr">
        <iframe class="item__video" src="https://www.youtube.com/embed/_j6Os3lIQ4U" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="item__text">
          <p>Cоздание привлекательного продукта сайта-лендинга в короткие сроки (48 часов) для
            любых целей. Лендинг создается с помощью конструктора битрикс сайты 24.</p>
          <p>Маркетинговое исследование с анализом конкурентов. Исполнитель проводит
            маркетинговые исследования для изучения товаров или услуг Заказчика с целью
            определения и разработки оптимальной структуры сайта.</p>
          <p>Исполнитель разрабатывает блоки структуры, мотивирующие посетителя к совершению
            покупки и отправки заявки на товар или услугу. Результатом работы по первому этапу
            должен быть отчет-обоснование разработанной структуры сайта. Отчет должен включать:
            список исследованных конкурентов Заказчика, обоснование выбранной структуры и
            блоков сайта, предложение по мотивирующим акциям и слоганам, сравнение цен
            конкурентов Заказчика с его аналогичными товарами или услугами, а так же может
            включать любые другие исследования, необходимые для создания эффективного сайта
            Заказчика.</p>
          <h3>Что входит в услугу:</h3>
          <ul>
            <li>Маркетинговое исследование с анализом конкурентов.</li>
            <li>Отчет о маркетинговом исследовании</li>
            <li>Создание текстов (1 вариант)</li>
          </ul>
          <h3>Этапы работ:</h3>
          <ol>
            <li>Заказчик заполняет заявку в электронном виде на сайте webdom.net</li>
            <li>Заключение договора</li>
            <li>Выставление и оплата счета заказчиком</li>
            <li>Проведение маркетинговых исследований и создание отчета</li>
          </ol>
        </div>
      </div>

    </div>
    <div class="tabs-2__panel" data-index="1">
      <section class="reviews">
        <div class="wrapper">
          <div class="reviews__inner">
            <div class="reviews__item">
              <blockquote class="review">
                <div class="review__top">
                  <div class="review__icon">
                    <img class="review__pic picture" src="../img/icons/icon-ava_2.png" alt="icon" />
                  </div>
                  <div class="review__name">Злой Рекламодатель</div>
                  <div class="review__stars">
                    <ul class="rating">
                      <li class="rating__item rating__item--active" data-rate="5">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="4">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="3">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="2">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="1">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="review__date">02.03.2019</div>
                </div>
                <div class="review__text">
                  Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
                  выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
                  Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
                  нервы в порядке, времени больше. Работы кстати тоже очень
                  качественные!
                </div>
              </blockquote>
            </div>
            <div class="reviews__item">
              <blockquote class="review">
                <div class="review__top">
                  <div class="review__icon">
                    <img class="review__pic picture" src="../img/icons/icon-ava_2.png" alt="icon" />
                  </div>
                  <div class="review__name">Злой Рекламодатель</div>
                  <div class="review__stars">
                    <ul class="rating">
                      <li class="rating__item rating__item--active" data-rate="5">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="4">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="3">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="2">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="1">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="review__date">02.03.2019</div>
                </div>
                <div class="review__text">
                  Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
                  выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
                  Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
                  нервы в порядке, времени больше. Работы кстати тоже очень
                  качественные!
                </div>
              </blockquote>
            </div>
            <div class="reviews__item">
              <blockquote class="review">
                <div class="review__top">
                  <div class="review__icon">
                    <img class="review__pic picture" src="../img/icons/icon-ava_3.png" alt="icon" />
                  </div>
                  <div class="review__name">Злой Рекламодатель</div>
                  <div class="review__stars">
                    <ul class="rating">
                      <li class="rating__item rating__item--active" data-rate="5">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="4">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="3">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="2">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="1">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="review__date">02.03.2019</div>
                </div>
                <div class="review__text">
                  Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
                  выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
                  Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
                  нервы в порядке, времени больше. Работы кстати тоже очень
                  качественные!
                </div>
              </blockquote>
            </div>
            <div class="reviews__item">
              <blockquote class="review">
                <div class="review__top">
                  <div class="review__icon">
                    <img class="review__pic picture" src="../img/icons/icon-ava_4.png" alt="icon" />
                  </div>
                  <div class="review__name">Злой Рекламодатель</div>
                  <div class="review__stars">
                    <ul class="rating">
                      <li class="rating__item rating__item--active" data-rate="5">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="4">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="3">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="2">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="rating__item" data-rate="1">
                        <svg class="rating__icon" width="24" height="24">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="review__date">02.03.2019</div>
                </div>
                <div class="review__text">
                  Достали дебилы менеджеры агентств с безумными тз, срыв сроков и
                  выбивание денег назад с потом и кровью (моей). Вот поэтому я здесь.
                  Сроки не срывают, глупых звонков не задают, позвонили один раз. Ура,
                  нервы в порядке, времени больше. Работы кстати тоже очень
                  качественные!
                </div>
              </blockquote>
            </div>
          </div>
          <a class="reviews__link link-button link-button--orange" href="#">смотреть все отзывы</a>
        </div>
      </section>

    </div>
    <div class="tabs-2__panel" data-index="2">
      <div class="item__pay">
        <div class="item__pay-box">
          <div class="item__pay-title">Безналичная оплата</div>
          <div class="item__pay-text">Маркетинговое исследование с анализом конкурентов. Исполнитель проводит
            маркетинговые исследования для изучения товаров или услуг Заказчика с целью
            определения и разработки оптимальной структуры сайта.</div>
        </div>
        <div class="item__pay-box">
          <div class="item__pay-title">Оплата банковской картой</div>
          <div class="item__pay-text">Маркетинговое исследование с анализом конкурентов. Исполнитель проводит
            маркетинговые исследования для изучения товаров или услуг Заказчика с целью
            определения и разработки оптимальной структуры сайта.</div>
        </div>
      </div>
    </div>
    <div class="tabs-2__panel text" data-index="3">
      <h3>Шаг 1</h3>
      <p>Маркетинговое исследование с анализом конкурентов. Исполнитель проводит
        маркетинговые исследования для изучения товаров или услуг Заказчика с целью
        определения и разработки оптимальной структуры сайта.</p>
      <h3>Шаг 2</h3>
      <p>Маркетинговое исследование с анализом конкурентов. Исполнитель проводит
        маркетинговые исследования для изучения товаров или услуг Заказчика с целью
        определения и разработки оптимальной структуры сайта.</p>
    </div>
    <div class="tabs-2__panel" data-index="4">
      Архив заказов
    </div>
  </div>
</div>
