.advantages {
  &.bl {
    padding-top: 0;
  }
  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }
  &__title {
    @include rem(margin-bottom, 70px);
  }
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
  }
  &__item {
    width: 50%;

    @include rem(padding, 80px 10px 0 10px);
    @include rem(margin-bottom, 20px);

    @include respond-above(xs) {
      @include rem(padding-top, 85px);
    }

    @include respond-above(sm) {
      width: calc(100% / 3);
      @include rem(padding, 100px 30px 0 30px);
    }

    @include respond-above(lg) {
      width: calc(100% / 3);

      @include rem(padding, 130px 50px 0 50px);
      @include rem(margin-bottom, 30px);
    }
  }
  &__text {
    margin: 0;
    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 15px,
        750px: 18px,
        1280px: 21px
      )
    );

    text-align: center;
  }
  &__icon {
    fill: #666666;
  }
}

.advantages__item--icon-1,
.advantages__item--icon-2,
.advantages__item--icon-3,
.advantages__item--icon-4,
.advantages__item--icon-5,
.advantages__item--icon-6 {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include rem(width, 150px);
    @include rem(height, 75px);

    @include respond-above(sm) {
      @include rem(height, 85px);
    }

    @include respond-above(lg) {
      @include rem(height, 130px);
    }
  }
}

.advantages__item--icon-1::before {
  // @include sprite($icon-why_5);

  background-image: url("../img/icons/icon-why_5.png");
}
.advantages__item--icon-2::before {
  // @include sprite($icon-why_3);

  background-image: url("../img/icons/icon-why_3.png");
}
.advantages__item--icon-3::before {
  // @include sprite($icon-why_4);

  background-image: url("../img/icons/icon-why_4.png");
}
.advantages__item--icon-4::before {
  // @include sprite($icon-why_6);

  background-image: url("../img/icons/icon-why_6.png");
}
.advantages__item--icon-5::before {
  // @include sprite($icon-why_1);

  background-image: url("../img/icons/icon-why_1.png");
}
.advantages__item--icon-6::before {
  // @include sprite($icon-why_2);

  background-image: url("../img/icons/icon-why_2.png");
}
