.advantages {
  padding-top: 40px;
  padding-bottom: 20px;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }
  &__title {
    margin-bottom: 10vh;
  }
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
  }
  &__item {
    width: calc(50% - 20px);
    padding-top: 10vh;
    margin-bottom: 3vh;

    @include respond-above(sm) {
      width: calc(100% / 3 - 30px);
      padding-top: 15vh;
    }

    @include respond-above(lg) {
      width: calc(100% / 3 - 50px);
      padding-top: 20vh;
      margin-bottom: 5vh;
    }
  }
  &__text {
    margin: 0;
    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 15px,
        750px: 18px,
        1280px: 21px
      )
    );

    text-align: center;
  }
  &__icon {
    fill: #666666;
  }
}

.advantages__item--icon-1,
.advantages__item--icon-2,
.advantages__item--icon-3,
.advantages__item--icon-4,
.advantages__item--icon-5,
.advantages__item--icon-6 {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 10vh;

    @include respond-above(sm) {
      height: 15vh;
    }

    @include respond-above(lg) {
      height: 20vh;
    }
  }
}

.advantages__item--icon-1::before {
  // @include sprite($icon-why_5);

  background-image: url("../img/icons/icon-why_5.png");
}
.advantages__item--icon-2::before {
  // @include sprite($icon-why_3);

  background-image: url("../img/icons/icon-why_3.png");
}
.advantages__item--icon-3::before {
  // @include sprite($icon-why_4);

  background-image: url("../img/icons/icon-why_4.png");
}
.advantages__item--icon-4::before {
  // @include sprite($icon-why_6);

  background-image: url("../img/icons/icon-why_6.png");
}
.advantages__item--icon-5::before {
  // @include sprite($icon-why_1);

  background-image: url("../img/icons/icon-why_1.png");
}
.advantages__item--icon-6::before {
  // @include sprite($icon-why_2);

  background-image: url("../img/icons/icon-why_2.png");
}
