.basket {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 35px;

  color: $text-color;
  font-weight: 400;
  line-height: normal;
  //line-height: 33.33px;

  @include ff(
    "font-size",
    (
      375px: 10px,
      1280px: 12px
    )
  );

  text-decoration: none;


  &__count {
    display: block;
    margin-top: 5px;

    color: #008dca;

    font-weight: 400;
    // line-height: 33.33px;

    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
  }
  &__icon {
    margin-right: 10px;
    fill: $color-orange;
  }
}
