.bl {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include rem(padding, 20px 0 30px);

  @include respond-above(md) {
    @include rem(padding, 50px 0 60px);
  }
  &--bg {
    background-image: url("../img/bg/bg-1.png");
    background-repeat: repeat;
    background-size: 20%;
    background-color: $bg-color;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 8px;
      background-repeat: repeat-x;

      background-image: url("../img/line/bl-br-top.png");
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 20px;
      background-repeat: repeat-x;

      background-image: url("../img/line/bl-br-bm.png");
    }
  }

  &--bg-blue {
    position: relative;
    background-color: $bg-color-2;
    background-image: url("../img/bg/bg-2.png");

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 18px;

      background-repeat: repeat-x;
      background-image: url("../img/line/bl-br-blue.png");

      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 18px;
      background-repeat: repeat-x;
      background-image: url("../img/line/bl-br-blue.png");
    }
  }

  &--br {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 3rem;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 15px;

      background-repeat: repeat-x;
      background-size: 20px;
      background-image: url("../img/line/title-br-blue.png");

      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 15px;
      background-repeat: repeat-x;
      background-size: 20px;
      background-image: url("../img/line/title-br-blue.png");
    }
  }

  &--br-bm {
    position: relative;
    padding: 0 0 2rem;
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 15px;
      background-repeat: repeat-x;
      background-size: 20px;
      background-image: url("../img/line/title-br-blue.png");
    }
  }

  &__title {
    display: none;
    margin: 0;
    @include rem(margin-bottom, 40px);

    font-family: $font-title;
    font-weight: 400;
    line-height: 1;
    color: $text-color;

    @include ff(
      "font-size",
      (
        375px: 24px,
        750px: 50px
      )
    );

    @include respond-above(sm) {
      display: inline-block;
    }
  }

  &__nav {
    display: none;

    @include respond-above(md) {
      width: 25%;
      display: block;
    }
  }
  &__content {
    width: 100%;
    @include respond-above(md) {
      width: 70%;
    }
  }
}
