.breadcrumbs {
  display: none;
  width: 100%;
  color: #808080;

  @include respond-above(md) {
    display: flex;
    @include rem(margin-bottom, 20px);
  }

  &__link {
    position: relative;
    text-decoration: none;

    color: #000000;
    font-size: 15px;
    font-weight: 400;

    @include rem(padding-right, 20px);
    font-weight: 600;

    &::before {
      content: "/";
      position: absolute;
      top: 0;
      right: 5px;
    }
  }
}
