.breadcrumbs {
  display: none;
  width: 100%;

  @include respond-above(md) {
    display: flex;
    @include rem(margin-bottom, 20px);
  }

  &__link {
    position: relative;
    text-decoration: none;

    color: #000000;
    font-size: 15px;
    font-weight: 400;

    &:not(:last-child) {
      @include rem(padding-right, 20px);
      font-weight: 600;
    }

    &:not(:last-child)::before {
      content: "/";
      position: absolute;
      top: 0;
      right: 5px;
    }

    &:last-child {
      color: #808080;
    }
  }
}
