.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  text-decoration: none;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;
}

.button--icon-del {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: 0;

    @include sprite($icon-delete);
  }
}

.button--icon-edit {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: 0;

    @include sprite($icon-edit);
  }
}
