.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  text-decoration: none;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;

  &--blue {
    color: $color-blue;
  }

  &__icon {
    fill: #c9cdd4;

    @include rem(width, 20px);
    @include rem(height, 20px);
  }
}
