.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  text-decoration: none;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;

  &--blue {
    color: $color-blue;
  }

  &__icon {
    fill: #c9cdd4;
    width: 20px;
    height: 20px;
  }
}
