$color-text: #008dca;

.cabinet-user {
  display: flex;
  align-items: center;
  &__inner {
    position: relative;
    // padding-left: 60px;

    display: flex;
    flex-direction: column;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 50%;
    //   left: 0;
    //   transform: translateY(-50%);

    //   @include sprite($icon-cabinet-user);
    // }
  }
  &__login {
    color: $color-text;

    font-weight: 400;
    //line-height: 33.33px;
    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
    text-decoration: none;
  }
  &__reg {
    color: $color-text;

    font-weight: 400;
    //line-height: 33.33px;
    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
    text-decoration: none;
  }
  &__icon {
    margin-right: 10px;
    fill: $color-blue;
  }
}
