$color-text: #008dca;

.cabinet-user {
  display: flex;
  align-items: center;
  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
  }
  &__login {
    color: $color-text;

    font-weight: 400;

    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
    text-decoration: none;
  }
  &__reg {
    color: $color-text;

    font-weight: 400;

    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
    text-decoration: none;
  }
  &__icon {
    @include rem(margin-right, 10px);
    fill: $color-blue;
  }
}
