.cart-table {
  width: 100%;
  border-collapse: collapse;
  @include rem(margin-bottom, 40px);

  &--step-3 {
    & .cart-table__val {
      &:not(:last-child) {
        width: 20%;
      }
    }
  }

  &__head {
    display: none;
    @include respond-above(sm769) {
      display: table-header-group;
    }
  }
  &__name {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 3rem;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      bottom: 14px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 15px;

      background-repeat: repeat-x;
      background-size: 19px;
      background-image: url("../img/line/title-br-blue.png");

      transform: rotate(180deg);
    }
  }

  &__val {
    @include rem(padding, 10px);
    vertical-align: top;
    &:not(:nth-child(2)) {
      text-align: center;
    }

    @include respond-above(sm769) {
      vertical-align: middle;
    }

    &--price {
      @include respond-below(sm769) {
        position: absolute;
        left: 42%;
        width: 50%;
      }
    }
  }
  &__price {
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 20px,
        750px: 29px,
        1280px: 20px
      )
    );

    @include respond-below(sm769) {
      position: absolute;
      bottom: -87px;
      left: 0;
    }
    @include respond-above(sm769) {
      margin-bottom: 0;
      min-width: 150px;
    }
  }
  &__row {
    position: relative;
  }
  &__text {
    @include rem(max-width, 400px);
  }
  &__range-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  & .picture {
    @include rem(padding, 5px);
    @include rem(max-width, 170px);
    background-image: url("../img/item/slide-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;

    @include respond-above(xs) {
      width: 100%;
      @include rem(padding, 15px);
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-above(sm769) {
      width: 60%;
      padding-left: 0;
    }

    & .button {
      width: 100%;

      @include respond-above(md1280) {
        width: 48%;
      }
      @include ff(
        "font-size",
        (
          375px: 15px,
          750px: 20px,
          1280px: 15px
        )
      );
    }
    & .link-button {
      @include rem(padding, 10px 10px 15px);
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 600;
    line-height: normal;
    color: $color-blue;
    @include ff(
      "font-size",
      (
        375px: 20px,
        750px: 25px,
        1280px: 15px
      )
    );

    @include respond-above(sm769) {
      width: 50%;
      margin-bottom: 0;
    }

    // @include respond-above(md) {
    //   position: relative;
    //   &::before {
    //     position: absolute;
    //     content: attr(data-name);

    //     top: -75px;
    //     left: 0;

    //     font-size: 15px;
    //     font-weight: 400;
    //     color: $text-color;
    //   }
    // }
  }

  &__num {
    margin-left: 1em;
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 20px,
        750px: 25px,
        1280px: 15px
      )
    );
  }
}
