.email {
  position: relative;
  display: flex;
  align-items: center;
  // padding-left: 35px;
  color: $text-color;
  line-height: normal;

  @include ff(
    "font-size",
    (
      375px: 13px,
      1280px: 15px
    )
  );

  text-decoration: none;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: -2px;
  //   left: 0;
  //   display: block;

  //   @include sprite($icon-mail);
  // }

  &__icon {
    margin-right: 10px;
    fill: #919aad;
  }
}
