.employee {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;

  & .title {

    @include respond-above(xxs) {
      text-align: left;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    @include rem(
      (
        padding-bottom: 20px,
        margin-bottom: 30px
      )
    );

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-above(md) {
      justify-content: space-between;
    }

    @include respond-above(sm) {
      justify-content: space-between;

      @include rem(
        (
          padding-bottom: 40px,
          margin-bottom: 40px
        )
      );

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--line {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: block;
        background-repeat: repeat-x;
        background-size: 20px;

        width: 100%;
        height: 10px;

        background-image: url("../img/line/title-br-blue.png");
      }
    }
  }

  &__pic {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include respond-above(xxs) {
      width: 30%;
    }

    @include respond-above(md) {
      width: 20%;
    }
  }
  &__pic-box {
    padding-left: 0;
    @include respond-above(md) {
      padding-left: 20%;
    }
  }
  &__info {
    width: 100%;

    @include respond-above(xxs) {
      width: 70%;
    }

    @include respond-above(md) {
      width: 80%;
    }
  }

  &__item-col {
    width: 100%;

    @include respond-above(md) {
      width: calc(50% - 40px);
    }
  }
  &__img {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__list {
    @include listReset();
    margin-bottom: 30px;
  }
  &__list-item {
    margin-bottom: 10px;
  }

  & .title {
    margin-bottom: 30px;
  }
  &__val {
    padding-left: 5px;
    font-weight: 600;
  }
}
