.form {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    // height: 100%;
    margin: 0 auto;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & .title {
    margin: 0;
    margin-bottom: 50px;
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 24px;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 15px;

    padding: 10px 20px;
    border: 1px solid #b3bbc9;
    -webkit-border-radius: 25px;
    border-radius: 25px;

    transition: 0.6s;

    &::placeholder {
      color: #b3bbc9;
    }

    &:hover,
    &:focus {
      border: 1px solid #b3bbc9;
    }

    &:focus::placeholder {
      opacity: 0;
      transition: 0.6s;
    }
  }

  &__textarea {
    width: 100%;
    padding: 15px;
    border-radius: 0;
    border: 1px solid #c9d0dc;
    line-height: 25px;
    font-size: 16px;
    color: #60749d;
    resize: none;

    &:hover,
    &:focus {
      border: 1px solid #5993ff;
    }
  }

  & .button {
    padding: 5px 30px 15px;
  }

  & .select__gap {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #eaebee;
    border-radius: 25px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 20px;
      transform: rotate(180deg) translateY(50%);

      @include sprite($icon-arrow-close);
    }
  }

  &__bottom {
    text-align: center;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__policy {
    margin-bottom: 20px;
    font-size: 14px;

    & a {
      color: $color-blue;
      text-decoration: none;
    }
  }
  &__col {
    width: 100%;

    @include respond-above(sm) {
      width: 48%;
    }
  }
}
