.form-brief {
  @include rem(
    (
      margin-bottom: 40px,
      padding: 0 25px 20px
    )
  );

  @include respond-below(xs) {
    padding: 0 15px;
  }

  @include respond-above(sm769) {
    padding-left: 0;
    padding-right: 0;
  }
  &__label {
    position: relative;
    @include ff(
      "font-size",
      (
        375px: 16px,
        750px: 20px
      )
    );
    line-height: normal;

    &::before {
      position: absolute;
      content: "*";

      @include rem(
        (
          top: -2px,
          right: -7px
        )
      );
      color: red;
    }
  }
  &__text {
    width: 95%;

    @include rem(
      (
        padding: 15px,
        margin-top: 10px,
        height: 100px,
        border: 1px solid #b3bbc9,
        border-radius: 25px
      )
    );

    transition: 0.6s;
    resize: none;

    &::placeholder {
      color: #b3bbc9;
    }

    &:hover,
    &:focus {
      @include rem(border, 1px solid #b3bbc9);
    }

    &:focus::placeholder {
      opacity: 0;
      transition: 0.6s;
    }

    &--lg {
      @include rem(height, 150px);
    }
    &--sm {
      @include rem(height, 50px);
    }
  }
  &__sublist {
    @include listReset();
    display: flex;
    flex-wrap: wrap;
  }
  &__subitem {
    @include rem(padding, 10px 0);
    &:not(:last-child) {
      @include rem(margin-right, 20px);
    }

    @include ff(
      "font-size",
      (
        375px: 16px,
        750px: 20px
      )
    );
    font-weight: 600;
    line-height: normal;
  }
  &__sublabel {
    position: relative;
    display: block;
    @include rem(padding-left, 40px);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;

      @include rem(
        (
          top: -5px,
          left: -1px,
          width: 30px,
          height: 30px
        )
      );
      margin: 0;
      background: transparent;
      border-radius: 50%;

      @include rem(border, 2px solid #97a0b2);
    }

    &:hover::after {
      border-color: $color-blue;
    }

    &:focus::after {
      border-color: #c7c7c7;
    }
  }

  &__sublabel-check {
    position: relative;
    display: block;

    @include rem(padding-left, 40px);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;

      @include rem(
        (
          top: -5px,
          left: -1px,
          width: 30px,
          height: 30px,
          margin: 0,
          border-radius: 5px,
          border: 2px solid #97a0b2
        )
      );

      background: transparent;
    }

    &:hover::after {
      border-color: $color-blue;
    }

    &:focus::after {
      border-color: #c7c7c7;
    }
  }
}

.form-brief__radio:checked + .form-brief__sublabel::before {
  content: "";
  position: absolute;

  @include rem(
    (
      top: 3px,
      left: 8px,
      width: 13px,
      height: 13px
    )
  );
  background: $color-blue;
  border-radius: 50%;
}

.form-brief__checkbox:checked + .form-brief__sublabel-check::before {
  content: "";
  position: absolute;

  @include rem(
    (
      top: -5px,
      left: -1px,
      width: 30px,
      height: 30px,
      border-radius: 5px
    )
  );
  background: url("../img/icons/icon-button_check_a.png");
  background-size: contain;
  background-repeat: no-repeat;

  border-color: $color-blue;
}
