.form-review {
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  &__input {
    border: none;
    border-radius: 0;
  }
  &__label {
    padding-right: 10px;

    &--full {
      width: 100%;
    }
  }
  &__file {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-left: 10px;

    & .link-button {
      position: absolute;
      top: -11px;
      left: -8px;
      z-index: 1;
      padding: 5px 10px 15px;
      cursor: pointer;
    }
    & input {
      margin-left: 55px;
    }
  }
  &__textarea {
    margin: 20px 0 30px;
    padding: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 20px;
  }
  & .rating {
    margin: 10px 0;
  }
  &__text {
    @include ff(
      "font-size",
      (
        375px: 16px,
        1280px: 20px,
        1440px: 14px
      )
    );
    &--bold {
      font-weight: 600;
    }
    & a {
      text-decoration: none;
      color: $color-blue;
    }
  }
  & .popup-order__chous {
    display: none;
  }
  & .form-review {
    @include respond-below(sm) {
      padding: 0 15px;
    }
  }
}
