.form-review {
  overflow: hidden;
  @include respond-below(sm769) {
    @include rem(padding, 0 25px 40px);
  }
  @include respond-below(xs) {
    @include rem(padding, 0 15px 30px);
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include rem(margin-bottom, 10px);
  }
  &__input {
    border: none;
    border-radius: 0;
  }
  &__label {
    @include rem(padding-right, 10px);

    &--full {
      width: 100%;
    }
  }
  &__file {
    position: relative;
    width: 100%;

    @include rem(
      (
        min-height: 50px,
        margin-left: 10px
      )
    );

    & .link-button {
      position: absolute;
      z-index: 1;

      @include rem(
        (
          top: -11px,
          left: -8px,
          padding: 5px 10px 15px
        )
      );

      cursor: pointer;
    }
    & input {
      @include rem(margin-left, 55px);
    }

    & .fileinput-name {
      position: absolute;
      top: 0;
      right: 0;

      @include rem(
        (
          padding-right: 20px,
          max-width: 100px,
          max-height: 50px
        )
      );

      overflow: hidden;

      @include respond-above(xxs) {
        @include rem(max-width, 200px);
      }
      @include respond-above(xs) {
        max-height: auto;
      }
      @include respond-above(sm769) {
        @include rem(max-width, 140px);
        @include rem(max-height, 50px);
      }
    }
    & .fileinput-name .close {
      position: absolute;
      right: 0;
      @include rem(top, 25px);

      font-size: 0;
      background: transparent;
      border: none;
      box-shadow: none;
      opacity: 0.3;

      &::before {
        position: absolute;
        content: "";
        @include rem(
          (
            top: 5px,
            right: 0,
            width: 15px,
            height: 15px
          )
        );
        background: transparent url("../img/icons/icon-019-garbage.svg")
          no-repeat;
      }

      @include respond-above(xxs) {
        top: 0;
      }
    }
  }
  &__textarea {
    width: 100%;

    @include rem(
      (
        margin: 20px 0 30px,
        padding: 20px,
        height: 100px,
        border-radius: 20px
      )
    );

    resize: none;
  }
  & .rating {
    @include rem(margin, 10px 0);
  }
  &__text {
    @include ff(
      "font-size",
      (
        375px: 16px,
        1280px: 20px,
        1440px: 14px
      )
    );
    &--bold {
      font-weight: 600;
    }
    & a {
      text-decoration: none;
      color: $color-blue;
    }
  }
  & .popup-order__chous {
    display: none;
  }
  & .form-review {
    @include respond-below(sm) {
      @include rem(padding, 0 15px);
    }
  }
}
