.form-order {
  background-color: #f2d046;

  &__wrapper {
    padding-top: 44px;
    padding-bottom: 44px;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 26px;
    text-align: center;
    display: block;

    color: #011267;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @include respond-above(md) {
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }

  &__item {
    flex-grow: 1;
    margin-bottom: 20px;

    @include respond-above(md) {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;

    color: #38383d;
    border: none;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(194, 156, 1, 0.15);
    border-radius: 5px;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      border: 1px solid rgb(77, 86, 132);
    }
  }

  &__btn {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;

    @include respond-below(sm) {
      display: block;
      margin: 0 auto;
    }

    &:hover {
      box-shadow: none;
    }
  }
}
