.item {
  width: 100%;
  &.bl {
    @include respond-below(xxs) {
      padding-top: 0;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__header {
    & .title {
      @include rem(margin-bottom, 20px);
    }
  }
  &__info {
    width: 100%;
    order: 1;

    @include respond-above(md) {
      width: 47%;
    }
  }
  &__slider {
    position: relative;
    width: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    @include rem(margin-bottom, 30px);

    @include respond-above(md) {
      width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__video {
    width: 100%;
    @include rem(max-height, 485px);

    @include respond-above(md1100) {
      width: 40%;
    }
  }

  &__text,
  & .tabs__content {
    width: 100%;
    color: $text-color;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    @include respond-above(md1100) {
      width: 60%;
      @include rem(padding-left, 45px);
    }

    & h3,
    h4,
    h2 {
      font-weight: 600;
      @include ff(
        "font-size",
        (
          375px: 20px,
          1280px: 25px
        )
      );
    }

    & p {
      @include rem(margin, 0 0 30px 0);
    }

    & ul {
      list-style: none;
      padding: 0;
      @include rem(margin, 15px 0);

      & li {
        position: relative;

        @include rem(
          (
            margin-bottom: 10px,
            padding-left: 20px
          )
        );
        &::before {
          position: absolute;
          content: "\2022";

          top: 10px;
          left: 0;

          display: inline-block;
          width: 1em;
          margin-left: 0;
          font-size: 33px;
          line-height: 0;

          color: #a3b806;
        }
      }
    }

    & ol {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 2em;
      list-style: none;
      counter-reset: li;

      & li {
        counter-increment: li;
        margin-bottom: 10px;
        &::before {
          content: counter(li);

          display: inline-block;
          width: 1.5em;
          margin-left: -2em;
          margin-right: 10px;
          padding: 0 0.5em;

          color: #ffffff;
          background: #0fb9bc;

          border-radius: 50%;
        }
      }
    }
  }

  &__price {
    background-color: #f7f2ed;
    padding: 1.5em 1em;
    margin-bottom: 2em;
  }
  &__price-list {
    @include listReset();
  }
  &__price-item {
    margin-bottom: 1em;

    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__price-name {
    @include rem(margin-right, 10px);
  }
  &__price-val {
    font-weight: 600;
    width: 50%;

    &--old {
      text-decoration: line-through;
    }
  }
  &__price-num {
    color: #ec6045;
    font-size: 1.875em;

    @include ff(
      "font-size",
      (
        375px: 22px,
        1280px: 30px
      )
    );
  }
  &__price-info {
    @include rem(margin-top, 10px);
    display: flex;

    @include respond-below(xs) {
      flex-direction: column;
    }
  }
  &__price-text {
    @include rem(margin-right, 5px);
  }
  &__price-day {
    color: #ec6045;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include rem(margin-bottom, 30px);
  }
  &__btn {
    @include rem(margin-bottom, 20px);
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-above(xs) {
      width: 47%;
    }
  }
  &__share-doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  & .share {
    @include respond-below(sm) {
      display: none;
    }
  }
  &__link-doc {
    display: flex;
    @include rem(max-width, 250px);

    font-weight: 600;
    color: $color-blue;

    text-decoration: none;

    @include respond-below(sm) {
      max-width: 100%;
      @include rem(margin-bottom, 20px);
    }
  }
  &__link-icon-doc {
    fill: #919aad;

    @include rem(
      (
        margin-right: 10px,
        width: 30px,
        height: 30px
      )
    );
  }
  &__pay {
    display: flex;
    flex-wrap: wrap;
  }
  &__pay-title {
    margin-bottom: 1em;
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );
  }
  &__pay-box {
    position: relative;
    width: 100%;
    padding-top: 35%;
    margin-bottom: 1em;

    text-align: center;

    &::before {
      position: absolute;
      content: "";

      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 30%;
      height: 90%;

      background-image: url("../img/icons/icon-pk.svg");
      background-repeat: no-repeat;

      @include respond-above(xxs) {
        width: 20%;

        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      @include respond-above(sm) {
        width: 25%;
      }

      @include respond-above(md) {
        width: 30%;
      }
    }

    &:last-child::before {
      background-image: url("../img/icons/icon-pay-1.svg");
    }

    @include respond-above(xxs) {
      padding-left: 25%;
      padding-top: 0;

      text-align: left;
    }

    @include respond-above(sm) {
    }

    @include respond-above(md) {
      width: 50%;
      padding-top: 0;
      padding-left: 15%;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include rem(
      (
        margin-bottom: 20px,
        margin-top: 20px
      )
    );

    @include respond-below(xs) {
      justify-content: center;
      text-align: center;
    }
  }
  &__rating {
    width: 100%;
    display: flex;
    align-items: center;

    @include respond-below(xs) {
      justify-content: center;
    }

    @include respond-above(xs) {
      width: 50%;
      flex-grow: 1;
    }
  }
  &__rating-counter {
    @include rem(margin-left, 20px);
  }
  &__review {
    width: 50%;

    @include rem(
      (
        margin-top: 10px,
        margin-bottom: 10px
      )
    );
    @include respond-above(xs) {
      width: 20%;
      margin: 0;
    }
  }
  &__review-link {
    font-weight: 600;
    color: $color-blue;
    text-decoration: none;
  }
  &__order {
    width: 50%;

    @include respond-above(xs) {
      width: 30%;
    }
  }
  &__order-link {
    display: flex;
    align-items: center;
    color: $text-color;
    text-decoration: none;
  }
  &__order-icon {
    fill: #919aad;
    margin-right: 10px;
  }
}

.item__tabs .tabs__list {
  margin-bottom: 40px;
}

.item__markers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.item__marker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  width: 50%;

  @include rem(margin-bottom, 10px);

  @include respond-above(xs) {
    width: calc(100% / 3);
    flex-direction: row;
  }
}

.item__marker-text {
  @include rem(max-width, 120px);
}

.item__marker-icon {
  @include rem(
    (
      width: 50px,
      height: 50px,
      padding: 10px,
      margin: 0 5px
    )
  );
  background-color: #80c8d1;
  border-radius: 50%;

  fill: #ffffff;

  &--security {
    background-color: #ff9999;
  }
  &--clock {
    background-color: #a3b806;
  }
}

.item__slider {
  & .slick-list.draggable {
    margin-left: 40px;
    margin-right: 60px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  & .slick-prev {
    display: none !important;
    left: 0;
    background: blue;
    z-index: 999999;
    top: 65px;
    width: 50px;
    height: 50px;
  }

  & .slick-next {
    right: 18px;

    top: 55px;
    width: 40px;
    height: 30px;

    background-image: url("../img/icons/icon-arrow_down.png");
    background-repeat: no-repeat;
    transform: rotate(-90deg);

    &::before {
      content: " ";
      font-size: 0;
    }
  }

  & .slider__for .slick-list.draggable {
    margin-left: 0;
    margin-right: 0;

    @include respond-below(md1100) {
      @include rem(padding-bottom, 40px);
    }
  }
  & .slider__nav {
    @include respond-above(md) {
      right: 105%;
      top: 0;
    }
    @include respond-above(lg) {
      right: 80%;
    }

    @include respond-above(xlg) {
      top: -33px;
    }
  }

  & .slider__for .slick-dots {
    display: block !important;
    bottom: 0;
    @include respond-above(md1100) {
      display: none !important;
    }
  }
  & .slider__pic {
    @include respond-above(md) {
      @include rem(min-height, 530px);
    }
  }
  & .slider__item {
    @include rem(padding, 25px);
    background-image: url("../img/item/slide-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  & .slider__marker {
    position: absolute;
    top: 10%;
    left: 10%;

    @include respond-above(sm) {
      top: 7%;
      left: 7%;
    }
  }
  & .slick-dots li {
    cursor: pointer;
    @include rem(
      (
        width: 10px,
        height: 10px
      )
    );

    border-radius: 50%;
    border: 2px solid #ccbcaa;
    background-color: transparent;
  }

  & .slick-dots li button {
    &::before {
      font-size: 0;
    }
  }

  & .slick-dots li.slick-active {
    background-color: $color-blue;
    border: 2px solid $color-blue;
  }
}
