.last-projects {
  position: relative;

  padding-top: 55px;
  padding-bottom: 75px;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 40px;
    width: calc(50% - 10px);

    @include respond-above(sm) {
      width: calc(100% / 3 - 20px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include respond-above(md) {
      width: calc(100% / 4 - 20px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
