.last-projects {
  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    display: none;
    margin-bottom: 40px;
    width: calc(50% - 10px);
    margin-right: 15px;
      &:nth-child(2n) {
        margin-right: 0;
      }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: flex;
    }

    @include respond-above(sm) {
      display: flex;
      width: calc(100% / 3 - 20px);
      margin-right: 25px;
      &:nth-child(2n) {
        margin-right: 25px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include respond-above(md) {
      width: calc(100% / 4 - 20px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
