.link {
  line-height: 9px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;

  &--blue {
    color: #005ba6;
  }

}

.link-more {
  position: relative;
  padding-left: 40px;
  line-height: 9px;
  font-size: 11px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 26px;
    height: 1px;
    background-color: #fff;
    opacity: 0.8;
  }
}

.link-button {
  padding: 20px 25px;

  color: $color-white;
  font-family: $fontCrowdFunded;

  font-weight: 40;

  @include ff(
    "font-size",
    (
      375px: 24px,
      1280px: 29px
    )
  );

  background-color: #008dca;

  border-radius: 40px;
  box-shadow: 0 8px 0px -1px #e6e8ed;

  text-decoration: none;

  &--orange {
    background-color: #f3931a;
  }
  &--blue {
    background-color: #008dca;
  }
  &--green {
    background-color: #6db629;
  }
}


.link-arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    z-index: 1;

    @include sprite($icon-arrow-down);

    transform: rotate(90deg) translateY(-50%);
  }
}
