
.link-button {
  padding: 15px 25px 20px;

  color: $color-white;
  font-family: $font-title;

  @include ff(
    "font-size",
    (
      375px: 24px,
      1280px: 29px
    )
  );

  background-color: #008dca;

  border-radius: 40px;
  box-shadow: 0 8px 0px -1px #ccd7e8;  // e6e8ed  ccd7e8

  text-decoration: none;

  transition: 1s;


  &--orange {
    background-color: #f3931a;
    box-shadow: 0 8px 0px -1px #e6dcd1;
  }

  &--green {
    background-color: #6db629;
    box-shadow: 0 8px 0px -1px #e4edd3;
  }

  &--blue-light-bsh {
    box-shadow: 0 8px 0px -1px #e6e8ed;
  }

  &:focus, &:hover {
    box-shadow: 0 8px 0px -1px transparent;
  }
}


.link-arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    z-index: 1;

    @include sprite($icon-arrow-down);

    transform: rotate(90deg) translateY(-50%);
  }
}
