.logo {
  display: block;
  @include rem(width, 150px);
  @include respond-above(md) {
    @include rem(width, 200px);
  }
}

.logo--mobile {
  display: block;

  padding-left: 25%;
  padding-top: 3%;

  @include respond-above(xxs) {
    padding-left: 45%;
  }

  @media (max-width: 600px) {
    margin-left: 70%;
    padding-left: 0;
  }

  @media (max-width: 500px) {
    margin-left: 65%;
  }

  @media (max-width: 425px) {
    margin-left: 20%;
  }

  @include respond-above(sm769) {
    display: none;
  }
}

.logo--mobile img {
  @include rem(
    (
      width: 134px,
      height: 56px
    )
  );
}
