.main-goods {
  position: relative;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    & .link-button--orange {
      margin: auto;
    }
  }

  &__list {
    @include respond-above(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include respond-above(md) {
      width: calc(100% / 4);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
    }
    @include respond-above(lg) {
      width: calc(100% / 5);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        @include rem(padding-right, 25px);
      }
    }
  }
}


#js-slider-project-2 {
  & .main-goods__item {
    @include respond-above(md) {
      width: calc(100% / 4);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        @include rem(padding-right, 25px);
      }
    }
    @include respond-above(md1100) {
      width: calc(100% / 4);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        padding-right: 0;
      }
    }
    @include respond-above(lg) {
      width: calc(100% / 5);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(5n) {
        padding-right: 0;
      }
    }
  }
}
