.main-goods {
  position: relative;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    & .link-button--orange {
      margin: auto;
    }
  }

  &__list {
    @include respond-above(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    // width: 200px;
    // width: calc(50% - 10px);
    // margin-right: 20px;
    // &:nth-child(2n) {
    //   margin-right: 0;
    // }

    // @include respond-above(sm) {
    //   width: calc(100% / 3 - 25px);
    //   margin-right: 25px;
    //   &:nth-child(2n) {
    //     margin-right: 25px;
    //   }

    //   &:nth-child(3n) {
    //     margin-right: 0;
    //   }
    // }
    @include respond-above(md) {
      width: calc(100% / 4);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        padding-right: 0;
      }
    }
    @include respond-above(lg) {
      width: calc(100% / 5);
      @include rem(padding-right, 25px);
      &:nth-child(3n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(4n) {
        @include rem(padding-right, 25px);
      }
      &:nth-child(5n) {
        padding-right: 0;
      }
    }
  }
}
