.marker {

  padding: 0.3em 0.8em 0.5em;
  font-family: $font-title;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  color: #ffffff;

  background-color: #10b9bc;
  border-radius: 50%;

  &__num {
    display: block;
    margin-top: -5px;

    font-size: 2.7em;
    line-height: 1;

    @include ff(
    "font-size",
    (
      375px: 24px,
      1280px: 45px
    )
  );
  }
}
