.marker {
  @include rem(padding, 15px);

  font-family: $font-title;

  line-height: normal;
  text-align: center;
  color: #ffffff;

  background-color: #10b9bc;
  border-radius: 50%;

  @include respond-above(sm) {
    @include rem(padding, 15px 18px);
  }

  &__num {
    display: block;

    @include rem(margin-top, -5px);

    line-height: 1;

    @include ff(
      "font-size",
      (
        375px: 22px,
        1280px: 45px
      )
    );

    @include respond-above(sm) {
      @include rem(margin-top, -10px);
    }
  }
}
