.mobile-header {
  position: relative;

  @include rem(
    (
      padding: 15px 15px 25px 15px,
      margin-bottom: 40px
    )
  );

  background-color: #f7faff;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;

    display: block;

    width: 100%;
    @include rem(height, 25px);

    background-repeat: repeat-x;
    background-image: url("../img/header/header-border.png");
    @include rem(background-size, 30px);
  }

  @include respond-above(xs) {
    margin-bottom: 0;
  }

  @include respond-above(sm769) {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
  &__title {
    max-width: 70%;
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 23px,
        750px: 33px
      )
    );
  }
  &__icon {
    @include rem(
      (
        margin-right: 10px,
        width: 15px,
        height: 15px
      )
    );

    transform: rotate(180deg);

    @include respond-above(xs) {
      @include rem(
        (
          width: 25px,
          height: 25px,
          margin-top: 5px
        )
      );
    }
  }
  &__buttons {
    position: absolute;
    top: 50%;
    @include rem(right, 15px);
    transform: translateY(-50%);

    & .button {
      @include rem(margin-right, 15px);
    }
  }
}
