.navigation-mob {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 5% 5% 2% 5%;

  background: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 10px;

    background-image: url("../img/line/title-br.png");
    background-repeat: repeat-x;
    background-size: 16px;
  }

  @include respond-above(sm) {
    display: none;
  }

  &__list {
    @include listReset();

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    max-width: 100%;

    color: #919aad;
    font-weight: 400;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 21px
      )
    );
  }

  &__icon {
    fill: #919aad;
    width: 25px;
    height: 25px;

    @include respond-above(xs) {
      width: 45px;
      height: 45px;
    }
  }
}

.navigation-mob__link:hover {
  color: #1f9bd1;
  & .navigation-mob__icon {
    fill: #1f9bd1;
  }
}

.navigation-mob__item--active .navigation-mob__link{
  color: #1f9bd1;
  & .navigation-mob__icon {
    fill: #1f9bd1;
  }
}
