.navigation-promo {
  &__list {
    @include listReset();

    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-above(md) {
      flex-direction: column;
      background-color: #f7faff;
    }
  }

  &__item {
    width: calc(100% / 2);
    text-align: center;
    @include respond-above(xs) {
      width: calc(100% / 4);
    }

    @include respond-above(md) {
      width: 100%;
      text-align: left;
    }
  }
  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    color: $text-color;

    font-weight: 700;

    @include ff(
      'font-size',
      (
        375px: 14px,
        1280px: 17px,
      )
    );

    text-decoration: none;

    @include respond-above(md) {
      padding: 15px 0;
      flex-direction: row;
    }
  }
  &__icon {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    fill: #00c5db;

    &--blue {
      fill: #008dca;
    }

    &--blue-2 {
      fill: #80c8d1;
    }

    &--orange {
      fill: #f3941c;
    }

    &--green {
      fill: #6db629;
    }
    &--pink {
      fill: #ef5421;
    }
    &--pink-2 {
      fill: #ff6666;
    }
    &--purple {
      fill: #cc99cc;
    }
    @include respond-above(md) {
      margin-bottom: 0;
      margin-right: 20px;
      width: 25px;
      height: 25px;
    }
  }
}

.navigation-promo__item:not(:last-child) .navigation-promo__link {
  @include respond-above(md) {
    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-image: url('../img/nav-promo/navigation-promo--border.png');
      background-repeat: repeat;
      background-size: cover;
      background-position: 0;
    }
  }
}

.navigation-promo__item {
  &--active {
    & .navigation-promo__link {
      color: #008dca;
    }
  }
}
