.navigation-top {
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
  }

  &__item {
    &:last-child {
      margin-left: auto;
    }
  }

  &__link {
    padding: 5px;

    color: $text-color;
    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 13px,
        1280px: 15px
      )
    );
    //line-height: 33.33px;

    text-decoration: none;
  }
}
