.navigation-promo {
  margin-bottom: 45px;

  &__list {
    @include listReset();

    padding: 10px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-above(sm769) {
      flex-direction: column;
      background-color: #f7faff;
    }
  }

  &__item {
    width: calc(100% / 2);
    text-align: center;
    @include respond-above(xs) {
      width: calc(100% / 4);
    }

    @include respond-above(sm769) {
      width: 100%;
      text-align: left;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding: 120px 0 20px 0;

    color: $text-color;
    font-family: $fontGoogleSans;

    font-weight: 700;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    text-decoration: none;

    @include respond-above(sm769) {
      padding: 20px 0 20px 45px;
    }
  }
}

.navigation-promo__link--icon-1,
.navigation-promo__link--icon-2,
.navigation-promo__link--icon-3,
.navigation-promo__link--icon-4,
.navigation-promo__link--icon-5,
.navigation-promo__link--icon-6,
.navigation-promo__link--icon-7,
.navigation-promo__link--icon-8 {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;

    @include respond-above(sm769) {
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.navigation-promo__link--icon-1::before {
  @include sprite($icon-menu_1);
}
.navigation-promo__link--icon-2::before {
  @include sprite($icon-menu_8);
}
.navigation-promo__link--icon-3::before {
  @include sprite($icon-menu_7);
}
.navigation-promo__link--icon-4::before {
  @include sprite($icon-menu_6);
}
.navigation-promo__link--icon-5::before {
  @include sprite($icon-menu_5);
}
.navigation-promo__link--icon-6::before {
  @include sprite($icon-menu_4);
}
.navigation-promo__link--icon-7::before {
  @include sprite($icon-menu_3);
}
.navigation-promo__link--icon-8::before {
  @include sprite($icon-menu_2);
}

.navigation-promo__item:not(:last-child) .navigation-promo__link {
  @include respond-above(sm769) {
    padding: 20px 0 20px 45px;
    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-image: url("../img/nav-promo/navigation-promo--border.png");
      background-repeat: repeat;
      background-size: cover;
      background-position: 0;
    }
  }
}

.navigation-promo__item {
  &--active {
    & .navigation-promo__link {
      color: #008dca;
    }
  }
}
