.page {
  margin-bottom: 200px;
  @include respond-above(sm) {
    margin-bottom: 0;
  }
  &__title {
    @include rem(margin-bottom, 20px);
    color: $text-color;

    @include respond-above(sm) {
      margin-right: auto;
      @include rem(margin-bottom, 40px);
    }
  }
  &__text {
    @include rem(margin-bottom, 30px);
    color: $text-color;
    @include ff(
      "font-size",
      (
        375px: 18px,
        1280px: 20px
      )
    );

    @include respond-above(sm) {
      @include rem(margin-bottom, 60px);
    }
  }
  & .link-button {
    @include respond-above(sm) {
      margin-right: auto;
    }
  }
}
