.page-footer {
  position: relative;
  display: none;
  z-index: 1;
  @include rem(
    (
      padding-top: 55px,
      padding-bottom: 65px
    )
  );
  background-color: $color-white;

  @include respond-above(sm) {
    display: flex;
    flex-direction: column;
  }

  &--br {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 15px;
      background-repeat: repeat-x;

      background-image: url("../img/line/title-br.png");

      opacity: 0.5;
    }
  }

  &__wrapper {
    @include respond-above(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__item {
    width: 16%;

    display: flex;
    flex-wrap: wrap;

    @include respond-above(xs) {
      width: 50%;

      &:nth-child(2) {
        width: 100%;
        order: 1;
        margin-top: 10px;
      }

      &:last-child {
        text-align: right;
      }
    }

    @include respond-above(lg) {
      &:first-child {
        width: 16%;
      }

      &:nth-child(2) {
        width: 50%;
        order: 0;
        margin-top: 0;
      }

      &:last-child {
        width: 28%;
      }
    }
  }

  &__logo {
    width: 100%;
    margin-bottom: 30px;
  }
  &__phone {
    width: 100%;

    text-decoration: none;
  }
  & .phone__link {
    font-size: 1.3rem;
  }
}

.page-footer__social {
  width: 100%;
  max-width: 367px;
  margin-left: auto;
}

.page-footer__email {
  margin-left: auto;
}
