.page-404 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include rem(max-width, 760px);

  margin: auto;
  @include rem(padding, 15px);

  @include respond-above(xs) {
    @include rem(padding, 30px);
  }

  @include respond-above(md) {
    @include rem(padding, 0 0 80px 0);
  }
  &__info {
    order: 1;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    @include respond-above(sm) {
      order: 0;
      justify-content: flex-start;
      width: 35%;
      text-align: left;
    }
  }
  &__pic {
    width: 100%;
    @include respond-above(sm) {
      width: 50%;
    }
  }
}
