.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;

  @include respond-above(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    margin: 0 auto 100px;
    padding: 0;
  }
  & .page-title {
    @include respond-above(sm769) {
      display: none;
    }
  }
}
