
.page-footer {
  padding-top: 55px;
  padding-bottom: 65px;
  background-color: $color-white;
  &__wrapper {
    display: none;

    @include respond-above(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__item {
    width: 16%;

    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      width: 50%;
    }

    &:last-child {
      width: 28%;
    }
  }

  &__logo {
    width: 100%;
    margin-bottom: 30px;
  }
  &__phone {
    width: 100%;
    text-decoration: none;
  }
}



