.page-404 {
  max-width: 760px;
  &__info {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include respond-above(sm) {
      order: 0;
      width: 50%;
      text-align: left;
    }
  }
  &__pic {
    width: 100%;
    @include respond-above(sm) {
      width: 50%;
    }
  }
}
