.page-cat {
  // padding-bottom: 65px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__nav {
    display: none;
    @include respond-above(md) {
      width: 25%;
      display: flex;
    }
  }
  &__info {
    width: 100%;

    @include respond-above(md) {
      width: 70%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    & .link-button--green {
      margin: auto;
    }
  }
  &__stock {
    display: none;

    @include respond-above(md) {
      display: block;
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  & .product {
    @include rem(
        (
          width: calc(50% - 10px),
          margin-right: 20px
        )
      );
      &:nth-child(2n) {
        margin-right: 0;
      }

    @include respond-above(xxs) {
      @include rem(
        (
          width: calc(50% - 20px),
          margin-right: 40px
        )
      );
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-above(sm) {
      width: calc(100% / 3 - 25px);
      margin-right: 25px;
      &:nth-child(2n) {
        margin-right: 25px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include respond-above(md) {
      width: calc(100% / 4 - 25px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include respond-above(lg) {
      width: calc(100% / 5 - 25px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 25px;
      }
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .title {
      margin-bottom: 40px;
    }
  }
  &__text-col {
    width: 100%;
    @include respond-above(md) {
      width: 40%;
    }
    &--pic {
      width: 100%;

      @include respond-above(md) {
        width: 57%;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 30px;
    }
  }
}
