.phone {
  text-decoration: none;
  color: $text-color;
  font-family: $fontGoogleSans;
  font-weight: 700;
  line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );

  &__code {
    color: #999999;
  }
}
