.phone {
  &__link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 15px,
        1280px: 16px
      )
    );
  }
  &__icon {
    fill: #919aad;
  }
}
