.picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  outline: none;

  &--fl {
    @include respond-above(xs) {
      float: left;
      max-width: 40vw;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    @include respond-above(sm) {
       max-width: 45vw;
    }
    @include respond-above(md) {
       max-width:25vw;
    }
    @include respond-above(xxlg) {
       max-width: 20vw;
    }
  }
}
