.popup {
  &__wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include respond-above(sm769) {
      max-width: 400px;
      height: 90%;
      margin-top: 5%;
      border-radius: 2em;
      padding: 2em 1.5em 1em;
    }
  }

  &__content-scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__inner {
    padding: 0 1em 2em;
  }
  &__title {
    @include respond-below(sm) {
      padding: 0 15px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    @include respond-below(sm) {
      padding: 0 15px;
    }
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 24px;
    width: 100%;
  }
  &__button {
    padding: 5px 15px 15px;

    display: block;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__bottom {
    display: flex;
    text-align: center;

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      align-items: center;
    }

    &--hidden-sm {
      @include respond-below(sm769) {
        display: none;
      }
    }
  }
}

.popup-overlay {
  display: none;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-overlay > * {
  -webkit-transform: translateZ(0px);
}

.popup-show {
  display: block;
}
