.popup-order {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;

  &__wrapper {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 500px) {
      margin: 5% auto;
      padding: 30px 30px 20px;
      height: auto;
      border-radius: 30px;
    }

    @media (min-width: $tablet-width) {
      padding: 30px;
      margin: 10% auto;
      height: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: $fontCrowdFunded;
    font-style: normal;
    font-weight: bold;

    line-height: normal;

    color: #333333;

    @include ff(
      "font-size",
      (
        375px: 16px,
        1440px: 25px
      )
    );
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 24px;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 15px;

    border: 1px solid transparent;
    line-height: 25px;
    font-size: 16px;
    color: #60749d;

    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(194, 156, 1, 0.15);
    border-radius: 5px;

    &:hover,
    &:focus {
      border: 1px solid #5993ff;
    }
  }

  &__textarea {
    width: 100%;
    padding: 15px;
    border-radius: 0;
    border: 1px solid #c9d0dc;
    line-height: 25px;
    font-size: 16px;
    color: #60749d;
    resize: none;

    &:hover,
    &:focus {
      border: 1px solid #5993ff;
    }
  }

  &__button {
    padding: 10px 15px;
    margin: 0 auto 13px;
    display: block;

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }
  }

  & .select__gap {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #eaebee;
    border-radius: 25px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 20px;
      transform: rotate(180deg) translateY(50%);

      @include sprite($icon-arrow-close);
    }
  }

  &__bottom {
    text-align: center;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 0;
    right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background-image: url("../img/icons/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.popup-order__chous {
  position: relative;
  width: 100%;
  padding: 15px 15px 15px 30px;
  border-radius: 0;
  border: 1px solid #c9d0dc;
  line-height: 25px;
  font-size: 16px;
  color: #60749d;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  transition: all 0.18s ease-in-out;

  @include ff(
    "font-size",
    (
      480px: 13px,
      1900px: 16px
    )
  );

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url("../img/icons/icon-input-file.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $mobile-width-x) {
      left: 13%;
    }

    @media (min-width: 500px) {
      left: 25%;
    }

    @media (min-width: $tablet-width) {
      left: 25%;
    }

    @media (min-width: $desktop-width) {
      left: 23%;
    }
  }
}

.popup-order__chous:hover {
  border: 1px solid #5993ff;
  background-position: bottom left;
}

.popup-order__input--file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.popup-order__text {
  font-style: normal;
  font-weight: 600;

  line-height: normal;

  color: #38383d;

  @include ff(
    "font-size",
    (
      375px: 14px,
      1440px: 16px
    )
  );
}
