.product {
  @include rem(padding, 10px);
  @include rem(margin-bottom, 35px);

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  transition: 1s;

  &--bg {
    background-image: url("../img/product/product-bg.png");
  }

  &--bg-2 {
    background-image: url("../img/product/product-bg-2.png");
  }

  &--br {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      @include rem(height, 13px);
      background-image: url("../img/product/pr-br-top.png");
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      width: 100%;
      @include rem(height, 17px);
      background-image: url("../img/product/pr-br-bm.png");
      background-size: cover;
    }
  }

  &--br-blue {
    position: relative;
    background-color: #f7faff;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      @include rem(height, 13px);
      background-image: url("../img/product/pr-br-top-2.png");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      width: 100%;
      @include rem(height, 17px);
      background-image: url("../img/product/pr-br-bm-2.png");
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--br {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        @include rem(top, -7px);
        @include rem(left, -16px);

        @include rem(width, 10px);
        height: 104%;

        background-image: url("../img/product/pr-br-left.png");
        background-repeat: repeat-y;
        background-size: cover;
      }

      &::after {
        position: absolute;
        content: "";

        @include rem(top, -9px);
        @include rem(right, -12px);

        @include rem(width, 10px);
        height: 104%;

        background-image: url("../img/product/pr-br-right.png");
        background-repeat: repeat-y;
        background-size: cover;
      }
    }

    &--br-blue {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        @include rem(top, -7px);
        @include rem(left, -16px);

        @include rem(width, 10px);
        height: 104%;

        background-image: url("../img/product/pr-br-left-2.png");
        background-repeat: repeat-y;
        background-size: cover;
      }

      &::after {
        position: absolute;
        content: "";
        @include rem(top, -9px);
        @include rem(right, -12px);

        height: 104%;
        @include rem(width, 10px);

        background-image: url("../img/product/pr-br-right-2.png");
        background-repeat: repeat-y;
        background-size: cover;
      }
    }
  }
  &__pic {
    position: relative;

    max-width: 100%;
    @include rem(width, 300px);

    @include rem(margin-bottom, 20px);

    & img {
      width: 100%;
    }
  }
  &__name {
    align-self: flex-start;
    @include rem(margin-bottom, 15px);

    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 15px,
        750px: 17px
      )
    );

    text-decoration: none;

    @include respond-above(lg) {
      @include rem(line-height, 20.83px);
    }
  }
  &__intro {
    @include rem(margin, 0 0 17px 0);

    color: $text-color-2;

    font-weight: 400;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    @include respond-above(lg) {
      @include rem(line-height, 20.83px);
    }
  }
  &__price {
    align-self: flex-start;
    @include rem(margin, 0 0 17px 0);

    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 16px,
        1280px: 25px
      )
    );
  }
  &__button {
    @include rem(margin, 0 0 20px 0);
    @include rem(padding, 5px 30px 10px 30px);

    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 25px
      )
    );
  }
}

.product__icon {
  &.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
