.product {
  // width: 240px;
  //min-height: 450px;
  margin-bottom: 35px;
  padding: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  &--bg {
    background-image: url("../img/product/product-bg.png");
  }

  &--bg-2 {
    background-image: url("../img/product/product-bg-2.png");
  }

  &--br {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 13px;
      background-image: url("../img/product/pr-br-top.png");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/product/pr-br-bm.png");
    }
  }

  &--br-blue {
    position: relative;
    background-color: #f7faff;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 13px;
      background-image: url("../img/product/pr-br-top-2.png");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/product/pr-br-bm-2.png");
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--br {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -7px;
        left: -16px;
        width: 10px;
        height: 104%;
        background-image: url("../img/product/pr-br-left.png");
        background-repeat: repeat-y;
        background-size: cover;
      }

      &::after {
        position: absolute;
        content: "";
        top: -9px;
        right: -12px;
        height: 104%;
        width: 10px;
        background-image: url("../img/product/pr-br-right.png");
        background-repeat: repeat-y;
        background-size: cover;
      }
    }

    &--br-blue {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -7px;
        left: -16px;
        width: 10px;
        height: 104%;
        background-image: url("../img/product/pr-br-left-2.png");
        background-repeat: repeat-y;
        background-size: cover;
      }

      &::after {
        position: absolute;
        content: "";
        top: -9px;
        right: -12px;
        height: 104%;
        width: 10px;
        background-image: url("../img/product/pr-br-right-2.png");
        background-repeat: repeat-y;
        background-size: cover;
      }
    }
  }
  &__pic {
    position: relative;
    width: 210px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  &__name {
    margin-bottom: 15px;

    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    text-decoration: none;

    @media (min-width: $desktop-width-x) {
      line-height: 20.83px;
    }
  }
  &__intro {
    margin: 0;
    margin-bottom: 17px;

    color: $text-color-2;

    font-weight: 400;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    @media (min-width: $desktop-width-x) {
      line-height: 20.83px;
    }
  }
  &__price {
    align-self: flex-start;
    margin-bottom: 17px;

    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );
  }
  &__button {
    margin-bottom: 20px;
    padding: 5px 30px 10px;
    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 25px
      )
    );
  }
}

.product__icon {
  &.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // &--48 {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   &::before {
  //     position: absolute;
  //     content: "";
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);

  //     background: #008dca;
  //     border-radius: 50%;

  //     @include sprite($icon-48);
  //   }
  // }
}
