.product {
  // width: 240px;
  min-height: 450px;
  margin-bottom: 35px;
  background-color: #ffffff;
  background-image: url("../img/product/product-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  // background-color: $color-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  &__pic {
    position: relative;
    width: 210px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  &__name {
    margin-bottom: 15px;

    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    text-decoration: none;

    @media (min-width: $desktop-width-x) {
      line-height: 20.83px;
    }
  }
  &__intro {
    margin: 0;
    margin-bottom: 17px;

    color: $text-color-2;

    font-weight: 400;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    @media (min-width: $desktop-width-x) {
      line-height: 20.83px;
    }
  }
  &__price {
    align-self: flex-start;
    margin-bottom: 17px;

    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );
  }
  &__button {
    margin-bottom: 20px;
    padding: 10px 30px;
    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 25px
      )
    );
  }
}

.product__icon {
  &--48 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background: #008dca;
      border-radius: 50%;

      @include sprite($icon-48);
    }
  }
}
