.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__pic {
    width: 100%;
    text-align: center;
    @include respond-above(sm) {
      width: 40%;
    }
  }
  &__img {
    margin-bottom: 1rem;
  }

  &__info {
    width: 100%;
    @include respond-above(sm) {
      width: 60%;
    }
  }

  &__company {
    width: 100%;
    margin-top: 70px;
  }

  &__title {
    color: $text-color;

    font-weight: 400;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );
  }

  &__title-2 {
    margin-bottom: 1rem;
    padding-left: 10px;
    color: $text-color;

    font-weight: 700;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1280px: 25px
      )
    );
  }

  &__list {
    @include listReset();

    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__item {
    margin-bottom: 10px;
    color: $text-color;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );
  }

  &__name {
    padding-right: 10px;
    font-weight: 400;
  }
  &__val {
    font-weight: 700;
  }

  &__link {
    display: block;
    color: #008dca;

    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    text-decoration: none;
  }

  &__table {
    width: 100%;
    margin-bottom: 30px;


  }

  & .button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
