.project {
  padding: 10px 5px;
  background-image: url("../img/projects/last-project-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;


  &__wrapper {
    background: #ffffff;
  }
  &__link {
    position: relative;
    display: block;
    margin-bottom: 10px;

    overflow: hidden;
  }
  &__marker {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;

    display: flex;
    align-items: center;

    padding: 5px 15px 5px 5px;

    color: $color-white;

    font-weight: 700;
    @include ff(
      "font-size",
      (
        375px: 10px,
        1280px: 15px
      )
    );

    background-color: rgba(0, 0, 0, 0.25);

    border-radius: 20px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 5px;
    //   display: block;

    //   transform: translateY(-50%);

    //   // иконка часов

    //   @include sprite($icon-time);
    // }
  }
  &__svg {
    margin-right: 10px;
    fill: #ffffff;
  }
  &__text {
    padding: 0 10px;
    margin-bottom: 10px;
    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );

    text-align: center;

    @include respond-above(md) {
      padding: 0 20px;
    }
  }
  &__company {
    display: block;
  }
}

.project__hover {
  display: none;
  transform: translateY(200%);
  opacity: 0;
}

.project__text-more {
  position: relative;
  padding-bottom: 5px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-title;

  @include ff(
    "font-size",
    (
      375px: 20px,
      1280px: 25px
    )
  );

  &::before {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);

    width: 100%;
    height: 6px;
    background-image: url("../img/projects/projects-more-link-border.png");
    background-repeat: repeat-x;
    background-size: 115px;
  }
}

.project__link:hover .project__hover {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  justify-content: center;
  align-items: center;

  transform: translateY(0%);
  opacity: 1;
  transition: 0.6s;
}
