.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: left;

  background-color: $color-white;
}

.promo .page-header {
  z-index: 3;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__nav {
  width: 25%;
}

.promo__info {
  width: 75%;
}

.promo__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__pic {
  width: 50%;
}

.promo__text {
  width: 50%;
}