.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  text-align: left;

  background-color: $color-white;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    height: auto;
    width: 100%;

    @include respond-above(md) {
      max-height: 560px;
    }
  }

  &__title {
    width: 100%;

    margin: auto;
    margin-bottom: 40px;

    color: #1a1a1a;
    font-family: $font-title;

    font-weight: 400;
    line-height: normal;
    //line-height: 175px;
    text-align: center;

    @include ff(
      "font-size",
      (
        375px: 34px,
        1280px: 44px,
        1540px: 54px
      )
    );

    @include respond-above(md) {
      text-align: right;
      max-width: 430px;
      margin-right: 0;
    }
    @include respond-above(lg) {
      max-width: 410px;
    }
  }

  &__sale-text {
    padding-left: 142px;
    margin-bottom: 60px;

    min-height: 122px;

    color: #1a1a1a;

    font-weight: 400;
    //line-height: 33.33px;

    @include ff(
      "font-size",
      (
        375px: 18px,
        1280px: 22px,
        1540px: 25px
      )
    );

    &--icon {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        display: block;

        @include sprite($icon-sale);
      }
    }
  }
}

.promo .page-header {
  z-index: 3;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__nav {
  order: 1;
  width: 100%;
  padding-top: 60px;

  @include respond-above(md) {
    order: 0;
    width: 25%;
    padding-top: 0;
  }
}

.promo__info {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  @include respond-above(xs) {
    min-height: 500px;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: "";
      bottom: -12%;
      left: 3%;

      width: 100%;
      height: 100%;

      background-image: url("../img/promo/promo-men.png");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position-y: 100%;
    }
  }

  @include respond-above(md) {
    width: 75%;
  }
}

.promo__pic {
  display: none;

  @include respond-above(sm) {
    display: block;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
  }
}

.promo__text {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-right: 0;

  text-align: center;

  background-image: url("../img/promo/promo-info-bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  @include respond-above(sm) {
    text-align: left;
  }
}
