.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  text-align: left;

  background-color: $color-white;
}

.promo .page-header {
  z-index: 3;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__nav {
  width: 30%;
}

.promo__info {
  width: 60%;
}