.range {
  position: relative;

  @include rem(max-width, 100px);

  @include respond-above(sm) {
    @include rem(min-width, 90px);
  }

  &__number {
    position: absolute;
    top: 0;

    @include rem(
      (
        right: -50px,
        padding-right: 15px
      )
    );

    font-weight: 600;
    &::before {
      position: absolute;
      content: "%";
      top: 0;
      right: 0;
    }

    @include respond-below(sm769) {
      right: 0;
    }
  }
  & .rangeslider__handle {
    opacity: 0;
    width: 1px;
    height: 1px;
  }
  & .rangeslider__fill {
    background-color: #a3b806;

    @include respond-below(sm769) {
      // visibility: hidden;
      // opacity: 0;
    }
  }
  & .rangeslider {
    @include respond-below(sm769) {
      // visibility: hidden;
      // opacity: 0;
    }
  }
}
