.rating {
  @include listReset();
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;

    @include rem(
      (
        width: 20px,
        height: 20px
      )
    );

    fill: #e6e6e6;

    cursor: pointer;

    @include respond-above(sm) {
      @include rem(
        (
          width: 15px,
          height: 15px
        )
      );
    }

    @include respond-above(lg) {
      @include rem(
        (
          width: 24px,
          height: 24px
        )
      );
    }

    &.rating__item--active,
    &.rating__item--active ~ *,
    &:hover,
    &:hover ~ * {
      & svg {
        fill: #f3931a;
        width: 100%;
      }
    }
  }
}

.star1 {
  fill: #e6e6e6;
  &:hover,
  &:hover ~ * {
    & svg {
      fill: #f3931a;
      width: 100%;
    }
  }
}

.star1a,
.star1b {
  & svg {
    fill: #f3931a;
    width: 100%;
  }
}

.starres {
    position: absolute;
    bottom: -20px;
    text-transform: lowercase;
}
