.requisites {
  &__list {
    @include listReset();
    margin-top: 30px;
  }
  &__item {
    display: flex;
    margin-bottom: 30px;
  }
  &__name {
    margin-right: 1em;
  }
  &__val {
    font-weight: 600;
  }
  &__warning {
    margin-bottom: 30px;
    font-weight: 600;
  }
}
