.requisites {
  &__list {
    @include listReset();
    @include rem(margin-top, 30px);
  }
  &__item {
    display: flex;

    @include rem(margin-bottom, 30px);
  }
  &__name {
    margin-right: 1em;
  }
  &__val {
    font-weight: 600;
  }
  &__warning {
    @include rem(margin-bottom, 30px);
    font-weight: 600;
  }
}
