.result {
  @include rem(padding, 40px 0);
  @include respond-above(sm) {
    @include rem(padding, 50px 0 100px);
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .title {
    margin-bottom: 45px;

    @include respond-above(sm) {
      margin-bottom: 100px;
    }
  }
  &__list {
    @include listReset();

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    @include respond-above(sm) {
      flex-direction: row;
    }
  }
  &__item {
    text-align: center;
    @include rem(margin-bottom, 40px);
    &:last-child {
      margin-bottom: 0;
    }
    @include respond-above(sm) {
      margin-bottom: 0;
    }
  }
  &__num {
    @include rem(margin-bottom, 20px);
    font-weight: 600;
    color: #6db629;

    @include ff(
      "font-size",
      (
        375px: 45px,
        1280px: 58px
      )
    );

    @include respond-above(sm) {
      @include rem(margin-bottom, 30px);
    }
  }
  &__info {
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 16px
      )
    );
  }
}
