.reviews {
  position: relative;

  padding-top: 55px;
  padding-bottom: 55px;


  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 85px;
  }

  &__item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    @include respond-above(sm) {
      width: calc(100% / 2 - 65px);
    }

    &:nth-child(1),
    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        background-repeat: repeat-x;

        //@include sprite($icon-wave);

        width: 100%;
        height: 10px;

        background-image: url("../../img/icons/icon-wave.png");
        background-size: 20%;
      }
    }
  }
}
