.reviews {
  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: none;
    position: relative;
    width: 100%;
    @include rem(margin-bottom, 20px);

    &:nth-child(1),
    &:nth-child(2) {
      display: flex;
    }
    @include respond-above(sm) {
      width: calc(100% / 2 - 65px);
      display: flex;
    }

    &:nth-child(1),
    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        background-repeat: repeat-x;

        //@include sprite($icon-wave);

        width: 100%;
        height: 10px;

        background-image: url("../img/icons/icon-wave.png");
        background-size: 20%;
      }
    }
  }
}
