.search-form {
  display: flex;
  flex-direction: column;

  width: 100%;

  @include respond-above(xs) {
    flex-direction: row;
  }

  @include respond-above(sm769) {
    margin-bottom: 10px;
    flex-direction: column;
  }

  @include respond-above(lg) {
    flex-direction: row;
  }

  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;

    &:first-child {
      flex-grow: 1;
      margin-bottom: 1rem;

      @include respond-above(xs) {
        margin-bottom: 0;
      }

      @include respond-above(sm769) {
        margin-bottom: 1rem;
      }

      @include respond-above(lg) {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    position: relative;
    height: 100%;
    width: 42px;
    min-height: 100%;
    padding: 0.87rem 0.5rem;
    background: #008dca;

    border-radius: 0 40px 40px 0;
    overflow: hidden;

    @include respond-above(xs) {
      width: 52px;
      min-height: 43px;
      margin-left: -1px;
      padding: 0.5rem;
    }

    @include respond-above(sm769) {
      width: 52px;
    }
  }

  &__icon {
    fill: #ffffff;
  }
}

.search-form__val {
  padding: 1rem;

  height: 100%;
  width: 100%;

  color: #b3bbc9;
  font-family: $fontGoogleSans;
  font-size: 15px;
  font-weight: 400;
  // line-height: 33.33px;

  @include ff(
    "font-size",
    (
      375px: 12px,
      1280px: 15px
    )
  );

  border-radius: 2em;
  border: 1px solid #b3bbc9;

  @include respond-above(xs) {
    border-radius: 2em 0 0 2em;
  }

  @include respond-above(sm) {
    padding: 0.5rem 1rem;
  }

  @include respond-above(sm769) {
    border-radius: 2em;
  }

  @include respond-above(lg) {
    border-radius: 2em 0 0 2em;
  }

  &::placeholder {
    color: #b3bbc9;
  }
}

.search-form__select {
  position: relative;
}

.search-form .select__gap {
  position: relative;
  padding: 0.8rem 1rem;

  width: 100%;
  min-height: 39px;

  color: #1a1a1a;
  font-size: 15px;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;

  @include ff(
    "font-size",
    (
      375px: 12px,
      1280px: 15px
    )
  );

  border: 1px solid #b3bbc9;
  border-radius: 2em 0 0 2em;
  background: #ffffff;

  @include respond-above(xs) {
    border-radius: 0;
    min-height: 43px;
    margin-left: -1px;
    padding: 1rem;
  }

  @include respond-above(sm) {
    padding: 0.5rem 1rem;
  }

  @include respond-above(sm769) {
    border-radius: 2em 0 0 2em;
  }

  @include respond-above(lg) {
    border-radius: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 5%;
    padding: 5px 33px 5px 0;
    background: #fff;

    @include sprite($icon-arrow-close);

    transform: rotate(180deg) translateY(50%);
  }
}

.search-form .select {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
}

.search-form .select__list {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 5;

  width: 100%;

  @include listReset();

  padding: 10px 0;
  margin-top: -1px;
  margin-left: -1px;

  background: #ffffff;
  border: 1px solid #b3bbc9;

  @include respond-above(xs) {
    top: 43px;
    left: 0;
  }

  @include respond-above(md) {
    top: 43px;
  }
}

.search-form .select__item {
  padding: 10px 10px;

  color: #1a1a1a;
  font-size: 15px;
  font-weight: 400;
  // line-height: 33.33px;

  @include ff(
    "font-size",
    (
      375px: 12px,
      1280px: 15px
    )
  );
}
