.slider-base {
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;

    margin: 0 auto;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: 30px;
      margin-left: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 65px;
    }
  }

  &__slider {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 200px;
    width: calc(50% - 10px);
    margin-right: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }

    @include respond-above(sm) {
      width: calc(100% / 3 - 25px);
      margin-right: 25px;
      &:nth-child(2n) {
        margin-right: 25px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include respond-above(md) {
      width: calc(100% / 4 - 25px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include respond-above(lg) {
      width: calc(100% / 5 - 25px);
      margin-right: 25px;
      &:nth-child(3n) {
        margin-right: 25px;
      }
      &:nth-child(4n) {
        margin-right: 25px;
      }
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  &__btn {
    display: none;
    // position: absolute;
    top: 0;
    right: 0;
    font-size: 0;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &__btn-prev,
  &__btn-next {
    position: relative;
    font-size: 0;
    width: 48px;
    height: 48px;
    margin: 0 10px;
    border: 1px solid #49b4e4;
    background-color: #f5fcff;

    @media (min-width: $tablet-width) {
      width: 38px;
      height: 38px;
    }

    @media (min-width: 1440px) {
      width: 48px;
      height: 48px;
    }

    &:hover,
    &:focus {
      border-color: $color-blue;
    }
  }

  &__btn-prev::before,
  &__btn-next::before {
    position: absolute;
    content: ">";

    top: 50%;
    left: 50%;
    color: #49b4e4;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-size: 20px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 15px;
      font-size: 15px;
    }

    @media (min-width: 1440px) {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  &__btn-prev::before {
    transform: rotate(-180deg);

    @media (min-width: $tablet-width) {
      margin-top: -6px;
      margin-left: -8px;
    }

    @media (min-width: 1440px) {
      margin-left: -10px;
      margin-top: -10px;
    }
  }

  &__btn-next::before {
    margin-top: -11px;

    @media (min-width: $tablet-width) {
      margin-left: -6px;
    }

    @media (min-width: 1440px) {
      margin-left: -10px;
      margin-top: -11px;
    }
  }
}

.slider-base .slick-dots {
  bottom: 30px;
}

.slider-base .slick-dots li {
  width: 20px;
  height: 8px;
}

.slider-base .slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.slider-base .slick-dots li button:before {
  font-size: 0;
}

.slider-base .slick-dots li.slick-active button {
  background-color: #57b2db;
}

.slider-base .slick-slide {
  margin: 0 5px auto;
}

.slider-base .slick-list {
  margin-bottom: 40px;
}
