.slider {
  &__for {
    width: 100%;
    height: 100%;

    @include respond-above(md1100) {
      width: 75%;

      position: absolute;
      top: 0;
      right: 0;
    }

    & .slick-list {
      height: 100%;
    }

    & .slick-track {
      height: 100%;
    }
  }
  &__nav {
    display: none;
    width: 100%;

    @include respond-above(md1100) {
      display: block;
      position: absolute;
      z-index: 1;
      top: -33px;
      left: auto;
      right: 80%;
      height: 100%;
      width: 100%;

      margin: 0;

      transform: rotate(90deg);
    }
  }
  &__nav-item {
    transform: rotate(-90deg);
  }
  &__item {
    position: relative;
    height: 100%;
  }
  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__marker {
    position: absolute;
    top: 4%;
    left: 3%;
  }
  &__loupe {
    display: none;
    position: absolute;
    bottom: 6%;
    right: 7%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-blue;
    border-radius: 50%;

    @include respond-above(sm) {
      display: block;
    }
  }
  &__loupe-icon {
    fill: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .slick-list.draggable {
    // position: absolute;
    // top: 0;
    // left: 0;
  }
}
