.social {
  &__title {
    margin-bottom: 20px;

    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );
  }
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 30px;
  }
  &__item {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  &__svg {
    fill: #c9cdd4;
    border-radius: 50%;
  }
}

.social__link:hover .social__svg {
  fill: #008dca;
}
