.social {
  &__title {
    margin-bottom: 20px;

    color: $text-color;
    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1280px: 17px
      )
    );
  }
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 30px;
  }
  &__item {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.social__link--vk,
.social__link--inst,
.social__link--fb,
.social__link--wp,
.social__link--phone,
.social__link--telegram {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent;
  }
}

.social__link--vk::before {
  @include sprite($icon-vk);
}
.social__link--inst::before {
  @include sprite($icon-ins);
}
.social__link--fb::before {
  @include sprite($icon-fb);
}
.social__link--wp::before {
  @include sprite($icon-vb);
}
.social__link--phone::before {
  @include sprite($icon-wa);
}
.social__link--telegram::before {
  @include sprite($icon-tel);
}

.social__link--vk:hover::before {
  @include sprite($icon-vk_a);
}
.social__link--inst:hover::before {
  @include sprite($icon-ins_a);
}
.social__link--fb:hover::before {
  @include sprite($icon-fb_a);
}
.social__link--wp:hover::before {
  @include sprite($icon-vb_a);
}
.social__link--phone:hover::before {
  @include sprite($icon-wa_a);
}
.social__link--telegram:hover::before {
  @include sprite($icon-tel_a);
}
