.sort {
  display: flex;

  @include rem(margin-bottom, 40px);

  @include respond-above(sm) {
    align-items: center;
  }

  &__caption {
    margin-right: 20px;
    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 14px
      )
    );
  }

  &__list {
    display: none;
    @include listReset();
    flex-wrap: wrap;
    flex-direction: column;

    &--active {
      display: block;
    }

    @include respond-above(sm) {
      display: flex;
      flex-direction: row;
    }
  }

  &__item {
    &:not(:last-child) {
      @include rem(margin-right, 20px);
    }
  }

  &__button {
    color: $color-blue;
    font-weight: 600;
    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 14px
      )
    );
  }
  &__mobile {
    @include respond-below(sm) {
      display: block;
    }
  }
}

.sort__item--active .sort__button {
  color: $text-color;
}

.sort__mobile-item {
  display: none;
  @include respond-below(sm) {
    position: relative;
    display: block;

    @include rem(padding-right, 15px);

    &::before {
      position: absolute;
      content: "";
      top: 30%;
      right: 0;

      @include rem(
        (
          width: 10px,
          height: 10px
        )
      );

      background-image: url("../img/icons/icon-023-arrow-point-to-right.svg");

      transform: rotate(90deg) translateY(-50%);
    }
  }
}
