.stars {
  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 24px;
    height: 24px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;

      @include sprite($icon-star-a);
    }
  }
}
