.steps {
  display: block;
  margin-right: auto;

  @include rem(
    (
      margin-top: 40px,
      margin-bottom: 40px
    )
  );
  &__list {
    @include listReset();
    display: flex;
    align-items: center;
  }

  color: $text-color;

  &__item {
    @include rem(padding, 20px 0);

    &:not(:last-child) {
      @include rem(margin-right, 20px);
    }

    &--hidden-sm {
      display: block;
      @include respond-below(sm) {
        display: none;
      }
    }
  }

  &__number {
    margin-right: 1em;
    @include rem(
      (
        margin-right: 10px,
        padding: 8px 17px
      )
    );
    // padding: 0.5em 0.85em;
    font-weight: 600;
    color: #ffffff;
    background-color: #e6e6e6;
    border-radius: 50%;

    @include ff(
      "font-size",
      (
        375px: 20px,
        750px: 25px
      )
    );
  }
  &__name {
    color: $text-color;
    font-weight: 600;
  }
}

.steps__item--active {
  & .steps__number {
    background-color: $color-green;
  }
  & .steps__name {
    color: #000000;
  }
}
