.stock {
  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @include rem(padding, 55px 0);
  }

  &__inner {
    position: relative;
    width: 100%;

    margin: 0 auto;
    @include rem(padding, 40px);

    background-color: $color-orange-2;

    @include rem(border-radius, 10px);

    &::before {
      position: absolute;
      content: "";
      top: -8px;
      left: 0;
      width: 100%;
      @include rem(height, 10px);
      background-image: url("../img/stock/br-top.png");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 0;
      width: 100%;
      @include rem(height, 10px);
      background-image: url("../img/stock/br-bm.png");
    }

    @include respond-above(sm) {
      @include rem(padding-bottom, 130px);
    }

    @include respond-above(md) {
      @include rem(padding-bottom, 80px);
    }
  }

  &__inner-br {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include rem(left, -8px);

      @include rem(width, 10px);
      height: 100%;

      background-image: url("../img/stock/br-left.png");
      background-repeat: repeat-y;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      @include rem(right, -6px);

      @include rem(width, 10px);
      height: 100%;

      background-image: url("../img/stock/br-right.png");
      background-repeat: repeat-y;
    }
  }

  &__info {
    width: 100%;
    text-align: center;

    @include respond-above(md) {
      width: 60%;
      text-align: left;
    }

    @include respond-above(lg) {
      width: 60%;
    }
  }
  &__timer {
    width: 100%;
    text-align: center;
    background-color: $color-orange-2;

    @include respond-above(md) {
      width: 40%;
      text-align: left;
    }

    @include respond-above(lg) {
      width: 40%;
    }
  }

  &__title {
    color: #ffffcc;
    font-family: $font-title;
    font-weight: 400;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 25px,
        750px: 41px,
        1280px: 43px,
        1540px: 46px
      )
    );

    text-transform: uppercase;
  }
  &__present {
    @include rem(margin-bottom, 20px);

    font-family: $font-title;
    line-height: normal;
    font-weight: 400;
    @include ff(
      "font-size",
      (
        375px: 40px,
        750px: 123px,
        993px: 45px,
        1280px: 60px,
        1540px: 80px
      )
    );
    color: #ffffff;
    text-transform: uppercase;

    @include respond-above(sm) {
      line-height: 100px;
    }

    @include respond-above(md) {
      position: relative;

      @include rem(padding-left, 260px);

      line-height: normal;
      &::before {
        position: absolute;
        content: "";

        @include rem(
          (
            top: 5px,
            left: -10px
          )
        );

        @include sprite($icon-gifts);
      }
    }

    @include respond-above(lg) {
      &::before {
        @include rem(top, 25px);
      }
    }
  }

  &__timer-text {
    @include rem(margin, 10px 0 30px);

    color: #ffffff;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    @include ff(
      "font-size",
      (
        375px: 16px,
        750px: 20px,
        1280px: 17px
      )
    );
  }
}
