.table {
  width: 100%;
  border-collapse: collapse;

  &__title {
    position: relative;
    @include rem(padding, 10px 10px 20px 10px);
    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      width: 100%;
      @include rem(height, 10px);

      background-repeat: repeat-x;
      background-image: url("../img/projects/projects-title-border-2.png");
      @include rem(background-size, 30px);
    }
  }

  &__head {
    @include respond-below(md) {
      display: none;
    }
  }

  &__row {
    @include respond-below(md) {
      position: relative;
      display: flex;
      flex-direction: column;

      @include rem(
        (
          margin-bottom: 15px,
          padding-bottom: 30px
        )
      );

      &::before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;

        width: 100%;
        @include rem(height, 10px);

        background-repeat: repeat-x;
        background-image: url("../img/line/title-br-blue.png");
        @include rem(background-size, 18px);
      }
    }
  }

  &__val {
    @include rem(
      (
        max-width: 175px,
        padding: 10px
      )
    );
    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    &--no-pay {
      color: #ef5421;
    }

    &--tel {
      @include rem(min-width, 140px);
    }

    @include respond-below(md) {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 100%;
      padding-left: 20%;

      &::before {
        position: absolute;
        content: attr(data-name);
        top: 9px;
        left: 0;
      }
    }
  }

  &__link {
    color: #008dca;
    text-decoration: none;
  }
  &__link[target="_blank"] {
    color: $text-color;
  }
}
