.table-company {
  overflow: hidden;
  @include rem(margin-bottom, 20px);
  & .table__val {
    @include respond-below(md) {
      @include rem(padding, 5px 10px);
      text-align: right;
      display: block;

      &::before {
        top: 5px;
      }

      &:last-child {
        display: none;
      }
    }
  }
}
