.table-company {
  overflow: hidden;
  & .table__val {
    @include respond-below(md) {
      @include rem(padding, 5px 10px);
      padding-left: 25%;

      &::before {
        top: 5px;
      }

      &:last-child {
        display: none;
      }
    }

    @include respond-below(xxs) {
      padding-left: 53%;
    }
  }
}
