.table {
  border-collapse: collapse;

  &__title {
    position: relative;
    padding: 10px 10px 20px 10px;
    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      display: block;
      width: 100%;
      height: 10px;
      background-repeat: repeat-x;
      background-size: 30px;

      background-image: url("../img/projects/projects-title-border-2.png");
    }
  }

  &__head {
    @include respond-below(md) {
      display: none;
    }
  }

  &__row {
    @include respond-below(md) {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      padding-bottom: 2em;

      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: block;
        background-repeat: repeat-x;

        width: 100%;
        height: 10px;

        background-image: url("../img/line/title-br-blue.png");

        background-size: 18px;
      }
    }
  }

  &__val {
    max-width: 175px;
    padding: 10px;
    color: $text-color;

    font-weight: 700;
    line-height: normal;

    @include ff(
      "font-size",
      (
        375px: 12px,
        1280px: 15px
      )
    );

    &--no-pay {
      color: #ef5421;
    }

    &--tel {
      min-width: 140px;
    }

    @include respond-below(md) {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 100%;
      padding-left: 20%;

      &::before {
        position: absolute;
        content: attr(data-name);
        top: 9px;
        left: 0;
      }
    }
  }

  &__link {
    color: #008dca;
    text-decoration: none;
  }
  &__link[target="_blank"] {
    color: $text-color;
  }
}
