.timer {
  &__inner {
    margin: auto;
    @include rem(padding-top, 20px);

    @include rem(max-width, 400px);

    text-align: center;
  }

  &__list {
    @include listReset();
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    padding: 0;

    font-weight: 600;
    color: #ffffff;

    @include ff(
      "font-size",
      (
        375px: 20px,
        750px: 25px,
        1280px: 30px
      )
    );

    &--hidden {
      display: none;
    }

    &:not(:first-child)::before {
      position: absolute;
      content: ":";
      top: 3px;
      right: 110%;

      @include rem(
        (
          width: 10px,
          height: 10px
        )
      );

      @include ff(
        "font-size",
        (
          375px: 40px,
          750px: 50px,
          1280px: 70px
        )
      );

      color: #ffffff;

      @include respond-above(xxxs) {
        right: 140%;
      }

      @include respond-above(sm) {
        right: 150%;
        top: 8px;
      }
    }

    & span {
      position: relative;
      display: block;
      z-index: 2;

      @include rem(
        (
          margin-bottom: 20px,
          height: 40px
        )
      );

      font-family: $font-title;

      color: #ffffff;

      @include ff(
        "font-size",
        (
          375px: 40px,
          750px: 60px,
          1280px: 70px
        )
      );

      &::before {
        position: absolute;
        content: "";
        z-index: -1;
        top: -20px;
        left: 0;
        width: 75px;
        height: 80px;
        background-image: url("../img/timer/timer-item.png");
        background-repeat: no-repeat;
        background-size: contain;

        @include respond-above(sm) {
          top: -24px;
          left: -2px;
          width: 75px;
          height: 99px;
        }

        @include respond-above(md) {
          width: 90px;
          height: 100px;
        }
      }

      @include respond-above(sm) {
        @include rem(
          (
            margin-bottom: 20px,
            height: 60px
          )
        );
      }
    }
  }
}
