.title {
  display: inline-block;
  margin: 0;

  font-family: $font-title;
  font-weight: 400;
  line-height: 1;
  color: $color-title;

  @include ff(
    "font-size",
    (
      375px: 24px,
      750px: 50px
    )
  );

  text-align: center;
  text-transform: uppercase;

  &--line {
    position: relative;
    @include rem(margin-bottom, 40px);
    &::before {
      content: "";
      position: absolute;
      @include rem(bottom, -16px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      display: block;

      width: 100%;
      @include rem(height, 10px);

      background-size: contain;
      background-repeat: repeat-x;
      background-image: url("../img/line/title-br.png");

      @include rem(background-size, 23px);

      @include respond-above(md) {
        @include rem(background-size, 40px);
      }
    }

    @include respond-above(md) {
      @include rem(margin-bottom, 60px);
    }
  }

  &--line-fz {
    position: relative;
    font-family: $font-base;
    text-transform: inherit;
    &::before {
      content: "";
      position: absolute;
      @include rem(bottom, -16px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      display: block;
      background-repeat: repeat-x;

      width: 100%;
      @include rem(height, 10px);

      background-image: url("../img/line/title-br.png");

      @include rem(background-size, 23px);

      @include respond-above(md) {
        @include rem(background-size, 40px);
      }
    }
  }

  &--line-blue {
    position: relative;
    @include rem(margin-bottom, 40px);
    &::before {
      content: "";
      position: absolute;
      @include rem(bottom, -16px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      display: block;
      background-repeat: repeat-x;

      width: 100%;
      @include rem(height, 10px);

      background-image: url("../img/line/title-br-blue.png");

      @include rem(background-size, 23px);

      @include respond-above(md) {
        @include rem(background-size, 40px);
      }
    }
    @include respond-above(md) {
      @include rem(margin-bottom, 60px);
    }
  }
  &--gray {
    color: #333333;
  }
  &--hidden-sm {
    @include respond-below(sm) {
      display: none;
    }
  }
}
