
.title {
  position: relative;
  display: inline-block;

  margin: 0;

  font-family: $fontCrowdFunded;
  font-size: 50px;
  font-weight: 900;
  line-height: normal;
  text-align: center;

  @include ff('font-size', (375px: 24px, 1280px: 50px));

  color: $color-title;

  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    background-repeat: repeat-x;

    //@include sprite($icon-wave);

    width: 100%;
    height: 10px;

    background-image: url("../../img/icons/icon-wave.png");
  }
}


.title-2 {
  position: relative;
  display: inline-block;

  margin: 0;

  font-family: $fontCrowdFunded;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  @include ff('font-size', (375px: 24px, 1280px: 50px));

  color: $color-title;

  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    width: 100%;
    height: 10px;
    background-repeat: repeat;

    background-image: url("../img/projects/projects-title-border-2.png");

  }
}


.title-inner {
  display: inline-block;

  margin: 0;

  font-family: $fontCrowdFunded;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  @include ff('font-size', (375px: 24px, 1280px: 50px));

  color: $color-title;

  text-transform: uppercase;

}
