.wrapper {
  max-width: 1280px;
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;


  @include rem(padding, 0 15px);

  @include respond-above(md) {
    max-width: 1180px;
  }

  @include respond-above(lg) {
    padding: 0;
  }
}
