@font-face {
  font-family: $fontCrowdFunded;
  font-display: auto;
  src: url("../fonts/CrowdFunded-Regular.woff2") format("woff2"),
    url("../fonts/CrowdFunded-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $fontGoogleSans;
  font-display: auto;
  src: url("../fonts/GoogleSans.woff2") format("woff2"),
    url("../fonts/GoogleSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-base;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

// footer к низу

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  margin-bottom: 70px;

  @media (min-width: 600px) {
    margin-bottom: 100px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer {
  flex: 0 0 auto;
}

.overlay {
  overflow: hidden;
}
