// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-48-name: 'icon-48';
$icon-48-x: 4843px;
$icon-48-y: 4398px;
$icon-48-offset-x: -4843px;
$icon-48-offset-y: -4398px;
$icon-48-width: 90px;
$icon-48-height: 91px;
$icon-48-total-width: 9180px;
$icon-48-total-height: 7890px;
$icon-48-image: '../img/sprite-png.png';
$icon-48: (4843px, 4398px, -4843px, -4398px, 90px, 91px, 9180px, 7890px, '../img/sprite-png.png', 'icon-48', );
$icon-50-percent-name: 'icon-50_percent';
$icon-50-percent-x: 4943px;
$icon-50-percent-y: 4499px;
$icon-50-percent-offset-x: -4943px;
$icon-50-percent-offset-y: -4499px;
$icon-50-percent-width: 120px;
$icon-50-percent-height: 120px;
$icon-50-percent-total-width: 9180px;
$icon-50-percent-total-height: 7890px;
$icon-50-percent-image: '../img/sprite-png.png';
$icon-50-percent: (4943px, 4499px, -4943px, -4499px, 120px, 120px, 9180px, 7890px, '../img/sprite-png.png', 'icon-50_percent', );
$icon-arrow-close-name: 'icon-arrow_close';
$icon-arrow-close-x: 60px;
$icon-arrow-close-y: 56px;
$icon-arrow-close-offset-x: -60px;
$icon-arrow-close-offset-y: -56px;
$icon-arrow-close-width: 12px;
$icon-arrow-close-height: 12px;
$icon-arrow-close-total-width: 9180px;
$icon-arrow-close-total-height: 7890px;
$icon-arrow-close-image: '../img/sprite-png.png';
$icon-arrow-close: (60px, 56px, -60px, -56px, 12px, 12px, 9180px, 7890px, '../img/sprite-png.png', 'icon-arrow_close', );
$icon-arrow-down-name: 'icon-arrow_down';
$icon-arrow-down-x: 1065px;
$icon-arrow-down-y: 1062px;
$icon-arrow-down-offset-x: -1065px;
$icon-arrow-down-offset-y: -1062px;
$icon-arrow-down-width: 34px;
$icon-arrow-down-height: 34px;
$icon-arrow-down-total-width: 9180px;
$icon-arrow-down-total-height: 7890px;
$icon-arrow-down-image: '../img/sprite-png.png';
$icon-arrow-down: (1065px, 1062px, -1065px, -1062px, 34px, 34px, 9180px, 7890px, '../img/sprite-png.png', 'icon-arrow_down', );
$icon-arrow-open-name: 'icon-arrow_open';
$icon-arrow-open-x: 82px;
$icon-arrow-open-y: 78px;
$icon-arrow-open-offset-x: -82px;
$icon-arrow-open-offset-y: -78px;
$icon-arrow-open-width: 12px;
$icon-arrow-open-height: 12px;
$icon-arrow-open-total-width: 9180px;
$icon-arrow-open-total-height: 7890px;
$icon-arrow-open-image: '../img/sprite-png.png';
$icon-arrow-open: (82px, 78px, -82px, -78px, 12px, 12px, 9180px, 7890px, '../img/sprite-png.png', 'icon-arrow_open', );
$icon-arrow-up-name: 'icon-arrow_up';
$icon-arrow-up-x: 1109px;
$icon-arrow-up-y: 1106px;
$icon-arrow-up-offset-x: -1109px;
$icon-arrow-up-offset-y: -1106px;
$icon-arrow-up-width: 34px;
$icon-arrow-up-height: 34px;
$icon-arrow-up-total-width: 9180px;
$icon-arrow-up-total-height: 7890px;
$icon-arrow-up-image: '../img/sprite-png.png';
$icon-arrow-up: (1109px, 1106px, -1109px, -1106px, 34px, 34px, 9180px, 7890px, '../img/sprite-png.png', 'icon-arrow_up', );
$icon-ava-1-name: 'icon-ava_1';
$icon-ava-1-x: 2430px;
$icon-ava-1-y: 2400px;
$icon-ava-1-offset-x: -2430px;
$icon-ava-1-offset-y: -2400px;
$icon-ava-1-width: 54px;
$icon-ava-1-height: 54px;
$icon-ava-1-total-width: 9180px;
$icon-ava-1-total-height: 7890px;
$icon-ava-1-image: '../img/sprite-png.png';
$icon-ava-1: (2430px, 2400px, -2430px, -2400px, 54px, 54px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ava_1', );
$icon-ava-2-name: 'icon-ava_2';
$icon-ava-2-x: 2558px;
$icon-ava-2-y: 2528px;
$icon-ava-2-offset-x: -2558px;
$icon-ava-2-offset-y: -2528px;
$icon-ava-2-width: 54px;
$icon-ava-2-height: 54px;
$icon-ava-2-total-width: 9180px;
$icon-ava-2-total-height: 7890px;
$icon-ava-2-image: '../img/sprite-png.png';
$icon-ava-2: (2558px, 2528px, -2558px, -2528px, 54px, 54px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ava_2', );
$icon-ava-3-name: 'icon-ava_3';
$icon-ava-3-x: 2494px;
$icon-ava-3-y: 2464px;
$icon-ava-3-offset-x: -2494px;
$icon-ava-3-offset-y: -2464px;
$icon-ava-3-width: 54px;
$icon-ava-3-height: 54px;
$icon-ava-3-total-width: 9180px;
$icon-ava-3-total-height: 7890px;
$icon-ava-3-image: '../img/sprite-png.png';
$icon-ava-3: (2494px, 2464px, -2494px, -2464px, 54px, 54px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ava_3', );
$icon-ava-4-name: 'icon-ava_4';
$icon-ava-4-x: 2622px;
$icon-ava-4-y: 2592px;
$icon-ava-4-offset-x: -2622px;
$icon-ava-4-offset-y: -2592px;
$icon-ava-4-width: 54px;
$icon-ava-4-height: 54px;
$icon-ava-4-total-width: 9180px;
$icon-ava-4-total-height: 7890px;
$icon-ava-4-image: '../img/sprite-png.png';
$icon-ava-4: (2622px, 2592px, -2622px, -2592px, 54px, 54px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ava_4', );
$icon-ava-user-name: 'icon-ava_user';
$icon-ava-user-x: 8486px;
$icon-ava-user-y: 7630px;
$icon-ava-user-offset-x: -8486px;
$icon-ava-user-offset-y: -7630px;
$icon-ava-user-width: 240px;
$icon-ava-user-height: 240px;
$icon-ava-user-total-width: 9180px;
$icon-ava-user-total-height: 7890px;
$icon-ava-user-image: '../img/sprite-png.png';
$icon-ava-user: (8486px, 7630px, -8486px, -7630px, 240px, 240px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ava_user', );
$icon-badge-1-name: 'icon-badge_1';
$icon-badge-1-x: 1915px;
$icon-badge-1-y: 1912px;
$icon-badge-1-offset-x: -1915px;
$icon-badge-1-offset-y: -1912px;
$icon-badge-1-width: 44px;
$icon-badge-1-height: 44px;
$icon-badge-1-total-width: 9180px;
$icon-badge-1-total-height: 7890px;
$icon-badge-1-image: '../img/sprite-png.png';
$icon-badge-1: (1915px, 1912px, -1915px, -1912px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-badge_1', );
$icon-badge-2-name: 'icon-badge_2';
$icon-badge-2-x: 2023px;
$icon-badge-2-y: 2020px;
$icon-badge-2-offset-x: -2023px;
$icon-badge-2-offset-y: -2020px;
$icon-badge-2-width: 44px;
$icon-badge-2-height: 44px;
$icon-badge-2-total-width: 9180px;
$icon-badge-2-total-height: 7890px;
$icon-badge-2-image: '../img/sprite-png.png';
$icon-badge-2: (2023px, 2020px, -2023px, -2020px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-badge_2', );
$icon-badge-3-name: 'icon-badge_3';
$icon-badge-3-x: 2077px;
$icon-badge-3-y: 2074px;
$icon-badge-3-offset-x: -2077px;
$icon-badge-3-offset-y: -2074px;
$icon-badge-3-width: 44px;
$icon-badge-3-height: 44px;
$icon-badge-3-total-width: 9180px;
$icon-badge-3-total-height: 7890px;
$icon-badge-3-image: '../img/sprite-png.png';
$icon-badge-3: (2077px, 2074px, -2077px, -2074px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-badge_3', );
$icon-basket-name: 'icon-basket';
$icon-basket-x: 1861px;
$icon-basket-y: 1858px;
$icon-basket-offset-x: -1861px;
$icon-basket-offset-y: -1858px;
$icon-basket-width: 44px;
$icon-basket-height: 44px;
$icon-basket-total-width: 9180px;
$icon-basket-total-height: 7890px;
$icon-basket-image: '../img/sprite-png.png';
$icon-basket: (1861px, 1858px, -1861px, -1858px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-basket', );
$icon-button-blue-name: 'icon-button_blue';
$icon-button-blue-x: 4245px;
$icon-button-blue-y: 3971px;
$icon-button-blue-offset-x: -4245px;
$icon-button-blue-offset-y: -3971px;
$icon-button-blue-width: 86px;
$icon-button-blue-height: 67px;
$icon-button-blue-total-width: 9180px;
$icon-button-blue-total-height: 7890px;
$icon-button-blue-image: '../img/sprite-png.png';
$icon-button-blue: (4245px, 3971px, -4245px, -3971px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_blue', );
$icon-button-blue-a-name: 'icon-button_blue_a';
$icon-button-blue-a-x: 4053px;
$icon-button-blue-a-y: 3817px;
$icon-button-blue-a-offset-x: -4053px;
$icon-button-blue-a-offset-y: -3817px;
$icon-button-blue-a-width: 86px;
$icon-button-blue-a-height: 67px;
$icon-button-blue-a-total-width: 9180px;
$icon-button-blue-a-total-height: 7890px;
$icon-button-blue-a-image: '../img/sprite-png.png';
$icon-button-blue-a: (4053px, 3817px, -4053px, -3817px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_blue_a', );
$icon-button-blue-small-name: 'icon-button_blue_small';
$icon-button-blue-small-x: 3407px;
$icon-button-blue-small-y: 3341px;
$icon-button-blue-small-offset-x: -3407px;
$icon-button-blue-small-offset-y: -3341px;
$icon-button-blue-small-width: 86px;
$icon-button-blue-small-height: 50px;
$icon-button-blue-small-total-width: 9180px;
$icon-button-blue-small-total-height: 7890px;
$icon-button-blue-small-image: '../img/sprite-png.png';
$icon-button-blue-small: (3407px, 3341px, -3407px, -3341px, 86px, 50px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_blue_small', );
$icon-button-blue-small-a-name: 'icon-button_blue_small_a';
$icon-button-blue-small-a-x: 3503px;
$icon-button-blue-small-a-y: 3401px;
$icon-button-blue-small-a-offset-x: -3503px;
$icon-button-blue-small-a-offset-y: -3401px;
$icon-button-blue-small-a-width: 86px;
$icon-button-blue-small-a-height: 50px;
$icon-button-blue-small-a-total-width: 9180px;
$icon-button-blue-small-a-total-height: 7890px;
$icon-button-blue-small-a-image: '../img/sprite-png.png';
$icon-button-blue-small-a: (3503px, 3401px, -3503px, -3401px, 86px, 50px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_blue_small_a', );
$icon-button-check-name: 'icon-button_check';
$icon-button-check-x: 191px;
$icon-button-check-y: 187px;
$icon-button-check-offset-x: -191px;
$icon-button-check-offset-y: -187px;
$icon-button-check-width: 20px;
$icon-button-check-height: 20px;
$icon-button-check-total-width: 9180px;
$icon-button-check-total-height: 7890px;
$icon-button-check-image: '../img/sprite-png.png';
$icon-button-check: (191px, 187px, -191px, -187px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_check', );
$icon-button-check-a-name: 'icon-button_check_a';
$icon-button-check-a-x: 221px;
$icon-button-check-a-y: 217px;
$icon-button-check-a-offset-x: -221px;
$icon-button-check-a-offset-y: -217px;
$icon-button-check-a-width: 20px;
$icon-button-check-a-height: 20px;
$icon-button-check-a-total-width: 9180px;
$icon-button-check-a-total-height: 7890px;
$icon-button-check-a-image: '../img/sprite-png.png';
$icon-button-check-a: (221px, 217px, -221px, -217px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_check_a', );
$icon-button-enlarge-name: 'icon-button_enlarge';
$icon-button-enlarge-x: 2131px;
$icon-button-enlarge-y: 2128px;
$icon-button-enlarge-offset-x: -2131px;
$icon-button-enlarge-offset-y: -2128px;
$icon-button-enlarge-width: 44px;
$icon-button-enlarge-height: 44px;
$icon-button-enlarge-total-width: 9180px;
$icon-button-enlarge-total-height: 7890px;
$icon-button-enlarge-image: '../img/sprite-png.png';
$icon-button-enlarge: (2131px, 2128px, -2131px, -2128px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_enlarge', );
$icon-button-green-name: 'icon-button_green';
$icon-button-green-x: 4341px;
$icon-button-green-y: 4048px;
$icon-button-green-offset-x: -4341px;
$icon-button-green-offset-y: -4048px;
$icon-button-green-width: 86px;
$icon-button-green-height: 67px;
$icon-button-green-total-width: 9180px;
$icon-button-green-total-height: 7890px;
$icon-button-green-image: '../img/sprite-png.png';
$icon-button-green: (4341px, 4048px, -4341px, -4048px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green', );
$icon-button-green-a-name: 'icon-button_green_a';
$icon-button-green-a-x: 4149px;
$icon-button-green-a-y: 3894px;
$icon-button-green-a-offset-x: -4149px;
$icon-button-green-a-offset-y: -3894px;
$icon-button-green-a-width: 86px;
$icon-button-green-a-height: 67px;
$icon-button-green-a-total-width: 9180px;
$icon-button-green-a-total-height: 7890px;
$icon-button-green-a-image: '../img/sprite-png.png';
$icon-button-green-a: (4149px, 3894px, -4149px, -3894px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green_a', );
$icon-button-green-outline-name: 'icon-button_green_outline';
$icon-button-green-outline-x: 3887px;
$icon-button-green-outline-y: 3651px;
$icon-button-green-outline-offset-x: -3887px;
$icon-button-green-outline-offset-y: -3651px;
$icon-button-green-outline-width: 86px;
$icon-button-green-outline-height: 60px;
$icon-button-green-outline-total-width: 9180px;
$icon-button-green-outline-total-height: 7890px;
$icon-button-green-outline-image: '../img/sprite-png.png';
$icon-button-green-outline: (3887px, 3651px, -3887px, -3651px, 86px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green_outline', );
$icon-button-green-outline-a-name: 'icon-button_green_outline_a';
$icon-button-green-outline-a-x: 3791px;
$icon-button-green-outline-a-y: 3581px;
$icon-button-green-outline-a-offset-x: -3791px;
$icon-button-green-outline-a-offset-y: -3581px;
$icon-button-green-outline-a-width: 86px;
$icon-button-green-outline-a-height: 60px;
$icon-button-green-outline-a-total-width: 9180px;
$icon-button-green-outline-a-total-height: 7890px;
$icon-button-green-outline-a-image: '../img/sprite-png.png';
$icon-button-green-outline-a: (3791px, 3581px, -3791px, -3581px, 86px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green_outline_a', );
$icon-button-green-small-name: 'icon-button_green_small';
$icon-button-green-small-x: 3695px;
$icon-button-green-small-y: 3521px;
$icon-button-green-small-offset-x: -3695px;
$icon-button-green-small-offset-y: -3521px;
$icon-button-green-small-width: 86px;
$icon-button-green-small-height: 50px;
$icon-button-green-small-total-width: 9180px;
$icon-button-green-small-total-height: 7890px;
$icon-button-green-small-image: '../img/sprite-png.png';
$icon-button-green-small: (3695px, 3521px, -3695px, -3521px, 86px, 50px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green_small', );
$icon-button-green-small-a-name: 'icon-button_green_small_a';
$icon-button-green-small-a-x: 3599px;
$icon-button-green-small-a-y: 3461px;
$icon-button-green-small-a-offset-x: -3599px;
$icon-button-green-small-a-offset-y: -3461px;
$icon-button-green-small-a-width: 86px;
$icon-button-green-small-a-height: 50px;
$icon-button-green-small-a-total-width: 9180px;
$icon-button-green-small-a-total-height: 7890px;
$icon-button-green-small-a-image: '../img/sprite-png.png';
$icon-button-green-small-a: (3599px, 3461px, -3599px, -3461px, 86px, 50px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_green_small_a', );
$icon-button-grey-nonactive-name: 'icon-button_grey_nonactive';
$icon-button-grey-nonactive-x: 4533px;
$icon-button-grey-nonactive-y: 4202px;
$icon-button-grey-nonactive-offset-x: -4533px;
$icon-button-grey-nonactive-offset-y: -4202px;
$icon-button-grey-nonactive-width: 86px;
$icon-button-grey-nonactive-height: 67px;
$icon-button-grey-nonactive-total-width: 9180px;
$icon-button-grey-nonactive-total-height: 7890px;
$icon-button-grey-nonactive-image: '../img/sprite-png.png';
$icon-button-grey-nonactive: (4533px, 4202px, -4533px, -4202px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_grey_nonactive', );
$icon-button-orange-name: 'icon-button_orange';
$icon-button-orange-x: 4437px;
$icon-button-orange-y: 4125px;
$icon-button-orange-offset-x: -4437px;
$icon-button-orange-offset-y: -4125px;
$icon-button-orange-width: 86px;
$icon-button-orange-height: 67px;
$icon-button-orange-total-width: 9180px;
$icon-button-orange-total-height: 7890px;
$icon-button-orange-image: '../img/sprite-png.png';
$icon-button-orange: (4437px, 4125px, -4437px, -4125px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_orange', );
$icon-button-orange-a-name: 'icon-button_orange_a';
$icon-button-orange-a-x: 4629px;
$icon-button-orange-a-y: 4279px;
$icon-button-orange-a-offset-x: -4629px;
$icon-button-orange-a-offset-y: -4279px;
$icon-button-orange-a-width: 86px;
$icon-button-orange-a-height: 67px;
$icon-button-orange-a-total-width: 9180px;
$icon-button-orange-a-total-height: 7890px;
$icon-button-orange-a-image: '../img/sprite-png.png';
$icon-button-orange-a: (4629px, 4279px, -4629px, -4279px, 86px, 67px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_orange_a', );
$icon-button-radio-name: 'icon-button_radio';
$icon-button-radio-x: 311px;
$icon-button-radio-y: 307px;
$icon-button-radio-offset-x: -311px;
$icon-button-radio-offset-y: -307px;
$icon-button-radio-width: 20px;
$icon-button-radio-height: 20px;
$icon-button-radio-total-width: 9180px;
$icon-button-radio-total-height: 7890px;
$icon-button-radio-image: '../img/sprite-png.png';
$icon-button-radio: (311px, 307px, -311px, -307px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_radio', );
$icon-button-radio-a-name: 'icon-button_radio_a';
$icon-button-radio-a-x: 251px;
$icon-button-radio-a-y: 247px;
$icon-button-radio-a-offset-x: -251px;
$icon-button-radio-a-offset-y: -247px;
$icon-button-radio-a-width: 20px;
$icon-button-radio-a-height: 20px;
$icon-button-radio-a-total-width: 9180px;
$icon-button-radio-a-total-height: 7890px;
$icon-button-radio-a-image: '../img/sprite-png.png';
$icon-button-radio-a: (251px, 247px, -251px, -247px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_radio_a', );
$icon-button-search-name: 'icon-button_search';
$icon-button-search-x: 2240px;
$icon-button-search-y: 2237px;
$icon-button-search-offset-x: -2240px;
$icon-button-search-offset-y: -2237px;
$icon-button-search-width: 50px;
$icon-button-search-height: 44px;
$icon-button-search-total-width: 9180px;
$icon-button-search-total-height: 7890px;
$icon-button-search-image: '../img/sprite-png.png';
$icon-button-search: (2240px, 2237px, -2240px, -2237px, 50px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_search', );
$icon-button-search-a-name: 'icon-button_search_a';
$icon-button-search-a-x: 2300px;
$icon-button-search-a-y: 2291px;
$icon-button-search-a-offset-x: -2300px;
$icon-button-search-a-offset-y: -2291px;
$icon-button-search-a-width: 50px;
$icon-button-search-a-height: 44px;
$icon-button-search-a-total-width: 9180px;
$icon-button-search-a-total-height: 7890px;
$icon-button-search-a-image: '../img/sprite-png.png';
$icon-button-search-a: (2300px, 2291px, -2300px, -2291px, 50px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_search_a', );
$icon-button-tab-name: 'icon-button_tab';
$icon-button-tab-x: 2360px;
$icon-button-tab-y: 2345px;
$icon-button-tab-offset-x: -2360px;
$icon-button-tab-offset-y: -2345px;
$icon-button-tab-width: 60px;
$icon-button-tab-height: 45px;
$icon-button-tab-total-width: 9180px;
$icon-button-tab-total-height: 7890px;
$icon-button-tab-image: '../img/sprite-png.png';
$icon-button-tab: (2360px, 2345px, -2360px, -2345px, 60px, 45px, 9180px, 7890px, '../img/sprite-png.png', 'icon-button_tab', );
$icon-cabinet-user-name: 'icon-cabinet-user';
$icon-cabinet-user-x: 2185px;
$icon-cabinet-user-y: 2182px;
$icon-cabinet-user-offset-x: -2185px;
$icon-cabinet-user-offset-y: -2182px;
$icon-cabinet-user-width: 45px;
$icon-cabinet-user-height: 45px;
$icon-cabinet-user-total-width: 9180px;
$icon-cabinet-user-total-height: 7890px;
$icon-cabinet-user-image: '../img/sprite-png.png';
$icon-cabinet-user: (2185px, 2182px, -2185px, -2182px, 45px, 45px, 9180px, 7890px, '../img/sprite-png.png', 'icon-cabinet-user', );
$icon-cat-mob-1-name: 'icon-cat-mob-1';
$icon-cat-mob-1-x: 3246px;
$icon-cat-mob-1-y: 3216px;
$icon-cat-mob-1-offset-x: -3246px;
$icon-cat-mob-1-offset-y: -3216px;
$icon-cat-mob-1-width: 61px;
$icon-cat-mob-1-height: 61px;
$icon-cat-mob-1-total-width: 9180px;
$icon-cat-mob-1-total-height: 7890px;
$icon-cat-mob-1-image: '../img/sprite-png.png';
$icon-cat-mob-1: (3246px, 3216px, -3246px, -3216px, 61px, 61px, 9180px, 7890px, '../img/sprite-png.png', 'icon-cat-mob-1', );
$icon-commerce-name: 'icon-commerce';
$icon-commerce-x: 1029px;
$icon-commerce-y: 1026px;
$icon-commerce-offset-x: -1029px;
$icon-commerce-offset-y: -1026px;
$icon-commerce-width: 26px;
$icon-commerce-height: 26px;
$icon-commerce-total-width: 9180px;
$icon-commerce-total-height: 7890px;
$icon-commerce-image: '../img/sprite-png.png';
$icon-commerce: (1029px, 1026px, -1029px, -1026px, 26px, 26px, 9180px, 7890px, '../img/sprite-png.png', 'icon-commerce', );
$icon-counter-name: 'icon-counter';
$icon-counter-x: 3983px;
$icon-counter-y: 3721px;
$icon-counter-offset-x: -3983px;
$icon-counter-offset-y: -3721px;
$icon-counter-width: 60px;
$icon-counter-height: 86px;
$icon-counter-total-width: 9180px;
$icon-counter-total-height: 7890px;
$icon-counter-image: '../img/sprite-png.png';
$icon-counter: (3983px, 3721px, -3983px, -3721px, 60px, 86px, 9180px, 7890px, '../img/sprite-png.png', 'icon-counter', );
$icon-credit-card-name: 'icon-credit_card';
$icon-credit-card-x: 5685px;
$icon-credit-card-y: 5241px;
$icon-credit-card-offset-x: -5685px;
$icon-credit-card-offset-y: -5241px;
$icon-credit-card-width: 150px;
$icon-credit-card-height: 150px;
$icon-credit-card-total-width: 9180px;
$icon-credit-card-total-height: 7890px;
$icon-credit-card-image: '../img/sprite-png.png';
$icon-credit-card: (5685px, 5241px, -5685px, -5241px, 150px, 150px, 9180px, 7890px, '../img/sprite-png.png', 'icon-credit_card', );
$icon-delete-name: 'icon-delete';
$icon-delete-x: 925px;
$icon-delete-y: 922px;
$icon-delete-offset-x: -925px;
$icon-delete-offset-y: -922px;
$icon-delete-width: 24px;
$icon-delete-height: 24px;
$icon-delete-total-width: 9180px;
$icon-delete-total-height: 7890px;
$icon-delete-image: '../img/sprite-png.png';
$icon-delete: (925px, 922px, -925px, -922px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-delete', );
$icon-desin-name: 'icon-desin';
$icon-desin-x: 341px;
$icon-desin-y: 337px;
$icon-desin-offset-x: -341px;
$icon-desin-offset-y: -337px;
$icon-desin-width: 20px;
$icon-desin-height: 21px;
$icon-desin-total-width: 9180px;
$icon-desin-total-height: 7890px;
$icon-desin-image: '../img/sprite-png.png';
$icon-desin: (341px, 337px, -341px, -337px, 20px, 21px, 9180px, 7890px, '../img/sprite-png.png', 'icon-desin', );
$icon-edit-name: 'icon-edit';
$icon-edit-x: 891px;
$icon-edit-y: 888px;
$icon-edit-offset-x: -891px;
$icon-edit-offset-y: -888px;
$icon-edit-width: 24px;
$icon-edit-height: 24px;
$icon-edit-total-width: 9180px;
$icon-edit-total-height: 7890px;
$icon-edit-image: '../img/sprite-png.png';
$icon-edit: (891px, 888px, -891px, -888px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-edit', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 1153px;
$icon-fb-y: 1150px;
$icon-fb-offset-x: -1153px;
$icon-fb-offset-y: -1150px;
$icon-fb-width: 40px;
$icon-fb-height: 40px;
$icon-fb-total-width: 9180px;
$icon-fb-total-height: 7890px;
$icon-fb-image: '../img/sprite-png.png';
$icon-fb: (1153px, 1150px, -1153px, -1150px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-fb', );
$icon-fb-a-name: 'icon-fb_a';
$icon-fb-a-x: 1453px;
$icon-fb-a-y: 1450px;
$icon-fb-a-offset-x: -1453px;
$icon-fb-a-offset-y: -1450px;
$icon-fb-a-width: 40px;
$icon-fb-a-height: 40px;
$icon-fb-a-total-width: 9180px;
$icon-fb-a-total-height: 7890px;
$icon-fb-a-image: '../img/sprite-png.png';
$icon-fb-a: (1453px, 1450px, -1453px, -1450px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-fb_a', );
$icon-field-text-name: 'icon-field_text';
$icon-field-text-x: 3317px;
$icon-field-text-y: 3287px;
$icon-field-text-offset-x: -3317px;
$icon-field-text-offset-y: -3287px;
$icon-field-text-width: 80px;
$icon-field-text-height: 44px;
$icon-field-text-total-width: 9180px;
$icon-field-text-total-height: 7890px;
$icon-field-text-image: '../img/sprite-png.png';
$icon-field-text: (3317px, 3287px, -3317px, -3287px, 80px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-field_text', );
$icon-gifts-name: 'icon-gifts';
$icon-gifts-x: 7216px;
$icon-gifts-y: 6560px;
$icon-gifts-offset-x: -7216px;
$icon-gifts-offset-y: -6560px;
$icon-gifts-width: 260px;
$icon-gifts-height: 60px;
$icon-gifts-total-width: 9180px;
$icon-gifts-total-height: 7890px;
$icon-gifts-image: '../img/sprite-png.png';
$icon-gifts: (7216px, 6560px, -7216px, -6560px, 260px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-gifts', );
$icon-ins-name: 'icon-ins';
$icon-ins-x: 1653px;
$icon-ins-y: 1650px;
$icon-ins-offset-x: -1653px;
$icon-ins-offset-y: -1650px;
$icon-ins-width: 40px;
$icon-ins-height: 40px;
$icon-ins-total-width: 9180px;
$icon-ins-total-height: 7890px;
$icon-ins-image: '../img/sprite-png.png';
$icon-ins: (1653px, 1650px, -1653px, -1650px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ins', );
$icon-ins-a-name: 'icon-ins_a';
$icon-ins-a-x: 1203px;
$icon-ins-a-y: 1200px;
$icon-ins-a-offset-x: -1203px;
$icon-ins-a-offset-y: -1200px;
$icon-ins-a-width: 40px;
$icon-ins-a-height: 40px;
$icon-ins-a-total-width: 9180px;
$icon-ins-a-total-height: 7890px;
$icon-ins-a-image: '../img/sprite-png.png';
$icon-ins-a: (1203px, 1200px, -1203px, -1200px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-ins_a', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 755px;
$icon-mail-y: 752px;
$icon-mail-offset-x: -755px;
$icon-mail-offset-y: -752px;
$icon-mail-width: 24px;
$icon-mail-height: 24px;
$icon-mail-total-width: 9180px;
$icon-mail-total-height: 7890px;
$icon-mail-image: '../img/sprite-png.png';
$icon-mail: (755px, 752px, -755px, -752px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-mail', );
$icon-marker-1-name: 'icon-marker_1';
$icon-marker-1-x: 993px;
$icon-marker-1-y: 990px;
$icon-marker-1-offset-x: -993px;
$icon-marker-1-offset-y: -990px;
$icon-marker-1-width: 26px;
$icon-marker-1-height: 26px;
$icon-marker-1-total-width: 9180px;
$icon-marker-1-total-height: 7890px;
$icon-marker-1-image: '../img/sprite-png.png';
$icon-marker-1: (993px, 990px, -993px, -990px, 26px, 26px, 9180px, 7890px, '../img/sprite-png.png', 'icon-marker_1', );
$icon-marker-2-name: 'icon-marker_2';
$icon-marker-2-x: 40px;
$icon-marker-2-y: 36px;
$icon-marker-2-offset-x: -40px;
$icon-marker-2-offset-y: -36px;
$icon-marker-2-width: 10px;
$icon-marker-2-height: 10px;
$icon-marker-2-total-width: 9180px;
$icon-marker-2-total-height: 7890px;
$icon-marker-2-image: '../img/sprite-png.png';
$icon-marker-2: (40px, 36px, -40px, -36px, 10px, 10px, 9180px, 7890px, '../img/sprite-png.png', 'icon-marker_2', );
$icon-menu-1-mb-name: 'icon-menu_1-mb';
$icon-menu-1-mb-x: 2896px;
$icon-menu-1-mb-y: 2866px;
$icon-menu-1-mb-offset-x: -2896px;
$icon-menu-1-mb-offset-y: -2866px;
$icon-menu-1-mb-width: 60px;
$icon-menu-1-mb-height: 60px;
$icon-menu-1-mb-total-width: 9180px;
$icon-menu-1-mb-total-height: 7890px;
$icon-menu-1-mb-image: '../img/sprite-png.png';
$icon-menu-1-mb: (2896px, 2866px, -2896px, -2866px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_1-mb', );
$icon-menu-1-name: 'icon-menu_1';
$icon-menu-1-x: 691px;
$icon-menu-1-y: 688px;
$icon-menu-1-offset-x: -691px;
$icon-menu-1-offset-y: -688px;
$icon-menu-1-width: 22px;
$icon-menu-1-height: 22px;
$icon-menu-1-total-width: 9180px;
$icon-menu-1-total-height: 7890px;
$icon-menu-1-image: '../img/sprite-png.png';
$icon-menu-1: (691px, 688px, -691px, -688px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_1', );
$icon-menu-2-mb-name: 'icon-menu_2-mb';
$icon-menu-2-mb-x: 2966px;
$icon-menu-2-mb-y: 2936px;
$icon-menu-2-mb-offset-x: -2966px;
$icon-menu-2-mb-offset-y: -2936px;
$icon-menu-2-mb-width: 60px;
$icon-menu-2-mb-height: 60px;
$icon-menu-2-mb-total-width: 9180px;
$icon-menu-2-mb-total-height: 7890px;
$icon-menu-2-mb-image: '../img/sprite-png.png';
$icon-menu-2-mb: (2966px, 2936px, -2966px, -2936px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_2-mb', );
$icon-menu-2-name: 'icon-menu_2';
$icon-menu-2-x: 435px;
$icon-menu-2-y: 432px;
$icon-menu-2-offset-x: -435px;
$icon-menu-2-offset-y: -432px;
$icon-menu-2-width: 22px;
$icon-menu-2-height: 22px;
$icon-menu-2-total-width: 9180px;
$icon-menu-2-total-height: 7890px;
$icon-menu-2-image: '../img/sprite-png.png';
$icon-menu-2: (435px, 432px, -435px, -432px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_2', );
$icon-menu-3-mb-name: 'icon-menu_3-mb';
$icon-menu-3-mb-x: 3106px;
$icon-menu-3-mb-y: 3076px;
$icon-menu-3-mb-offset-x: -3106px;
$icon-menu-3-mb-offset-y: -3076px;
$icon-menu-3-mb-width: 60px;
$icon-menu-3-mb-height: 60px;
$icon-menu-3-mb-total-width: 9180px;
$icon-menu-3-mb-total-height: 7890px;
$icon-menu-3-mb-image: '../img/sprite-png.png';
$icon-menu-3-mb: (3106px, 3076px, -3106px, -3076px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_3-mb', );
$icon-menu-3-name: 'icon-menu_3';
$icon-menu-3-x: 659px;
$icon-menu-3-y: 656px;
$icon-menu-3-offset-x: -659px;
$icon-menu-3-offset-y: -656px;
$icon-menu-3-width: 22px;
$icon-menu-3-height: 22px;
$icon-menu-3-total-width: 9180px;
$icon-menu-3-total-height: 7890px;
$icon-menu-3-image: '../img/sprite-png.png';
$icon-menu-3: (659px, 656px, -659px, -656px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_3', );
$icon-menu-4-mb-name: 'icon-menu_4-mb';
$icon-menu-4-mb-x: 2826px;
$icon-menu-4-mb-y: 2796px;
$icon-menu-4-mb-offset-x: -2826px;
$icon-menu-4-mb-offset-y: -2796px;
$icon-menu-4-mb-width: 60px;
$icon-menu-4-mb-height: 60px;
$icon-menu-4-mb-total-width: 9180px;
$icon-menu-4-mb-total-height: 7890px;
$icon-menu-4-mb-image: '../img/sprite-png.png';
$icon-menu-4-mb: (2826px, 2796px, -2826px, -2796px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_4-mb', );
$icon-menu-4-name: 'icon-menu_4';
$icon-menu-4-x: 627px;
$icon-menu-4-y: 624px;
$icon-menu-4-offset-x: -627px;
$icon-menu-4-offset-y: -624px;
$icon-menu-4-width: 22px;
$icon-menu-4-height: 22px;
$icon-menu-4-total-width: 9180px;
$icon-menu-4-total-height: 7890px;
$icon-menu-4-image: '../img/sprite-png.png';
$icon-menu-4: (627px, 624px, -627px, -624px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_4', );
$icon-menu-5-mb-name: 'icon-menu_5-mb';
$icon-menu-5-mb-x: 2756px;
$icon-menu-5-mb-y: 2726px;
$icon-menu-5-mb-offset-x: -2756px;
$icon-menu-5-mb-offset-y: -2726px;
$icon-menu-5-mb-width: 60px;
$icon-menu-5-mb-height: 60px;
$icon-menu-5-mb-total-width: 9180px;
$icon-menu-5-mb-total-height: 7890px;
$icon-menu-5-mb-image: '../img/sprite-png.png';
$icon-menu-5-mb: (2756px, 2726px, -2756px, -2726px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_5-mb', );
$icon-menu-5-name: 'icon-menu_5';
$icon-menu-5-x: 595px;
$icon-menu-5-y: 592px;
$icon-menu-5-offset-x: -595px;
$icon-menu-5-offset-y: -592px;
$icon-menu-5-width: 22px;
$icon-menu-5-height: 22px;
$icon-menu-5-total-width: 9180px;
$icon-menu-5-total-height: 7890px;
$icon-menu-5-image: '../img/sprite-png.png';
$icon-menu-5: (595px, 592px, -595px, -592px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_5', );
$icon-menu-6-mb-name: 'icon-menu_6-mb';
$icon-menu-6-mb-x: 3176px;
$icon-menu-6-mb-y: 3146px;
$icon-menu-6-mb-offset-x: -3176px;
$icon-menu-6-mb-offset-y: -3146px;
$icon-menu-6-mb-width: 60px;
$icon-menu-6-mb-height: 60px;
$icon-menu-6-mb-total-width: 9180px;
$icon-menu-6-mb-total-height: 7890px;
$icon-menu-6-mb-image: '../img/sprite-png.png';
$icon-menu-6-mb: (3176px, 3146px, -3176px, -3146px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_6-mb', );
$icon-menu-6-name: 'icon-menu_6';
$icon-menu-6-x: 563px;
$icon-menu-6-y: 560px;
$icon-menu-6-offset-x: -563px;
$icon-menu-6-offset-y: -560px;
$icon-menu-6-width: 22px;
$icon-menu-6-height: 22px;
$icon-menu-6-total-width: 9180px;
$icon-menu-6-total-height: 7890px;
$icon-menu-6-image: '../img/sprite-png.png';
$icon-menu-6: (563px, 560px, -563px, -560px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_6', );
$icon-menu-7-mb-name: 'icon-menu_7-mb';
$icon-menu-7-mb-x: 2686px;
$icon-menu-7-mb-y: 2656px;
$icon-menu-7-mb-offset-x: -2686px;
$icon-menu-7-mb-offset-y: -2656px;
$icon-menu-7-mb-width: 60px;
$icon-menu-7-mb-height: 60px;
$icon-menu-7-mb-total-width: 9180px;
$icon-menu-7-mb-total-height: 7890px;
$icon-menu-7-mb-image: '../img/sprite-png.png';
$icon-menu-7-mb: (2686px, 2656px, -2686px, -2656px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_7-mb', );
$icon-menu-7-name: 'icon-menu_7';
$icon-menu-7-x: 531px;
$icon-menu-7-y: 528px;
$icon-menu-7-offset-x: -531px;
$icon-menu-7-offset-y: -528px;
$icon-menu-7-width: 22px;
$icon-menu-7-height: 22px;
$icon-menu-7-total-width: 9180px;
$icon-menu-7-total-height: 7890px;
$icon-menu-7-image: '../img/sprite-png.png';
$icon-menu-7: (531px, 528px, -531px, -528px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_7', );
$icon-menu-8-mb-name: 'icon-menu_8-mb';
$icon-menu-8-mb-x: 3036px;
$icon-menu-8-mb-y: 3006px;
$icon-menu-8-mb-offset-x: -3036px;
$icon-menu-8-mb-offset-y: -3006px;
$icon-menu-8-mb-width: 60px;
$icon-menu-8-mb-height: 60px;
$icon-menu-8-mb-total-width: 9180px;
$icon-menu-8-mb-total-height: 7890px;
$icon-menu-8-mb-image: '../img/sprite-png.png';
$icon-menu-8-mb: (3036px, 3006px, -3036px, -3006px, 60px, 60px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_8-mb', );
$icon-menu-8-name: 'icon-menu_8';
$icon-menu-8-x: 467px;
$icon-menu-8-y: 464px;
$icon-menu-8-offset-x: -467px;
$icon-menu-8-offset-y: -464px;
$icon-menu-8-width: 22px;
$icon-menu-8-height: 22px;
$icon-menu-8-total-width: 9180px;
$icon-menu-8-total-height: 7890px;
$icon-menu-8-image: '../img/sprite-png.png';
$icon-menu-8: (467px, 464px, -467px, -464px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_8', );
$icon-menu-gifts-name: 'icon-menu_gifts';
$icon-menu-gifts-x: 499px;
$icon-menu-gifts-y: 496px;
$icon-menu-gifts-offset-x: -499px;
$icon-menu-gifts-offset-y: -496px;
$icon-menu-gifts-width: 22px;
$icon-menu-gifts-height: 22px;
$icon-menu-gifts-total-width: 9180px;
$icon-menu-gifts-total-height: 7890px;
$icon-menu-gifts-image: '../img/sprite-png.png';
$icon-menu-gifts: (499px, 496px, -499px, -496px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_gifts', );
$icon-menu-info-name: 'icon-menu_info';
$icon-menu-info-x: 403px;
$icon-menu-info-y: 400px;
$icon-menu-info-offset-x: -403px;
$icon-menu-info-offset-y: -400px;
$icon-menu-info-width: 22px;
$icon-menu-info-height: 22px;
$icon-menu-info-total-width: 9180px;
$icon-menu-info-total-height: 7890px;
$icon-menu-info-image: '../img/sprite-png.png';
$icon-menu-info: (403px, 400px, -403px, -400px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_info', );
$icon-menu-orders-name: 'icon-menu_orders';
$icon-menu-orders-x: 723px;
$icon-menu-orders-y: 720px;
$icon-menu-orders-offset-x: -723px;
$icon-menu-orders-offset-y: -720px;
$icon-menu-orders-width: 22px;
$icon-menu-orders-height: 22px;
$icon-menu-orders-total-width: 9180px;
$icon-menu-orders-total-height: 7890px;
$icon-menu-orders-image: '../img/sprite-png.png';
$icon-menu-orders: (723px, 720px, -723px, -720px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-menu_orders', );
$icon-online-name: 'icon-online';
$icon-online-x: 5525px;
$icon-online-y: 5081px;
$icon-online-offset-x: -5525px;
$icon-online-offset-y: -5081px;
$icon-online-width: 150px;
$icon-online-height: 150px;
$icon-online-total-width: 9180px;
$icon-online-total-height: 7890px;
$icon-online-image: '../img/sprite-png.png';
$icon-online: (5525px, 5081px, -5525px, -5081px, 150px, 150px, 9180px, 7890px, '../img/sprite-png.png', 'icon-online', );
$icon-orders-name: 'icon-orders';
$icon-orders-x: 789px;
$icon-orders-y: 786px;
$icon-orders-offset-x: -789px;
$icon-orders-offset-y: -786px;
$icon-orders-width: 24px;
$icon-orders-height: 24px;
$icon-orders-total-width: 9180px;
$icon-orders-total-height: 7890px;
$icon-orders-image: '../img/sprite-png.png';
$icon-orders: (789px, 786px, -789px, -786px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-orders', );
$icon-phone-2-name: 'icon-phone (2)';
$icon-phone-2-x: 823px;
$icon-phone-2-y: 820px;
$icon-phone-2-offset-x: -823px;
$icon-phone-2-offset-y: -820px;
$icon-phone-2-width: 24px;
$icon-phone-2-height: 24px;
$icon-phone-2-total-width: 9180px;
$icon-phone-2-total-height: 7890px;
$icon-phone-2-image: '../img/sprite-png.png';
$icon-phone-2-: (823px, 820px, -823px, -820px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-phone (2)', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 104px;
$icon-phone-y: 100px;
$icon-phone-offset-x: -104px;
$icon-phone-offset-y: -100px;
$icon-phone-width: 17px;
$icon-phone-height: 17px;
$icon-phone-total-width: 9180px;
$icon-phone-total-height: 7890px;
$icon-phone-image: '../img/sprite-png.png';
$icon-phone: (104px, 100px, -104px, -100px, 17px, 17px, 9180px, 7890px, '../img/sprite-png.png', 'icon-phone', );
$icon-profile-name: 'icon-profile';
$icon-profile-x: 1807px;
$icon-profile-y: 1804px;
$icon-profile-offset-x: -1807px;
$icon-profile-offset-y: -1804px;
$icon-profile-width: 44px;
$icon-profile-height: 44px;
$icon-profile-total-width: 9180px;
$icon-profile-total-height: 7890px;
$icon-profile-image: '../img/sprite-png.png';
$icon-profile: (1807px, 1804px, -1807px, -1804px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-profile', );
$icon-progress-name: 'icon-progress';
$icon-progress-x: 0px;
$icon-progress-y: 0px;
$icon-progress-offset-x: 0px;
$icon-progress-offset-y: 0px;
$icon-progress-width: 10px;
$icon-progress-height: 8px;
$icon-progress-total-width: 9180px;
$icon-progress-total-height: 7890px;
$icon-progress-image: '../img/sprite-png.png';
$icon-progress: (0px, 0px, 0px, 0px, 10px, 8px, 9180px, 7890px, '../img/sprite-png.png', 'icon-progress', );
$icon-progress-a-name: 'icon-progress_a';
$icon-progress-a-x: 20px;
$icon-progress-a-y: 18px;
$icon-progress-a-offset-x: -20px;
$icon-progress-a-offset-y: -18px;
$icon-progress-a-width: 10px;
$icon-progress-a-height: 8px;
$icon-progress-a-total-width: 9180px;
$icon-progress-a-total-height: 7890px;
$icon-progress-a-image: '../img/sprite-png.png';
$icon-progress-a: (20px, 18px, -20px, -18px, 10px, 8px, 9180px, 7890px, '../img/sprite-png.png', 'icon-progress_a', );
$icon-protect-1-name: 'icon-protect_1';
$icon-protect-1-x: 5365px;
$icon-protect-1-y: 4921px;
$icon-protect-1-offset-x: -5365px;
$icon-protect-1-offset-y: -4921px;
$icon-protect-1-width: 150px;
$icon-protect-1-height: 150px;
$icon-protect-1-total-width: 9180px;
$icon-protect-1-total-height: 7890px;
$icon-protect-1-image: '../img/sprite-png.png';
$icon-protect-1: (5365px, 4921px, -5365px, -4921px, 150px, 150px, 9180px, 7890px, '../img/sprite-png.png', 'icon-protect_1', );
$icon-protect-2-name: 'icon-protect_2';
$icon-protect-2-x: 5205px;
$icon-protect-2-y: 4761px;
$icon-protect-2-offset-x: -5205px;
$icon-protect-2-offset-y: -4761px;
$icon-protect-2-width: 150px;
$icon-protect-2-height: 150px;
$icon-protect-2-total-width: 9180px;
$icon-protect-2-total-height: 7890px;
$icon-protect-2-image: '../img/sprite-png.png';
$icon-protect-2: (5205px, 4761px, -5205px, -4761px, 150px, 150px, 9180px, 7890px, '../img/sprite-png.png', 'icon-protect_2', );
$icon-sale-name: 'icon-sale';
$icon-sale-x: 5073px;
$icon-sale-y: 4629px;
$icon-sale-offset-x: -5073px;
$icon-sale-offset-y: -4629px;
$icon-sale-width: 122px;
$icon-sale-height: 122px;
$icon-sale-total-width: 9180px;
$icon-sale-total-height: 7890px;
$icon-sale-image: '../img/sprite-png.png';
$icon-sale: (5073px, 4629px, -5073px, -4629px, 122px, 122px, 9180px, 7890px, '../img/sprite-png.png', 'icon-sale', );
$icon-share-fb-name: 'icon-share_fb';
$icon-share-fb-x: 131px;
$icon-share-fb-y: 127px;
$icon-share-fb-offset-x: -131px;
$icon-share-fb-offset-y: -127px;
$icon-share-fb-width: 20px;
$icon-share-fb-height: 20px;
$icon-share-fb-total-width: 9180px;
$icon-share-fb-total-height: 7890px;
$icon-share-fb-image: '../img/sprite-png.png';
$icon-share-fb: (131px, 127px, -131px, -127px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-share_fb', );
$icon-share-ins-name: 'icon-share_ins';
$icon-share-ins-x: 161px;
$icon-share-ins-y: 157px;
$icon-share-ins-offset-x: -161px;
$icon-share-ins-offset-y: -157px;
$icon-share-ins-width: 20px;
$icon-share-ins-height: 20px;
$icon-share-ins-total-width: 9180px;
$icon-share-ins-total-height: 7890px;
$icon-share-ins-image: '../img/sprite-png.png';
$icon-share-ins: (161px, 157px, -161px, -157px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-share_ins', );
$icon-share-vk-name: 'icon-share_vk';
$icon-share-vk-x: 281px;
$icon-share-vk-y: 277px;
$icon-share-vk-offset-x: -281px;
$icon-share-vk-offset-y: -277px;
$icon-share-vk-width: 20px;
$icon-share-vk-height: 20px;
$icon-share-vk-total-width: 9180px;
$icon-share-vk-total-height: 7890px;
$icon-share-vk-image: '../img/sprite-png.png';
$icon-share-vk: (281px, 277px, -281px, -277px, 20px, 20px, 9180px, 7890px, '../img/sprite-png.png', 'icon-share_vk', );
$icon-star-name: 'icon-star';
$icon-star-x: 959px;
$icon-star-y: 956px;
$icon-star-offset-x: -959px;
$icon-star-offset-y: -956px;
$icon-star-width: 24px;
$icon-star-height: 24px;
$icon-star-total-width: 9180px;
$icon-star-total-height: 7890px;
$icon-star-image: '../img/sprite-png.png';
$icon-star: (959px, 956px, -959px, -956px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-star', );
$icon-star-a-name: 'icon-star_a';
$icon-star-a-x: 857px;
$icon-star-a-y: 854px;
$icon-star-a-offset-x: -857px;
$icon-star-a-offset-y: -854px;
$icon-star-a-width: 24px;
$icon-star-a-height: 24px;
$icon-star-a-total-width: 9180px;
$icon-star-a-total-height: 7890px;
$icon-star-a-image: '../img/sprite-png.png';
$icon-star-a: (857px, 854px, -857px, -854px, 24px, 24px, 9180px, 7890px, '../img/sprite-png.png', 'icon-star_a', );
$icon-step-name: 'icon-step';
$icon-step-x: 1753px;
$icon-step-y: 1750px;
$icon-step-offset-x: -1753px;
$icon-step-offset-y: -1750px;
$icon-step-width: 44px;
$icon-step-height: 44px;
$icon-step-total-width: 9180px;
$icon-step-total-height: 7890px;
$icon-step-image: '../img/sprite-png.png';
$icon-step: (1753px, 1750px, -1753px, -1750px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step', );
$icon-step-1-name: 'icon-step_1';
$icon-step-1-x: 8286px;
$icon-step-1-y: 7430px;
$icon-step-1-offset-x: -8286px;
$icon-step-1-offset-y: -7430px;
$icon-step-1-width: 190px;
$icon-step-1-height: 190px;
$icon-step-1-total-width: 9180px;
$icon-step-1-total-height: 7890px;
$icon-step-1-image: '../img/sprite-png.png';
$icon-step-1: (8286px, 7430px, -8286px, -7430px, 190px, 190px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_1', );
$icon-step-2-name: 'icon-step_2';
$icon-step-2-x: 7486px;
$icon-step-2-y: 6630px;
$icon-step-2-offset-x: -7486px;
$icon-step-2-offset-y: -6630px;
$icon-step-2-width: 190px;
$icon-step-2-height: 190px;
$icon-step-2-total-width: 9180px;
$icon-step-2-total-height: 7890px;
$icon-step-2-image: '../img/sprite-png.png';
$icon-step-2: (7486px, 6630px, -7486px, -6630px, 190px, 190px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_2', );
$icon-step-3-name: 'icon-step_3';
$icon-step-3-x: 7886px;
$icon-step-3-y: 7030px;
$icon-step-3-offset-x: -7886px;
$icon-step-3-offset-y: -7030px;
$icon-step-3-width: 190px;
$icon-step-3-height: 190px;
$icon-step-3-total-width: 9180px;
$icon-step-3-total-height: 7890px;
$icon-step-3-image: '../img/sprite-png.png';
$icon-step-3: (7886px, 7030px, -7886px, -7030px, 190px, 190px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_3', );
$icon-step-4-name: 'icon-step_4';
$icon-step-4-x: 7686px;
$icon-step-4-y: 6830px;
$icon-step-4-offset-x: -7686px;
$icon-step-4-offset-y: -6830px;
$icon-step-4-width: 190px;
$icon-step-4-height: 190px;
$icon-step-4-total-width: 9180px;
$icon-step-4-total-height: 7890px;
$icon-step-4-image: '../img/sprite-png.png';
$icon-step-4: (7686px, 6830px, -7686px, -6830px, 190px, 190px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_4', );
$icon-step-5-name: 'icon-step_5';
$icon-step-5-x: 8086px;
$icon-step-5-y: 7230px;
$icon-step-5-offset-x: -8086px;
$icon-step-5-offset-y: -7230px;
$icon-step-5-width: 190px;
$icon-step-5-height: 190px;
$icon-step-5-total-width: 9180px;
$icon-step-5-total-height: 7890px;
$icon-step-5-image: '../img/sprite-png.png';
$icon-step-5: (8086px, 7230px, -8086px, -7230px, 190px, 190px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_5', );
$icon-step-a-name: 'icon-step_a';
$icon-step-a-x: 1969px;
$icon-step-a-y: 1966px;
$icon-step-a-offset-x: -1969px;
$icon-step-a-offset-y: -1966px;
$icon-step-a-width: 44px;
$icon-step-a-height: 44px;
$icon-step-a-total-width: 9180px;
$icon-step-a-total-height: 7890px;
$icon-step-a-image: '../img/sprite-png.png';
$icon-step-a: (1969px, 1966px, -1969px, -1966px, 44px, 44px, 9180px, 7890px, '../img/sprite-png.png', 'icon-step_a', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 1403px;
$icon-tel-y: 1400px;
$icon-tel-offset-x: -1403px;
$icon-tel-offset-y: -1400px;
$icon-tel-width: 40px;
$icon-tel-height: 40px;
$icon-tel-total-width: 9180px;
$icon-tel-total-height: 7890px;
$icon-tel-image: '../img/sprite-png.png';
$icon-tel: (1403px, 1400px, -1403px, -1400px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-tel', );
$icon-tel-a-name: 'icon-tel_a';
$icon-tel-a-x: 1253px;
$icon-tel-a-y: 1250px;
$icon-tel-a-offset-x: -1253px;
$icon-tel-a-offset-y: -1250px;
$icon-tel-a-width: 40px;
$icon-tel-a-height: 40px;
$icon-tel-a-total-width: 9180px;
$icon-tel-a-total-height: 7890px;
$icon-tel-a-image: '../img/sprite-png.png';
$icon-tel-a: (1253px, 1250px, -1253px, -1250px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-tel_a', );
$icon-time-name: 'icon-time';
$icon-time-x: 371px;
$icon-time-y: 368px;
$icon-time-offset-x: -371px;
$icon-time-offset-y: -368px;
$icon-time-width: 22px;
$icon-time-height: 22px;
$icon-time-total-width: 9180px;
$icon-time-total-height: 7890px;
$icon-time-image: '../img/sprite-png.png';
$icon-time: (371px, 368px, -371px, -368px, 22px, 22px, 9180px, 7890px, '../img/sprite-png.png', 'icon-time', );
$icon-time-background-name: 'icon-time_background';
$icon-time-background-x: 4725px;
$icon-time-background-y: 4356px;
$icon-time-background-offset-x: -4725px;
$icon-time-background-offset-y: -4356px;
$icon-time-background-width: 108px;
$icon-time-background-height: 32px;
$icon-time-background-total-width: 9180px;
$icon-time-background-total-height: 7890px;
$icon-time-background-image: '../img/sprite-png.png';
$icon-time-background: (4725px, 4356px, -4725px, -4356px, 108px, 32px, 9180px, 7890px, '../img/sprite-png.png', 'icon-time_background', );
$icon-title-border-name: 'icon-title-border';
$icon-title-border-x: 8736px;
$icon-title-border-y: 7880px;
$icon-title-border-offset-x: -8736px;
$icon-title-border-offset-y: -7880px;
$icon-title-border-width: 444px;
$icon-title-border-height: 10px;
$icon-title-border-total-width: 9180px;
$icon-title-border-total-height: 7890px;
$icon-title-border-image: '../img/sprite-png.png';
$icon-title-border: (8736px, 7880px, -8736px, -7880px, 444px, 10px, 9180px, 7890px, '../img/sprite-png.png', 'icon-title-border', );
$icon-vb-name: 'icon-vb';
$icon-vb-x: 1553px;
$icon-vb-y: 1550px;
$icon-vb-offset-x: -1553px;
$icon-vb-offset-y: -1550px;
$icon-vb-width: 40px;
$icon-vb-height: 40px;
$icon-vb-total-width: 9180px;
$icon-vb-total-height: 7890px;
$icon-vb-image: '../img/sprite-png.png';
$icon-vb: (1553px, 1550px, -1553px, -1550px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-vb', );
$icon-vb-a-name: 'icon-vb_a';
$icon-vb-a-x: 1703px;
$icon-vb-a-y: 1700px;
$icon-vb-a-offset-x: -1703px;
$icon-vb-a-offset-y: -1700px;
$icon-vb-a-width: 40px;
$icon-vb-a-height: 40px;
$icon-vb-a-total-width: 9180px;
$icon-vb-a-total-height: 7890px;
$icon-vb-a-image: '../img/sprite-png.png';
$icon-vb-a: (1703px, 1700px, -1703px, -1700px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-vb_a', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 1303px;
$icon-vk-y: 1300px;
$icon-vk-offset-x: -1303px;
$icon-vk-offset-y: -1300px;
$icon-vk-width: 40px;
$icon-vk-height: 40px;
$icon-vk-total-width: 9180px;
$icon-vk-total-height: 7890px;
$icon-vk-image: '../img/sprite-png.png';
$icon-vk: (1303px, 1300px, -1303px, -1300px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-vk', );
$icon-vk-a-name: 'icon-vk_a';
$icon-vk-a-x: 1503px;
$icon-vk-a-y: 1500px;
$icon-vk-a-offset-x: -1503px;
$icon-vk-a-offset-y: -1500px;
$icon-vk-a-width: 40px;
$icon-vk-a-height: 40px;
$icon-vk-a-total-width: 9180px;
$icon-vk-a-total-height: 7890px;
$icon-vk-a-image: '../img/sprite-png.png';
$icon-vk-a: (1503px, 1500px, -1503px, -1500px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-vk_a', );
$icon-wa-name: 'icon-wa';
$icon-wa-x: 1603px;
$icon-wa-y: 1600px;
$icon-wa-offset-x: -1603px;
$icon-wa-offset-y: -1600px;
$icon-wa-width: 40px;
$icon-wa-height: 40px;
$icon-wa-total-width: 9180px;
$icon-wa-total-height: 7890px;
$icon-wa-image: '../img/sprite-png.png';
$icon-wa: (1603px, 1600px, -1603px, -1600px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-wa', );
$icon-wa-a-name: 'icon-wa_a';
$icon-wa-a-x: 1353px;
$icon-wa-a-y: 1350px;
$icon-wa-a-offset-x: -1353px;
$icon-wa-a-offset-y: -1350px;
$icon-wa-a-width: 40px;
$icon-wa-a-height: 40px;
$icon-wa-a-total-width: 9180px;
$icon-wa-a-total-height: 7890px;
$icon-wa-a-image: '../img/sprite-png.png';
$icon-wa-a: (1353px, 1350px, -1353px, -1350px, 40px, 40px, 9180px, 7890px, '../img/sprite-png.png', 'icon-wa_a', );
$icon-wave-name: 'icon-wave';
$icon-wave-x: 5845px;
$icon-wave-y: 5401px;
$icon-wave-offset-x: -5845px;
$icon-wave-offset-y: -5401px;
$icon-wave-width: 221px;
$icon-wave-height: 9px;
$icon-wave-total-width: 9180px;
$icon-wave-total-height: 7890px;
$icon-wave-image: '../img/sprite-png.png';
$icon-wave: (5845px, 5401px, -5845px, -5401px, 221px, 9px, 9180px, 7890px, '../img/sprite-png.png', 'icon-wave', );
$icon-why-1-name: 'icon-why_1';
$icon-why-1-x: 7026px;
$icon-why-1-y: 6370px;
$icon-why-1-offset-x: -7026px;
$icon-why-1-offset-y: -6370px;
$icon-why-1-width: 180px;
$icon-why-1-height: 180px;
$icon-why-1-total-width: 9180px;
$icon-why-1-total-height: 7890px;
$icon-why-1-image: '../img/sprite-png.png';
$icon-why-1: (7026px, 6370px, -7026px, -6370px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_1', );
$icon-why-2-name: 'icon-why_2';
$icon-why-2-x: 6456px;
$icon-why-2-y: 5800px;
$icon-why-2-offset-x: -6456px;
$icon-why-2-offset-y: -5800px;
$icon-why-2-width: 180px;
$icon-why-2-height: 180px;
$icon-why-2-total-width: 9180px;
$icon-why-2-total-height: 7890px;
$icon-why-2-image: '../img/sprite-png.png';
$icon-why-2: (6456px, 5800px, -6456px, -5800px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_2', );
$icon-why-3-name: 'icon-why_3';
$icon-why-3-x: 6646px;
$icon-why-3-y: 5990px;
$icon-why-3-offset-x: -6646px;
$icon-why-3-offset-y: -5990px;
$icon-why-3-width: 180px;
$icon-why-3-height: 180px;
$icon-why-3-total-width: 9180px;
$icon-why-3-total-height: 7890px;
$icon-why-3-image: '../img/sprite-png.png';
$icon-why-3: (6646px, 5990px, -6646px, -5990px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_3', );
$icon-why-4-name: 'icon-why_4';
$icon-why-4-x: 6266px;
$icon-why-4-y: 5610px;
$icon-why-4-offset-x: -6266px;
$icon-why-4-offset-y: -5610px;
$icon-why-4-width: 180px;
$icon-why-4-height: 180px;
$icon-why-4-total-width: 9180px;
$icon-why-4-total-height: 7890px;
$icon-why-4-image: '../img/sprite-png.png';
$icon-why-4: (6266px, 5610px, -6266px, -5610px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_4', );
$icon-why-5-name: 'icon-why_5';
$icon-why-5-x: 6076px;
$icon-why-5-y: 5420px;
$icon-why-5-offset-x: -6076px;
$icon-why-5-offset-y: -5420px;
$icon-why-5-width: 180px;
$icon-why-5-height: 180px;
$icon-why-5-total-width: 9180px;
$icon-why-5-total-height: 7890px;
$icon-why-5-image: '../img/sprite-png.png';
$icon-why-5: (6076px, 5420px, -6076px, -5420px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_5', );
$icon-why-6-name: 'icon-why_6';
$icon-why-6-x: 6836px;
$icon-why-6-y: 6180px;
$icon-why-6-offset-x: -6836px;
$icon-why-6-offset-y: -6180px;
$icon-why-6-width: 180px;
$icon-why-6-height: 180px;
$icon-why-6-total-width: 9180px;
$icon-why-6-total-height: 7890px;
$icon-why-6-image: '../img/sprite-png.png';
$icon-why-6: (6836px, 6180px, -6836px, -6180px, 180px, 180px, 9180px, 7890px, '../img/sprite-png.png', 'icon-why_6', );
$spritesheet-width: 9180px;
$spritesheet-height: 7890px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($icon-48, $icon-50-percent, $icon-arrow-close, $icon-arrow-down, $icon-arrow-open, $icon-arrow-up, $icon-ava-1, $icon-ava-2, $icon-ava-3, $icon-ava-4, $icon-ava-user, $icon-badge-1, $icon-badge-2, $icon-badge-3, $icon-basket, $icon-button-blue, $icon-button-blue-a, $icon-button-blue-small, $icon-button-blue-small-a, $icon-button-check, $icon-button-check-a, $icon-button-enlarge, $icon-button-green, $icon-button-green-a, $icon-button-green-outline, $icon-button-green-outline-a, $icon-button-green-small, $icon-button-green-small-a, $icon-button-grey-nonactive, $icon-button-orange, $icon-button-orange-a, $icon-button-radio, $icon-button-radio-a, $icon-button-search, $icon-button-search-a, $icon-button-tab, $icon-cabinet-user, $icon-cat-mob-1, $icon-commerce, $icon-counter, $icon-credit-card, $icon-delete, $icon-desin, $icon-edit, $icon-fb, $icon-fb-a, $icon-field-text, $icon-gifts, $icon-ins, $icon-ins-a, $icon-mail, $icon-marker-1, $icon-marker-2, $icon-menu-1-mb, $icon-menu-1, $icon-menu-2-mb, $icon-menu-2, $icon-menu-3-mb, $icon-menu-3, $icon-menu-4-mb, $icon-menu-4, $icon-menu-5-mb, $icon-menu-5, $icon-menu-6-mb, $icon-menu-6, $icon-menu-7-mb, $icon-menu-7, $icon-menu-8-mb, $icon-menu-8, $icon-menu-gifts, $icon-menu-info, $icon-menu-orders, $icon-online, $icon-orders, $icon-phone-2-, $icon-phone, $icon-profile, $icon-progress, $icon-progress-a, $icon-protect-1, $icon-protect-2, $icon-sale, $icon-share-fb, $icon-share-ins, $icon-share-vk, $icon-star, $icon-star-a, $icon-step, $icon-step-1, $icon-step-2, $icon-step-3, $icon-step-4, $icon-step-5, $icon-step-a, $icon-tel, $icon-tel-a, $icon-time, $icon-time-background, $icon-title-border, $icon-vb, $icon-vb-a, $icon-vk, $icon-vk-a, $icon-wa, $icon-wa-a, $icon-wave, $icon-why-1, $icon-why-2, $icon-why-3, $icon-why-4, $icon-why-5, $icon-why-6, );
$spritesheet: (9180px, 7890px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
