// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-50-percent-name: 'icon-50_percent';
$icon-50-percent-x: 1875px;
$icon-50-percent-y: 1902px;
$icon-50-percent-offset-x: -1875px;
$icon-50-percent-offset-y: -1902px;
$icon-50-percent-width: 120px;
$icon-50-percent-height: 120px;
$icon-50-percent-total-width: 6112px;
$icon-50-percent-total-height: 5293px;
$icon-50-percent-image: '../img/sprite-png.png';
$icon-50-percent: (1875px, 1902px, -1875px, -1902px, 120px, 120px, 6112px, 5293px, '../img/sprite-png.png', 'icon-50_percent', );
$icon-arrow-close-name: 'icon-arrow_close';
$icon-arrow-close-x: 0px;
$icon-arrow-close-y: 0px;
$icon-arrow-close-offset-x: 0px;
$icon-arrow-close-offset-y: 0px;
$icon-arrow-close-width: 12px;
$icon-arrow-close-height: 12px;
$icon-arrow-close-total-width: 6112px;
$icon-arrow-close-total-height: 5293px;
$icon-arrow-close-image: '../img/sprite-png.png';
$icon-arrow-close: (0px, 0px, 0px, 0px, 12px, 12px, 6112px, 5293px, '../img/sprite-png.png', 'icon-arrow_close', );
$icon-arrow-down-name: 'icon-arrow_down';
$icon-arrow-down-x: 658px;
$icon-arrow-down-y: 659px;
$icon-arrow-down-offset-x: -658px;
$icon-arrow-down-offset-y: -659px;
$icon-arrow-down-width: 34px;
$icon-arrow-down-height: 34px;
$icon-arrow-down-total-width: 6112px;
$icon-arrow-down-total-height: 5293px;
$icon-arrow-down-image: '../img/sprite-png.png';
$icon-arrow-down: (658px, 659px, -658px, -659px, 34px, 34px, 6112px, 5293px, '../img/sprite-png.png', 'icon-arrow_down', );
$icon-arrow-open-name: 'icon-arrow_open';
$icon-arrow-open-x: 22px;
$icon-arrow-open-y: 22px;
$icon-arrow-open-offset-x: -22px;
$icon-arrow-open-offset-y: -22px;
$icon-arrow-open-width: 12px;
$icon-arrow-open-height: 12px;
$icon-arrow-open-total-width: 6112px;
$icon-arrow-open-total-height: 5293px;
$icon-arrow-open-image: '../img/sprite-png.png';
$icon-arrow-open: (22px, 22px, -22px, -22px, 12px, 12px, 6112px, 5293px, '../img/sprite-png.png', 'icon-arrow_open', );
$icon-arrow-up-name: 'icon-arrow_up';
$icon-arrow-up-x: 614px;
$icon-arrow-up-y: 615px;
$icon-arrow-up-offset-x: -614px;
$icon-arrow-up-offset-y: -615px;
$icon-arrow-up-width: 34px;
$icon-arrow-up-height: 34px;
$icon-arrow-up-total-width: 6112px;
$icon-arrow-up-total-height: 5293px;
$icon-arrow-up-image: '../img/sprite-png.png';
$icon-arrow-up: (614px, 615px, -614px, -615px, 34px, 34px, 6112px, 5293px, '../img/sprite-png.png', 'icon-arrow_up', );
$icon-ava-1-name: 'icon-ava_1';
$icon-ava-1-x: 1046px;
$icon-ava-1-y: 1047px;
$icon-ava-1-offset-x: -1046px;
$icon-ava-1-offset-y: -1047px;
$icon-ava-1-width: 54px;
$icon-ava-1-height: 54px;
$icon-ava-1-total-width: 6112px;
$icon-ava-1-total-height: 5293px;
$icon-ava-1-image: '../img/sprite-png.png';
$icon-ava-1: (1046px, 1047px, -1046px, -1047px, 54px, 54px, 6112px, 5293px, '../img/sprite-png.png', 'icon-ava_1', );
$icon-ava-2-name: 'icon-ava_2';
$icon-ava-2-x: 982px;
$icon-ava-2-y: 983px;
$icon-ava-2-offset-x: -982px;
$icon-ava-2-offset-y: -983px;
$icon-ava-2-width: 54px;
$icon-ava-2-height: 54px;
$icon-ava-2-total-width: 6112px;
$icon-ava-2-total-height: 5293px;
$icon-ava-2-image: '../img/sprite-png.png';
$icon-ava-2: (982px, 983px, -982px, -983px, 54px, 54px, 6112px, 5293px, '../img/sprite-png.png', 'icon-ava_2', );
$icon-ava-3-name: 'icon-ava_3';
$icon-ava-3-x: 918px;
$icon-ava-3-y: 919px;
$icon-ava-3-offset-x: -918px;
$icon-ava-3-offset-y: -919px;
$icon-ava-3-width: 54px;
$icon-ava-3-height: 54px;
$icon-ava-3-total-width: 6112px;
$icon-ava-3-total-height: 5293px;
$icon-ava-3-image: '../img/sprite-png.png';
$icon-ava-3: (918px, 919px, -918px, -919px, 54px, 54px, 6112px, 5293px, '../img/sprite-png.png', 'icon-ava_3', );
$icon-ava-4-name: 'icon-ava_4';
$icon-ava-4-x: 1110px;
$icon-ava-4-y: 1111px;
$icon-ava-4-offset-x: -1110px;
$icon-ava-4-offset-y: -1111px;
$icon-ava-4-width: 54px;
$icon-ava-4-height: 54px;
$icon-ava-4-total-width: 6112px;
$icon-ava-4-total-height: 5293px;
$icon-ava-4-image: '../img/sprite-png.png';
$icon-ava-4: (1110px, 1111px, -1110px, -1111px, 54px, 54px, 6112px, 5293px, '../img/sprite-png.png', 'icon-ava_4', );
$icon-ava-user-name: 'icon-ava_user';
$icon-ava-user-x: 5418px;
$icon-ava-user-y: 5033px;
$icon-ava-user-offset-x: -5418px;
$icon-ava-user-offset-y: -5033px;
$icon-ava-user-width: 240px;
$icon-ava-user-height: 240px;
$icon-ava-user-total-width: 6112px;
$icon-ava-user-total-height: 5293px;
$icon-ava-user-image: '../img/sprite-png.png';
$icon-ava-user: (5418px, 5033px, -5418px, -5033px, 240px, 240px, 6112px, 5293px, '../img/sprite-png.png', 'icon-ava_user', );
$icon-badge-1-name: 'icon-badge_1';
$icon-badge-1-x: 864px;
$icon-badge-1-y: 865px;
$icon-badge-1-offset-x: -864px;
$icon-badge-1-offset-y: -865px;
$icon-badge-1-width: 44px;
$icon-badge-1-height: 44px;
$icon-badge-1-total-width: 6112px;
$icon-badge-1-total-height: 5293px;
$icon-badge-1-image: '../img/sprite-png.png';
$icon-badge-1: (864px, 865px, -864px, -865px, 44px, 44px, 6112px, 5293px, '../img/sprite-png.png', 'icon-badge_1', );
$icon-badge-2-name: 'icon-badge_2';
$icon-badge-2-x: 810px;
$icon-badge-2-y: 811px;
$icon-badge-2-offset-x: -810px;
$icon-badge-2-offset-y: -811px;
$icon-badge-2-width: 44px;
$icon-badge-2-height: 44px;
$icon-badge-2-total-width: 6112px;
$icon-badge-2-total-height: 5293px;
$icon-badge-2-image: '../img/sprite-png.png';
$icon-badge-2: (810px, 811px, -810px, -811px, 44px, 44px, 6112px, 5293px, '../img/sprite-png.png', 'icon-badge_2', );
$icon-badge-3-name: 'icon-badge_3';
$icon-badge-3-x: 756px;
$icon-badge-3-y: 757px;
$icon-badge-3-offset-x: -756px;
$icon-badge-3-offset-y: -757px;
$icon-badge-3-width: 44px;
$icon-badge-3-height: 44px;
$icon-badge-3-total-width: 6112px;
$icon-badge-3-total-height: 5293px;
$icon-badge-3-image: '../img/sprite-png.png';
$icon-badge-3: (756px, 757px, -756px, -757px, 44px, 44px, 6112px, 5293px, '../img/sprite-png.png', 'icon-badge_3', );
$icon-button-check-name: 'icon-button_check';
$icon-button-check-x: 134px;
$icon-button-check-y: 134px;
$icon-button-check-offset-x: -134px;
$icon-button-check-offset-y: -134px;
$icon-button-check-width: 20px;
$icon-button-check-height: 20px;
$icon-button-check-total-width: 6112px;
$icon-button-check-total-height: 5293px;
$icon-button-check-image: '../img/sprite-png.png';
$icon-button-check: (134px, 134px, -134px, -134px, 20px, 20px, 6112px, 5293px, '../img/sprite-png.png', 'icon-button_check', );
$icon-button-check-a-name: 'icon-button_check_a';
$icon-button-check-a-x: 104px;
$icon-button-check-a-y: 104px;
$icon-button-check-a-offset-x: -104px;
$icon-button-check-a-offset-y: -104px;
$icon-button-check-a-width: 20px;
$icon-button-check-a-height: 20px;
$icon-button-check-a-total-width: 6112px;
$icon-button-check-a-total-height: 5293px;
$icon-button-check-a-image: '../img/sprite-png.png';
$icon-button-check-a: (104px, 104px, -104px, -104px, 20px, 20px, 6112px, 5293px, '../img/sprite-png.png', 'icon-button_check_a', );
$icon-button-enlarge-name: 'icon-button_enlarge';
$icon-button-enlarge-x: 702px;
$icon-button-enlarge-y: 703px;
$icon-button-enlarge-offset-x: -702px;
$icon-button-enlarge-offset-y: -703px;
$icon-button-enlarge-width: 44px;
$icon-button-enlarge-height: 44px;
$icon-button-enlarge-total-width: 6112px;
$icon-button-enlarge-total-height: 5293px;
$icon-button-enlarge-image: '../img/sprite-png.png';
$icon-button-enlarge: (702px, 703px, -702px, -703px, 44px, 44px, 6112px, 5293px, '../img/sprite-png.png', 'icon-button_enlarge', );
$icon-button-radio-name: 'icon-button_radio';
$icon-button-radio-x: 74px;
$icon-button-radio-y: 74px;
$icon-button-radio-offset-x: -74px;
$icon-button-radio-offset-y: -74px;
$icon-button-radio-width: 20px;
$icon-button-radio-height: 20px;
$icon-button-radio-total-width: 6112px;
$icon-button-radio-total-height: 5293px;
$icon-button-radio-image: '../img/sprite-png.png';
$icon-button-radio: (74px, 74px, -74px, -74px, 20px, 20px, 6112px, 5293px, '../img/sprite-png.png', 'icon-button_radio', );
$icon-button-radio-a-name: 'icon-button_radio_a';
$icon-button-radio-a-x: 44px;
$icon-button-radio-a-y: 44px;
$icon-button-radio-a-offset-x: -44px;
$icon-button-radio-a-offset-y: -44px;
$icon-button-radio-a-width: 20px;
$icon-button-radio-a-height: 20px;
$icon-button-radio-a-total-width: 6112px;
$icon-button-radio-a-total-height: 5293px;
$icon-button-radio-a-image: '../img/sprite-png.png';
$icon-button-radio-a: (44px, 44px, -44px, -44px, 20px, 20px, 6112px, 5293px, '../img/sprite-png.png', 'icon-button_radio_a', );
$icon-cat-mob-1-name: 'icon-cat-mob-1';
$icon-cat-mob-1-x: 1734px;
$icon-cat-mob-1-y: 1735px;
$icon-cat-mob-1-offset-x: -1734px;
$icon-cat-mob-1-offset-y: -1735px;
$icon-cat-mob-1-width: 61px;
$icon-cat-mob-1-height: 61px;
$icon-cat-mob-1-total-width: 6112px;
$icon-cat-mob-1-total-height: 5293px;
$icon-cat-mob-1-image: '../img/sprite-png.png';
$icon-cat-mob-1: (1734px, 1735px, -1734px, -1735px, 61px, 61px, 6112px, 5293px, '../img/sprite-png.png', 'icon-cat-mob-1', );
$icon-commerce-name: 'icon-commerce';
$icon-commerce-x: 578px;
$icon-commerce-y: 579px;
$icon-commerce-offset-x: -578px;
$icon-commerce-offset-y: -579px;
$icon-commerce-width: 26px;
$icon-commerce-height: 26px;
$icon-commerce-total-width: 6112px;
$icon-commerce-total-height: 5293px;
$icon-commerce-image: '../img/sprite-png.png';
$icon-commerce: (578px, 579px, -578px, -579px, 26px, 26px, 6112px, 5293px, '../img/sprite-png.png', 'icon-commerce', );
$icon-counter-name: 'icon-counter';
$icon-counter-x: 1805px;
$icon-counter-y: 1806px;
$icon-counter-offset-x: -1805px;
$icon-counter-offset-y: -1806px;
$icon-counter-width: 60px;
$icon-counter-height: 86px;
$icon-counter-total-width: 6112px;
$icon-counter-total-height: 5293px;
$icon-counter-image: '../img/sprite-png.png';
$icon-counter: (1805px, 1806px, -1805px, -1806px, 60px, 86px, 6112px, 5293px, '../img/sprite-png.png', 'icon-counter', );
$icon-credit-card-name: 'icon-credit_card';
$icon-credit-card-x: 2617px;
$icon-credit-card-y: 2644px;
$icon-credit-card-offset-x: -2617px;
$icon-credit-card-offset-y: -2644px;
$icon-credit-card-width: 150px;
$icon-credit-card-height: 150px;
$icon-credit-card-total-width: 6112px;
$icon-credit-card-total-height: 5293px;
$icon-credit-card-image: '../img/sprite-png.png';
$icon-credit-card: (2617px, 2644px, -2617px, -2644px, 150px, 150px, 6112px, 5293px, '../img/sprite-png.png', 'icon-credit_card', );
$icon-desin-name: 'icon-desin';
$icon-desin-x: 164px;
$icon-desin-y: 164px;
$icon-desin-offset-x: -164px;
$icon-desin-offset-y: -164px;
$icon-desin-width: 20px;
$icon-desin-height: 21px;
$icon-desin-total-width: 6112px;
$icon-desin-total-height: 5293px;
$icon-desin-image: '../img/sprite-png.png';
$icon-desin: (164px, 164px, -164px, -164px, 20px, 21px, 6112px, 5293px, '../img/sprite-png.png', 'icon-desin', );
$icon-gifts-name: 'icon-gifts';
$icon-gifts-x: 4148px;
$icon-gifts-y: 3963px;
$icon-gifts-offset-x: -4148px;
$icon-gifts-offset-y: -3963px;
$icon-gifts-width: 260px;
$icon-gifts-height: 60px;
$icon-gifts-total-width: 6112px;
$icon-gifts-total-height: 5293px;
$icon-gifts-image: '../img/sprite-png.png';
$icon-gifts: (4148px, 3963px, -4148px, -3963px, 260px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-gifts', );
$icon-menu-1-mb-name: 'icon-menu_1-mb';
$icon-menu-1-mb-x: 1664px;
$icon-menu-1-mb-y: 1665px;
$icon-menu-1-mb-offset-x: -1664px;
$icon-menu-1-mb-offset-y: -1665px;
$icon-menu-1-mb-width: 60px;
$icon-menu-1-mb-height: 60px;
$icon-menu-1-mb-total-width: 6112px;
$icon-menu-1-mb-total-height: 5293px;
$icon-menu-1-mb-image: '../img/sprite-png.png';
$icon-menu-1-mb: (1664px, 1665px, -1664px, -1665px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_1-mb', );
$icon-menu-1-name: 'icon-menu_1';
$icon-menu-1-x: 418px;
$icon-menu-1-y: 419px;
$icon-menu-1-offset-x: -418px;
$icon-menu-1-offset-y: -419px;
$icon-menu-1-width: 22px;
$icon-menu-1-height: 22px;
$icon-menu-1-total-width: 6112px;
$icon-menu-1-total-height: 5293px;
$icon-menu-1-image: '../img/sprite-png.png';
$icon-menu-1: (418px, 419px, -418px, -419px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_1', );
$icon-menu-2-mb-name: 'icon-menu_2-mb';
$icon-menu-2-mb-x: 1174px;
$icon-menu-2-mb-y: 1175px;
$icon-menu-2-mb-offset-x: -1174px;
$icon-menu-2-mb-offset-y: -1175px;
$icon-menu-2-mb-width: 60px;
$icon-menu-2-mb-height: 60px;
$icon-menu-2-mb-total-width: 6112px;
$icon-menu-2-mb-total-height: 5293px;
$icon-menu-2-mb-image: '../img/sprite-png.png';
$icon-menu-2-mb: (1174px, 1175px, -1174px, -1175px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_2-mb', );
$icon-menu-2-name: 'icon-menu_2';
$icon-menu-2-x: 322px;
$icon-menu-2-y: 323px;
$icon-menu-2-offset-x: -322px;
$icon-menu-2-offset-y: -323px;
$icon-menu-2-width: 22px;
$icon-menu-2-height: 22px;
$icon-menu-2-total-width: 6112px;
$icon-menu-2-total-height: 5293px;
$icon-menu-2-image: '../img/sprite-png.png';
$icon-menu-2: (322px, 323px, -322px, -323px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_2', );
$icon-menu-3-mb-name: 'icon-menu_3-mb';
$icon-menu-3-mb-x: 1594px;
$icon-menu-3-mb-y: 1595px;
$icon-menu-3-mb-offset-x: -1594px;
$icon-menu-3-mb-offset-y: -1595px;
$icon-menu-3-mb-width: 60px;
$icon-menu-3-mb-height: 60px;
$icon-menu-3-mb-total-width: 6112px;
$icon-menu-3-mb-total-height: 5293px;
$icon-menu-3-mb-image: '../img/sprite-png.png';
$icon-menu-3-mb: (1594px, 1595px, -1594px, -1595px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_3-mb', );
$icon-menu-3-name: 'icon-menu_3';
$icon-menu-3-x: 290px;
$icon-menu-3-y: 291px;
$icon-menu-3-offset-x: -290px;
$icon-menu-3-offset-y: -291px;
$icon-menu-3-width: 22px;
$icon-menu-3-height: 22px;
$icon-menu-3-total-width: 6112px;
$icon-menu-3-total-height: 5293px;
$icon-menu-3-image: '../img/sprite-png.png';
$icon-menu-3: (290px, 291px, -290px, -291px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_3', );
$icon-menu-4-mb-name: 'icon-menu_4-mb';
$icon-menu-4-mb-x: 1454px;
$icon-menu-4-mb-y: 1455px;
$icon-menu-4-mb-offset-x: -1454px;
$icon-menu-4-mb-offset-y: -1455px;
$icon-menu-4-mb-width: 60px;
$icon-menu-4-mb-height: 60px;
$icon-menu-4-mb-total-width: 6112px;
$icon-menu-4-mb-total-height: 5293px;
$icon-menu-4-mb-image: '../img/sprite-png.png';
$icon-menu-4-mb: (1454px, 1455px, -1454px, -1455px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_4-mb', );
$icon-menu-4-name: 'icon-menu_4';
$icon-menu-4-x: 258px;
$icon-menu-4-y: 259px;
$icon-menu-4-offset-x: -258px;
$icon-menu-4-offset-y: -259px;
$icon-menu-4-width: 22px;
$icon-menu-4-height: 22px;
$icon-menu-4-total-width: 6112px;
$icon-menu-4-total-height: 5293px;
$icon-menu-4-image: '../img/sprite-png.png';
$icon-menu-4: (258px, 259px, -258px, -259px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_4', );
$icon-menu-5-mb-name: 'icon-menu_5-mb';
$icon-menu-5-mb-x: 1314px;
$icon-menu-5-mb-y: 1315px;
$icon-menu-5-mb-offset-x: -1314px;
$icon-menu-5-mb-offset-y: -1315px;
$icon-menu-5-mb-width: 60px;
$icon-menu-5-mb-height: 60px;
$icon-menu-5-mb-total-width: 6112px;
$icon-menu-5-mb-total-height: 5293px;
$icon-menu-5-mb-image: '../img/sprite-png.png';
$icon-menu-5-mb: (1314px, 1315px, -1314px, -1315px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_5-mb', );
$icon-menu-5-name: 'icon-menu_5';
$icon-menu-5-x: 354px;
$icon-menu-5-y: 355px;
$icon-menu-5-offset-x: -354px;
$icon-menu-5-offset-y: -355px;
$icon-menu-5-width: 22px;
$icon-menu-5-height: 22px;
$icon-menu-5-total-width: 6112px;
$icon-menu-5-total-height: 5293px;
$icon-menu-5-image: '../img/sprite-png.png';
$icon-menu-5: (354px, 355px, -354px, -355px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_5', );
$icon-menu-6-mb-name: 'icon-menu_6-mb';
$icon-menu-6-mb-x: 1384px;
$icon-menu-6-mb-y: 1385px;
$icon-menu-6-mb-offset-x: -1384px;
$icon-menu-6-mb-offset-y: -1385px;
$icon-menu-6-mb-width: 60px;
$icon-menu-6-mb-height: 60px;
$icon-menu-6-mb-total-width: 6112px;
$icon-menu-6-mb-total-height: 5293px;
$icon-menu-6-mb-image: '../img/sprite-png.png';
$icon-menu-6-mb: (1384px, 1385px, -1384px, -1385px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_6-mb', );
$icon-menu-6-name: 'icon-menu_6';
$icon-menu-6-x: 226px;
$icon-menu-6-y: 227px;
$icon-menu-6-offset-x: -226px;
$icon-menu-6-offset-y: -227px;
$icon-menu-6-width: 22px;
$icon-menu-6-height: 22px;
$icon-menu-6-total-width: 6112px;
$icon-menu-6-total-height: 5293px;
$icon-menu-6-image: '../img/sprite-png.png';
$icon-menu-6: (226px, 227px, -226px, -227px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_6', );
$icon-menu-7-mb-name: 'icon-menu_7-mb';
$icon-menu-7-mb-x: 1524px;
$icon-menu-7-mb-y: 1525px;
$icon-menu-7-mb-offset-x: -1524px;
$icon-menu-7-mb-offset-y: -1525px;
$icon-menu-7-mb-width: 60px;
$icon-menu-7-mb-height: 60px;
$icon-menu-7-mb-total-width: 6112px;
$icon-menu-7-mb-total-height: 5293px;
$icon-menu-7-mb-image: '../img/sprite-png.png';
$icon-menu-7-mb: (1524px, 1525px, -1524px, -1525px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_7-mb', );
$icon-menu-7-name: 'icon-menu_7';
$icon-menu-7-x: 514px;
$icon-menu-7-y: 515px;
$icon-menu-7-offset-x: -514px;
$icon-menu-7-offset-y: -515px;
$icon-menu-7-width: 22px;
$icon-menu-7-height: 22px;
$icon-menu-7-total-width: 6112px;
$icon-menu-7-total-height: 5293px;
$icon-menu-7-image: '../img/sprite-png.png';
$icon-menu-7: (514px, 515px, -514px, -515px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_7', );
$icon-menu-8-mb-name: 'icon-menu_8-mb';
$icon-menu-8-mb-x: 1244px;
$icon-menu-8-mb-y: 1245px;
$icon-menu-8-mb-offset-x: -1244px;
$icon-menu-8-mb-offset-y: -1245px;
$icon-menu-8-mb-width: 60px;
$icon-menu-8-mb-height: 60px;
$icon-menu-8-mb-total-width: 6112px;
$icon-menu-8-mb-total-height: 5293px;
$icon-menu-8-mb-image: '../img/sprite-png.png';
$icon-menu-8-mb: (1244px, 1245px, -1244px, -1245px, 60px, 60px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_8-mb', );
$icon-menu-8-name: 'icon-menu_8';
$icon-menu-8-x: 450px;
$icon-menu-8-y: 451px;
$icon-menu-8-offset-x: -450px;
$icon-menu-8-offset-y: -451px;
$icon-menu-8-width: 22px;
$icon-menu-8-height: 22px;
$icon-menu-8-total-width: 6112px;
$icon-menu-8-total-height: 5293px;
$icon-menu-8-image: '../img/sprite-png.png';
$icon-menu-8: (450px, 451px, -450px, -451px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_8', );
$icon-menu-gifts-name: 'icon-menu_gifts';
$icon-menu-gifts-x: 546px;
$icon-menu-gifts-y: 547px;
$icon-menu-gifts-offset-x: -546px;
$icon-menu-gifts-offset-y: -547px;
$icon-menu-gifts-width: 22px;
$icon-menu-gifts-height: 22px;
$icon-menu-gifts-total-width: 6112px;
$icon-menu-gifts-total-height: 5293px;
$icon-menu-gifts-image: '../img/sprite-png.png';
$icon-menu-gifts: (546px, 547px, -546px, -547px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_gifts', );
$icon-menu-info-name: 'icon-menu_info';
$icon-menu-info-x: 482px;
$icon-menu-info-y: 483px;
$icon-menu-info-offset-x: -482px;
$icon-menu-info-offset-y: -483px;
$icon-menu-info-width: 22px;
$icon-menu-info-height: 22px;
$icon-menu-info-total-width: 6112px;
$icon-menu-info-total-height: 5293px;
$icon-menu-info-image: '../img/sprite-png.png';
$icon-menu-info: (482px, 483px, -482px, -483px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_info', );
$icon-menu-orders-name: 'icon-menu_orders';
$icon-menu-orders-x: 386px;
$icon-menu-orders-y: 387px;
$icon-menu-orders-offset-x: -386px;
$icon-menu-orders-offset-y: -387px;
$icon-menu-orders-width: 22px;
$icon-menu-orders-height: 22px;
$icon-menu-orders-total-width: 6112px;
$icon-menu-orders-total-height: 5293px;
$icon-menu-orders-image: '../img/sprite-png.png';
$icon-menu-orders: (386px, 387px, -386px, -387px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-menu_orders', );
$icon-online-name: 'icon-online';
$icon-online-x: 2137px;
$icon-online-y: 2164px;
$icon-online-offset-x: -2137px;
$icon-online-offset-y: -2164px;
$icon-online-width: 150px;
$icon-online-height: 150px;
$icon-online-total-width: 6112px;
$icon-online-total-height: 5293px;
$icon-online-image: '../img/sprite-png.png';
$icon-online: (2137px, 2164px, -2137px, -2164px, 150px, 150px, 6112px, 5293px, '../img/sprite-png.png', 'icon-online', );
$icon-protect-1-name: 'icon-protect_1';
$icon-protect-1-x: 2297px;
$icon-protect-1-y: 2324px;
$icon-protect-1-offset-x: -2297px;
$icon-protect-1-offset-y: -2324px;
$icon-protect-1-width: 150px;
$icon-protect-1-height: 150px;
$icon-protect-1-total-width: 6112px;
$icon-protect-1-total-height: 5293px;
$icon-protect-1-image: '../img/sprite-png.png';
$icon-protect-1: (2297px, 2324px, -2297px, -2324px, 150px, 150px, 6112px, 5293px, '../img/sprite-png.png', 'icon-protect_1', );
$icon-protect-2-name: 'icon-protect_2';
$icon-protect-2-x: 2457px;
$icon-protect-2-y: 2484px;
$icon-protect-2-offset-x: -2457px;
$icon-protect-2-offset-y: -2484px;
$icon-protect-2-width: 150px;
$icon-protect-2-height: 150px;
$icon-protect-2-total-width: 6112px;
$icon-protect-2-total-height: 5293px;
$icon-protect-2-image: '../img/sprite-png.png';
$icon-protect-2: (2457px, 2484px, -2457px, -2484px, 150px, 150px, 6112px, 5293px, '../img/sprite-png.png', 'icon-protect_2', );
$icon-sale-name: 'icon-sale';
$icon-sale-x: 2005px;
$icon-sale-y: 2032px;
$icon-sale-offset-x: -2005px;
$icon-sale-offset-y: -2032px;
$icon-sale-width: 122px;
$icon-sale-height: 122px;
$icon-sale-total-width: 6112px;
$icon-sale-total-height: 5293px;
$icon-sale-image: '../img/sprite-png.png';
$icon-sale: (2005px, 2032px, -2005px, -2032px, 122px, 122px, 6112px, 5293px, '../img/sprite-png.png', 'icon-sale', );
$icon-step-1-name: 'icon-step_1';
$icon-step-1-x: 5018px;
$icon-step-1-y: 4633px;
$icon-step-1-offset-x: -5018px;
$icon-step-1-offset-y: -4633px;
$icon-step-1-width: 190px;
$icon-step-1-height: 190px;
$icon-step-1-total-width: 6112px;
$icon-step-1-total-height: 5293px;
$icon-step-1-image: '../img/sprite-png.png';
$icon-step-1: (5018px, 4633px, -5018px, -4633px, 190px, 190px, 6112px, 5293px, '../img/sprite-png.png', 'icon-step_1', );
$icon-step-2-name: 'icon-step_2';
$icon-step-2-x: 5218px;
$icon-step-2-y: 4833px;
$icon-step-2-offset-x: -5218px;
$icon-step-2-offset-y: -4833px;
$icon-step-2-width: 190px;
$icon-step-2-height: 190px;
$icon-step-2-total-width: 6112px;
$icon-step-2-total-height: 5293px;
$icon-step-2-image: '../img/sprite-png.png';
$icon-step-2: (5218px, 4833px, -5218px, -4833px, 190px, 190px, 6112px, 5293px, '../img/sprite-png.png', 'icon-step_2', );
$icon-step-3-name: 'icon-step_3';
$icon-step-3-x: 4818px;
$icon-step-3-y: 4433px;
$icon-step-3-offset-x: -4818px;
$icon-step-3-offset-y: -4433px;
$icon-step-3-width: 190px;
$icon-step-3-height: 190px;
$icon-step-3-total-width: 6112px;
$icon-step-3-total-height: 5293px;
$icon-step-3-image: '../img/sprite-png.png';
$icon-step-3: (4818px, 4433px, -4818px, -4433px, 190px, 190px, 6112px, 5293px, '../img/sprite-png.png', 'icon-step_3', );
$icon-step-4-name: 'icon-step_4';
$icon-step-4-x: 4418px;
$icon-step-4-y: 4033px;
$icon-step-4-offset-x: -4418px;
$icon-step-4-offset-y: -4033px;
$icon-step-4-width: 190px;
$icon-step-4-height: 190px;
$icon-step-4-total-width: 6112px;
$icon-step-4-total-height: 5293px;
$icon-step-4-image: '../img/sprite-png.png';
$icon-step-4: (4418px, 4033px, -4418px, -4033px, 190px, 190px, 6112px, 5293px, '../img/sprite-png.png', 'icon-step_4', );
$icon-step-5-name: 'icon-step_5';
$icon-step-5-x: 4618px;
$icon-step-5-y: 4233px;
$icon-step-5-offset-x: -4618px;
$icon-step-5-offset-y: -4233px;
$icon-step-5-width: 190px;
$icon-step-5-height: 190px;
$icon-step-5-total-width: 6112px;
$icon-step-5-total-height: 5293px;
$icon-step-5-image: '../img/sprite-png.png';
$icon-step-5: (4618px, 4233px, -4618px, -4233px, 190px, 190px, 6112px, 5293px, '../img/sprite-png.png', 'icon-step_5', );
$icon-time-name: 'icon-time';
$icon-time-x: 194px;
$icon-time-y: 195px;
$icon-time-offset-x: -194px;
$icon-time-offset-y: -195px;
$icon-time-width: 22px;
$icon-time-height: 22px;
$icon-time-total-width: 6112px;
$icon-time-total-height: 5293px;
$icon-time-image: '../img/sprite-png.png';
$icon-time: (194px, 195px, -194px, -195px, 22px, 22px, 6112px, 5293px, '../img/sprite-png.png', 'icon-time', );
$icon-title-border-name: 'icon-title-border';
$icon-title-border-x: 5668px;
$icon-title-border-y: 5283px;
$icon-title-border-offset-x: -5668px;
$icon-title-border-offset-y: -5283px;
$icon-title-border-width: 444px;
$icon-title-border-height: 10px;
$icon-title-border-total-width: 6112px;
$icon-title-border-total-height: 5293px;
$icon-title-border-image: '../img/sprite-png.png';
$icon-title-border: (5668px, 5283px, -5668px, -5283px, 444px, 10px, 6112px, 5293px, '../img/sprite-png.png', 'icon-title-border', );
$icon-wave-name: 'icon-wave';
$icon-wave-x: 2777px;
$icon-wave-y: 2804px;
$icon-wave-offset-x: -2777px;
$icon-wave-offset-y: -2804px;
$icon-wave-width: 221px;
$icon-wave-height: 9px;
$icon-wave-total-width: 6112px;
$icon-wave-total-height: 5293px;
$icon-wave-image: '../img/sprite-png.png';
$icon-wave: (2777px, 2804px, -2777px, -2804px, 221px, 9px, 6112px, 5293px, '../img/sprite-png.png', 'icon-wave', );
$icon-why-1-name: 'icon-why_1';
$icon-why-1-x: 3768px;
$icon-why-1-y: 3583px;
$icon-why-1-offset-x: -3768px;
$icon-why-1-offset-y: -3583px;
$icon-why-1-width: 180px;
$icon-why-1-height: 180px;
$icon-why-1-total-width: 6112px;
$icon-why-1-total-height: 5293px;
$icon-why-1-image: '../img/sprite-png.png';
$icon-why-1: (3768px, 3583px, -3768px, -3583px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_1', );
$icon-why-2-name: 'icon-why_2';
$icon-why-2-x: 3008px;
$icon-why-2-y: 2823px;
$icon-why-2-offset-x: -3008px;
$icon-why-2-offset-y: -2823px;
$icon-why-2-width: 180px;
$icon-why-2-height: 180px;
$icon-why-2-total-width: 6112px;
$icon-why-2-total-height: 5293px;
$icon-why-2-image: '../img/sprite-png.png';
$icon-why-2: (3008px, 2823px, -3008px, -2823px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_2', );
$icon-why-3-name: 'icon-why_3';
$icon-why-3-x: 3578px;
$icon-why-3-y: 3393px;
$icon-why-3-offset-x: -3578px;
$icon-why-3-offset-y: -3393px;
$icon-why-3-width: 180px;
$icon-why-3-height: 180px;
$icon-why-3-total-width: 6112px;
$icon-why-3-total-height: 5293px;
$icon-why-3-image: '../img/sprite-png.png';
$icon-why-3: (3578px, 3393px, -3578px, -3393px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_3', );
$icon-why-4-name: 'icon-why_4';
$icon-why-4-x: 3198px;
$icon-why-4-y: 3013px;
$icon-why-4-offset-x: -3198px;
$icon-why-4-offset-y: -3013px;
$icon-why-4-width: 180px;
$icon-why-4-height: 180px;
$icon-why-4-total-width: 6112px;
$icon-why-4-total-height: 5293px;
$icon-why-4-image: '../img/sprite-png.png';
$icon-why-4: (3198px, 3013px, -3198px, -3013px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_4', );
$icon-why-5-name: 'icon-why_5';
$icon-why-5-x: 3958px;
$icon-why-5-y: 3773px;
$icon-why-5-offset-x: -3958px;
$icon-why-5-offset-y: -3773px;
$icon-why-5-width: 180px;
$icon-why-5-height: 180px;
$icon-why-5-total-width: 6112px;
$icon-why-5-total-height: 5293px;
$icon-why-5-image: '../img/sprite-png.png';
$icon-why-5: (3958px, 3773px, -3958px, -3773px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_5', );
$icon-why-6-name: 'icon-why_6';
$icon-why-6-x: 3388px;
$icon-why-6-y: 3203px;
$icon-why-6-offset-x: -3388px;
$icon-why-6-offset-y: -3203px;
$icon-why-6-width: 180px;
$icon-why-6-height: 180px;
$icon-why-6-total-width: 6112px;
$icon-why-6-total-height: 5293px;
$icon-why-6-image: '../img/sprite-png.png';
$icon-why-6: (3388px, 3203px, -3388px, -3203px, 180px, 180px, 6112px, 5293px, '../img/sprite-png.png', 'icon-why_6', );
$spritesheet-width: 6112px;
$spritesheet-height: 5293px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($icon-50-percent, $icon-arrow-close, $icon-arrow-down, $icon-arrow-open, $icon-arrow-up, $icon-ava-1, $icon-ava-2, $icon-ava-3, $icon-ava-4, $icon-ava-user, $icon-badge-1, $icon-badge-2, $icon-badge-3, $icon-button-check, $icon-button-check-a, $icon-button-enlarge, $icon-button-radio, $icon-button-radio-a, $icon-cat-mob-1, $icon-commerce, $icon-counter, $icon-credit-card, $icon-desin, $icon-gifts, $icon-menu-1-mb, $icon-menu-1, $icon-menu-2-mb, $icon-menu-2, $icon-menu-3-mb, $icon-menu-3, $icon-menu-4-mb, $icon-menu-4, $icon-menu-5-mb, $icon-menu-5, $icon-menu-6-mb, $icon-menu-6, $icon-menu-7-mb, $icon-menu-7, $icon-menu-8-mb, $icon-menu-8, $icon-menu-gifts, $icon-menu-info, $icon-menu-orders, $icon-online, $icon-protect-1, $icon-protect-2, $icon-sale, $icon-step-1, $icon-step-2, $icon-step-3, $icon-step-4, $icon-step-5, $icon-time, $icon-title-border, $icon-wave, $icon-why-1, $icon-why-2, $icon-why-3, $icon-why-4, $icon-why-5, $icon-why-6, );
$spritesheet: (6112px, 5293px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
